:host {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    font-family: var(--font-heading-2-font-family);
    font-size: var(--font-heading-2-font-size);
    letter-spacing: var(--font-heading-2-letter-spacing);
    font-weight: var(--font-heading-2-font-weight);
    min-height: 5.625rem;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    contain: content; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}
:host([hidden]) {
    display: none;
}

:host([small]) {
    font-family: var(--font-heading-5-font-family);
    font-size: var(--font-heading-5-font-size);
    letter-spacing: var(--font-heading-5-letter-spacing);
    font-weight: var(--font-heading-5-font-weight);
    min-height: 4.125rem; //66px
}
