:host {
    display: table-row;
}

:host([hidden]) {
    display: none;
}

::slotted(rux-table-header-cell:first-child) {
    padding-left: 1.875rem;
}
::slotted(rux-table-header-cell:last-child) {
    padding-right: 1.875rem;
}
