:host {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
    display: block;
}

.tree-node {
    color: var(--color-text-primary);
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    line-height: var(--font-body-1-line-height);
    // border-top: 1px solid var(--color-border-interactive-muted);
    // .parent {
    //     border-left: 1px solid var(--color-border-interactive-muted);
    //     border-right: 1px solid var(--color-border-interactive-muted);
    // }
    // .children {
    //     border-left: none;
    //     border-right: none;
    // }
}

:host([hidden]) {
    display: none;
}

:host([aria-selected='true']) {
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='33' viewBox='0 0 5 33' fill='none'%3E%3Crect width='5' height='33' fill='%234DACFF'/%3E%3C/svg%3E%0A");
    // background-repeat: no-repeat;
    background-color: var(--color-background-surface-selected);
    // .parent {
    //     &::after {
    //         content: '';
    //         height: 30px;
    //         width: 100%;
    //         left: 0;
    //         z-index: 0;
    //         position: absolute;
    //         transition: background-color 0.0967s ease-in 0s;
    //     }
    // }
}

:host([aria-level='1']) {
    .parent {
        // font-weight: bold;
        padding: 0 8px;
        // &::after {
        //     content: '';
        //     height: 30px;
        //     width: 100%;
        //     left: 0;
        //     z-index: 0;
        //     position: absolute;
        //     transition: background-color 0.0967s ease-in 0s;
        // }
        // .selected {
        //     margin-right: -5px;
        // }
    }
    .tree-node:not(.tree-node--has-children) {
        .parent {
            padding-left: 2rem;
        }
    }
}

:host([aria-level='2']) {
    .tree-node:not(.tree-node--has-children) {
        .parent {
            padding-left: 3.5rem;
        }
    }
}

:host([aria-level='3']) {
    .tree-node:not(.tree-node--has-children) {
        .parent {
            padding-left: 5rem;
        }
    }
    .parent {
        padding-left: 3.5rem;
    }
}

:host([aria-level='4']) {
    .tree-node:not(.tree-node--has-children) {
        .parent {
            padding-left: 6.5rem;
        }
    }
    .parent {
        padding-left: 5rem;
    }
}

.parent {
    height: 1.875rem;
    padding: 0 0.5rem 0 2rem;
    display: flex;
    gap: 4px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
        background: var(--color-background-surface-hover);
    }

    .right {
        margin-left: auto;
        display: flex;
    }
}

.children {
    display: none;
}

.tree-node--expanded {
    > .children {
        display: block !important;
    }
}

.arrow {
    cursor: pointer;
    width: 1.25rem;
}

::slotted(rux-status) {
    margin-right: 0.375rem;
}

::slotted(rux-icon) {
    margin-right: 0.25rem;
}

// ::slotted(rux-tree-node) {
//     position: relative;
//     &::before {
//         content: '';
//         order: 1;
//         position: absolute;
//         top: 0;
//         cursor: pointer;
//         width: 20px;
//         height: 20px;
//         margin-right: 1rem;
//         margin-left: 0.15rem;
//         left: -40px;
//         background-color: transparent;
//         transition: transform 0.167s ease-in-out 0s;
//         z-index: 11;
//     }
// }

// .selected {
//     width: 5px;
//     height: 100%;
//     background-color: var(--color-background-surface-selected);
// }
