:host {
    display: block;

    /**
     * @prop --white-space: The text's part white-space
     */
    --white-space: nowrap;
}

.tree-node {
    color: var(--color-text-primary);
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-control-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    line-height: var(--line-height-base);
}

:host([hidden]) {
    display: none;
}

:host([aria-selected='true']) {
    .arrow {
        color: var(--color-text-interactive-default);
    }

    .parent {
        background-color: var(--color-background-surface-selected);
    }
}

:host([aria-level='1']) {
    .parent {
        padding-left: var(--spacing-2);
        padding-right: var(--spacing-2);
    }
    .tree-node:not(.tree-node--has-children) {
        .parent {
            padding-left: 2rem;
        }
    }
}

:host([aria-level='2']) {
    .tree-node:not(.tree-node--has-children) {
        .parent {
            padding-left: 3.5rem;
        }
    }
}

:host([aria-level='3']) {
    .parent {
        padding-left: 3.5rem;
    }
    .tree-node:not(.tree-node--has-children) {
        .parent {
            padding-left: 5rem;
        }
    }
}

:host([aria-level='4']) {
    .parent {
        padding-left: 5rem;
    }
    .tree-node:not(.tree-node--has-children) {
        .parent {
            padding-left: 6.5rem;
        }
    }
}

.parent {
    padding: calc(var(--spacing-050) + var(--spacing-025)) var(--spacing-2)
        calc(var(--spacing-050) + var(--spacing-025)) var(--spacing-8);
    display: flex;
    gap: var(--spacing-050);
    align-items: center;

    &:hover {
        background: var(--color-background-surface-hover);

        .arrow {
            color: var(--color-text-interactive-hover);
        }
    }

    .arrow {
        cursor: pointer;
        min-width: calc(var(--spacing-4) + var(--spacing-1));
    }

    .prefix {
        display: flex;
        margin: 0 var(--spacing-1);
    }

    .suffix {
        margin-left: auto;
        display: flex;
    }
}

.children {
    display: none;
}

.tree-node--expanded {
    > .children {
        display: block !important;
    }
}

:host::part(text) {
    overflow: hidden;
    white-space: var(--white-space);
    text-overflow: ellipsis;
}

:host([wrap]) {
    --white-space: wrap;

    &::part(text) {
        line-height: var(--line-height-sm);
    }

    .arrow {
        align-self: baseline;
    }
}
