:host {
    display: table-cell;
    vertical-align: middle;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--tableHeaderBorderColor);
    background: var(--tableHeaderBackgroundColor);
    color: var(--tableHeaderTextColor);
    font-size: 1.125rem;
    font-size: var(--fontSizeXL);
    font-weight: 400;
    padding: 0.625rem 1rem;
    white-space: nowrap;
}

:host([hidden]) {
    display: none;
}
