/* stylelint-disable selector-id-pattern */
.sbdocs.sbdocs-wrapper {
    background: var(--color-background-base-default);
}

.sbdocs .docs-story {
    background: var(--color-background-surface-default);
}

.sbdocs h1 {
    font-size: 2.125rem;
    font-weight: 400;
    color: var(--color-text-primary);
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.sbdocs h2,
.sbdocs h3 {
    color: var(--color-text-primary);
}

.sbdocs p,
.sbdocs.sbdocs-content p {
    margin: 0 0 1rem;
    font-size: 17px;
    color: var(--color-text-primary);
    font-weight: 300;
    line-height: 1.6;
}

.sbdocs li,
.sbdocs.sbdocs-content li {
    font-size: 17px;
    color: var(--color-text-primary);
    font-weight: 300;
    line-height: 1.6;
}

.sbdocs.sbdocs-content .docblock-argstable-body a {
    color: var(--color-background-interactive-default);
    text-decoration: none;
}

.sbdocs a,
.sbdocs a p,
.sbdocs.sbdocs-content a p {
    color: var(--color-background-interactive-default);
    text-decoration: none;
}

.sbdocs code {
    color: var(--color-text-primary);
}

.sbdocs #story--components-dialog--dialog,
.sbdocs #story--components-modal--modal {
    display: block;
    min-height: 500px;
}

.sbdocs #story--components-dialog--dialog rux-dialog::part(container),
.sbdocs #story--components-modal--modal rux-modal::part(wrapper) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sbdocs #story--components-dialog--with-slots,
.sbdocs #story--components-modal--with-slots {
    display: block;
    min-height: 500px;
}

.sbdocs #story--components-dialog--with-slots rux-dialog::part(container),
.sbdocs #story--components-modal--with-slots rux-modal::part(wrapper) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sbdocs .banner-text p,
.sbdocs .banner-text code {
    color: var(--color-text-inverse);
}

.sbdocs .css-15ysoxh .banner-text p {
    margin-top: 1rem;
}

.sbdocs .css-wzniqs {
    display: flex;
    align-items: center;
}

.sbdocs .framework {
    padding: 1rem;
    text-align: center;
    border-radius: var(--radius-base);
    border: 1px solid var(--color-background-interactive-default);
    cursor: pointer;
}

.sbdocs .framework svg {
    margin-bottom: 2rem;
    width: 100px;
    height: 100px;
}

.sbdocs .framework a p {
    font-size: 1.5rem;
}
