@import './00-presets/__index';
@import "./variables.css";

*, :after, :before {
  box-sizing: inherit;
}

html, body {
  /*font-family: var(--font, "Helvetica Neue", Helvetica, Arial, sans-serif);*/
  font-size: var(--font-size, 1rem);
  color: var(--font-color, #000);
  background-color: var(--background-color, #fff);
}

.container {
  display: flex;
}

.content {
  flex-grow: 1;
  max-width: var(--content-max-width, 1200px);
  padding-right: var(--content-padding-vertical, 1rem);

  /* border: 1px solid red; */

  main {
    /* max-width: 45rem; */
    > pre {
      max-width:100%;
      white-space: normal;
      overflow-x: scroll;
    }
  }

  @media #{$tablet}{
    width:100%;
  }
}

table {
  width: 100%;
  margin-bottom: 1rem;
}

thead tr {
  border-bottom: 2px solid darkgray;
}

th {
  text-align: left;
  padding: 0.35rem 0.25rem;
}

td {
  padding: 0.35rem 0.25rem;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid grey;
}

@media screen and (min-width: 1000px) {
  table {
    max-width: 120%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-top: 70px;
  }
}