@import './00-presets/__index';

.home {
  position: relative;
  box-sizing: border-box;
  background: #000 url(/img/_site/home-bg.jpg) center -120px no-repeat;
  font-family: 'Titillium Web', Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.125rem;  
  scrollbar-color: #282838 #3C3C54;
  scrollbar-width: 14px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;

  &::-webkit-scrollbar-track {
    background-color: #3C3C54;
  }

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #282838;
  }


  /* Anchor background image to top if browser height exceeds image height */
  @media (min-height: 1700px) {    
    background-position: center top;
  }

  /* iOS on mobile does not support fixed background-attachment so anchor to top if width < 768 */
  @media (max-width: 768px) {
    background-position: center top;
    background-attachment: initial;
  }

}

/* older scrollbar theme for home page */
.primary {
  &:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
    color: #FFFFFF;
    background-color: var(--secondary-color);
    text-decoration: none;
  }

  display: inline-block;
  padding: 11px 18px 10px;
  font-size: 18px;

  /* margin: 22px auto 6px; */
  /* width: 10rem; */
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: box-shadow 0.2s, background-color 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid 1px #FFFFFF;
  border-radius: 5px;
  color: var(--secondary-color);

  /* margin: 1rem auto 1rem auto; */
  /* font-family: 'Titillium Web', Helvetica, "Helvetica Neue", Arial, sans-serif; */
}

.home__container {
  max-width: 75em;
  margin: auto;

  p {
    line-height: 1.3;
    line-height: 1.3;
    text-shadow: 1px 1px 1px #333;
  }

  h1, a {
    line-height: 1.3;
    text-shadow: 1px 1px 1px #333;
    color:$link-color;
  }
  h2 {
    color:$text-white;
  }
}

/* Wraps everything above video */

.home__head-material {
  background-color: rgba(19, 17, 34, 0.55);
}

/*---------------------------------------------
------------- HOME NAVIGATION ELEMENTS
----------------------------------------------*/

.home__nav {
  padding: 1rem;
  max-width: var(--home-container-width);
  margin: 0 auto;

  ul {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;
  }

  li {
    font-size: 1.13rem;
    text-align: center;
    font-weight: 600;
    a {
      &:hover{
        text-decoration: none;
      }
    }
  }

  @media #{$tablet}{
    ul {
      width:100%;
      color:red;
    }
  }
}

/* Astro Logo */
.home__masthead {
  margin: 0 auto;
  text-align: center;
  max-width: var(--home-container-width);
}

.home__logo {
  margin: 0.9rem auto 1.5rem auto;
  height: 113px;
  width: 206px;
}

/* Intro Blurb */

.home__intro {
  text-align: left;
  padding: 0 2rem 1rem;
  margin: 0 0 2rem;
  max-width: 60rem;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 1.13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > h1 {
    display:none;
  }

  a {
    display: inline-block;
    width: 10rem;
    margin: 0.5rem auto;
  }
}

/* Wraps everything below intro blurb */

.home__body-material {
  max-width: var(--home-container-width);
  margin: 0 auto;
  padding: 0 30px;
}

/* Video Section */

.home__video {
  margin: 2rem auto 2rem auto;
  max-width: 840px;
}

.video-wrapper {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
}

.video-overlay {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/img/_site/video-bg.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.play-button {
  box-shadow: 0 5 10px rgba(0, 0, 0, 0.4);
}

/*---------------------------------------------
------------- HOME BENEFITS SECTIN ELEMENTS
----------------------------------------------*/

.home__benefits {
  display: flex;
  justify-content: center;
  margin: 2.1rem auto;
  height: 100%;

  li {
    text-align: center;
    width: 32%;
    background: rgba(29, 31, 41, 0.7);
    padding: 1rem 1.5rem 1.5rem;
    margin: 0 1rem;
    border: solid 1px rgba(181, 124, 33, 0.5);
    border-bottom: solid 6px var(--secondary-color);
    font-size: 1.1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  h2 {
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 0.9rem;
  }

  @media #{$tablet}{
    flex-direction: column;
    h2 {
      margin:1rem auto;
    }
    li {
      width:100%;
      margin:1rem auto;
    }
    
  }
}

/* email signup  - some sorta funky overrides in here due to mailchimp */
.home__email-signup {
  margin: 2rem auto;
  padding: 0.45rem 2.8125rem;
  background: rgba(29, 31, 41, 0.7);
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-bottom: solid 6px var(--secondary-color);

  h2 {
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem auto;
  }

  #mc_embed_signup form {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  form {
    > div {
      padding: 0;
      margin: 0;
    }

    input {
      &[type=text], &[type=email] {
        width: auto;
        border: none;
        padding: 13px 19px;
        font-size: 18px;
        border-radius: 2px;
        margin-bottom: 12px;
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  #mc_embed_signup {
    background: transparent;
    clear: left;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .mc-field-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 50rem;

    .mc-field-group {
      min-width: 20rem;
      padding: 0 1rem;
    }
  }

  #mc_embed_signup {
    div {
      &#mce-responses {
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
      }

      &.response {
        margin: 0;
        padding: 0 0 1.7rem;
        float: none;
        width: 100%;
        font-size: 18px;
      }
    }

    #mce-success-response, #mce-error-response {
      color: #fff;
    }
  }

  @media #{$tablet}{
    .mc-field-layout{
      flex-direction: column;
    }
    #mc-embedded-subscribe{
      margin:0rem auto 1rem;
    }
  }
}
/* .home__email-signup #mc-embedded-subscribe.primary:hover {
	color: #FFFFFF;
	background-color: var(--secondary-color);
} */