@import "./abstracts/vars";
@import "./layouts/home";

:root {
  --primary-color: #ffa301;
}

.home .container {
  background-color: #000;
  background-image: url("/img/_site/home-bg-img.jpg"),
    url("/img/_site/home-bg-bottom.png");
  background-position: top center, bottom center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}
.home-container {
  padding: 1.5rem 0;
  width: 100%;
  overflow: hidden;
  font-size: 1rem;
}

.home button.print-button {
  display: none;
}

.home-container .home__body-material {
  width: 1600px;
  max-width: 100%;
}

.home .mobile-nav {
  background: var(--color-background-surface-header);
}

.home__intro {
  text-align: center;
  max-width: 50rem;
}
/*header*/
.version {
  text-align: right;
  padding: 0 1rem 0 0;
  margin: 0;
  font-size: 0.9rem;
}

/*community events*/

.community {
  display: flex;
  flex-direction: column;
  gap: max(2.75rem);
  & h4 {
    margin-top: 0;
    margin-bottom: 1.25rem;
  }
  &.section-container {
    padding-top: 1.25rem;
  }
}

.p-community-events {
  flex-grow: 1;
}
.p-community-links {
  flex-basis: 37.5%;
  font-size: 1rem;
}

.p-community-events {
  &-content {
    display: flex;
    flex-flow: column;
    gap: max(0.75rem);
  }
  &-action {
    text-align: center;
    margin-top: 1rem;
  }
}
.p-community-event,
a.p-community-event {
  padding-block: max(0.75rem);
  padding-inline: max(1.25rem);
  background: var(--color-background-surface-selected);
  border-radius: 3px;
  color: var(--color-text-primary);
  border: 1px solid var(--card-color-border);
  &:hover {
    text-decoration: none;
    color: var(--color-text-primary);
    background: var(--color-background-interactive-muted);
  }
}
.p-community-event {
  display: flex;
  align-items: center;
  gap: max(2.5rem);
  &-heading {
    flex-grow: 1;
  }

  & .-date,
  h5 {
    font-size: 1.25rem;
  }

  & .-time,
  & .p-community-event-subheading {
    font-size: 0.9rem;
    line-height: 1rem;
    color: var(--color-text-secondary);
  }
  &-actions a {
    display: block;
    width: 140px;
    text-align: center;
  }
}

.event-link {
  color: var(--primary-color);
  font-size: 1rem;
  white-space: nowrap;
}

.p-community-link,
a.p-community-link {
  --gap: max(1rem);
  --image-size: max(5rem);
  --padding-inline: max(1rem);
  display: flex;
  padding-block: max(1rem);
  padding-inline: var(--padding-inline);
  background: var(--color-background-surface-selected);
  border-radius: 3px;
  color: var(--color-text-secondary);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid var(--card-color-border);

  &:hover {
    background: var(--color-background-interactive-muted);
  }

  &-heading {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--color-text-primary);
  }
  &-image {
    display: flex;
    align-self: center;
    margin-right: 1rem;
    width: 80px;
    height: 80px;
  }
}

.p-community-links-content {
  display: flex;
  flex-flow: column;
  gap: max(1.25rem);
}

/*articles*/
.articles {
  display: flex;
  justify-content: space-between;

  &-more {
    display: block;
    margin-top: 1rem;
    color: var(--primary-color);
    opacity: 0.9;
    text-align: right;
    text-decoration: none;
    margin-right: 0;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.article,
a.article {
  &-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color-text-secondary);
    text-decoration: none;

    &:hover .article-content {
      background: var(--color-background-interactive-muted);
    }
  }
  &-content {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--card-color-border);
    background: var(--color-background-surface-selected);
    border-radius: 0 0 3px 3px;
    align-self: stretch;
    flex-grow: 1;
    padding: 1.375rem;
    padding-top: 0.625rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    h4 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      overflow: hidden;
      -webkit-box-orient: vertical;
      margin-top: 1rem;
      color: var(--color-text-primary);
    }
  }
  &-image {
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: var(--card-color-border);

    width: 300px;
    line-height: 0;
    img {
      //border-radius: 3px 3px 0 0;
      width: 100%;
    }
  }

  &-tags {
    background: var(--color-background-surface-header);
    padding: 0 12px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    border-radius: 3px;
    color: var(--primary-color);

    li {
      display: inline-block;
    }
    li:after {
      content: " | ";
      color: var(--primary-color);
    }
    li:last-child:after {
      display: none;
    }
  }
}

/*general*/
.button,
a.button {
  border: none;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: var(--color-background-interactive);
  color: var(--color-text-inverse);
}

.button:hover,
.button:active a.button:hover,
a.button:active {
  text-decoration: none;
  background: var(--color-background-interactive-hover);
}

.button-secondary,
a.button-secondary {
  border: 1px solid var(--color-background-interactive);
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: transparent;
  color: var(--color-background-interactive);
}

.button-secondary:hover,
.button-secondary:active a.button-secondary:hover,
a.button:active {
  text-decoration: none;
  background: transparent;
  border-color: var(--color-background-interactive-hover);
  color: var(--color-background-interactive-hover);
}

.link-arrow:after {
  content: url("/img/_site/link-arrow.svg");
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  white-space: nowrap;
}

.section-container {
  background-color: var(--color-background-surface-header);
  padding: 2.25rem;
  border-radius: 6px;
}

.title-block {
  display: flex;
  align-items: baseline;
}

a.button-secondary.title-button {
  margin-bottom: 0.625rem;
  margin-left: auto;
  margin-right: 0;
}
.section-title {
  font-size: 2.125rem;
}

.home__benefits .row {
  gap: 3%;
}

.home__benefits .benefit {
  background-color: var(--color-background-surface-selected);
  border-radius: 3px;
  padding: 20px 40px;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  color: var(--color-text-secondary);
  text-decoration: none;
  border: 1px solid var(--card-color-border);
}

.benefit h2 {
  color: var(--color-text-primary);
  text-align: left;
  margin: 1.5rem 0 0 0;
}

.benefit svg,
.benefit img {
  display: block;
  margin: 0 auto;
}

.benefit:hover,
.benefit:active {
  background: var(--color-background-interactive-muted);
}

/*email-signup*/
/* email signup  - some sorta funky overrides in here due to mailchimp */
.home__email-signup {
  margin: 2rem auto;
  border-bottom: 0;

  #mc_embed_signup {
    h2 {
      text-align: left;
      font-size: 2rem;
      margin: 1rem auto;
      padding: 0 1rem;
    }

    p {
      padding: 0 1rem;
    }

    form {
      display: flex;
      justify-content: center;
      padding: 0;
    }
  }

  form {
    > div {
      padding: 0;
      margin: 0;
    }

    input {
      &[type="text"],
      &[type="email"] {
        width: auto;
        border: none;
        padding: 13px 19px;
        font-size: 18px;
        border-radius: 2px;
        margin-bottom: 12px;
        background-color: transparent;
        color: var(--color-text-primary);
      }
    }
  }

  #mc_embed_signup {
    background: transparent;
    clear: left;
    font-size: 1rem;
    line-height: 1.3rem;

    input {
      border-color: var(--color-background-interactive);
    }
  }

  .mc-field-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 50rem;

    .mc-field-group {
      min-width: 20rem;
      padding: 0 1rem;

      > input {
        border: solid 2px transparent;
      }
    }
  }

  #mc-embedded-subscribe {
    border: 1px solid var(--color-background-interactive);
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: auto;
    margin-top: 0;
  }

  #mc-embedded-subscribe:hover {
    border-color: var(--color-background-interactive-hover);
    color: var(--color-background-interactive-hover);
  }

  #mc_embed_signup {
    div {
      &#mce-responses {
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
      }

      &.response {
        margin: 0;
        padding: 0 0 1.7rem;
        float: none;
        width: 100%;
        font-size: 18px;
      }
    }
    .mc-field-group label {
      margin-bottom: 8px;
    }
    #mc-embedded-subscribe-form div.mce_inline_error {
      position: absolute;
    }
    #mce-success-response,
    #mce-error-response {
      color: var(--color-text-primary);
    }
  }

  @media only screen and (max-width: 969px) {
    .mc-field-layout {
      flex-direction: column;
    }
    #mc-embedded-subscribe {
      margin: 0rem auto 1rem;
    }
  }
}
/************Carousel***************/

//4 slides
.embla {
  width: 1296px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}
.embla__container {
  display: flex;
  justify-content: space-between;
}
.embla__slide {
  flex: 0 0 25%;
  padding: 0 2rem 0 0;
}

.embla__slide:last-child {
  padding-right: 0;
  flex-basis: 300px;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
}
.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: var(--color-background-interactive);
  padding: 0;
}

.embla__button:hover {
  fill: var(--color-background-interactive-hover);
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: -3rem;
}

.embla__button--next {
  right: -3rem;
}

//3 panel
@media screen and (max-width: 1770px) {
  .embla {
    width: 964px;
  }

  .embla__slide {
    flex: 0 0 33%;
  }
}

//2 panel
@media screen and (max-width: 1440px) {
  .embla {
    width: 632px;
  }
  .embla__slide {
    flex: 0 0 50%;
  }
}

//1 panel

@media screen and (max-width: 1080px) {
  .embla {
    width: 300px;
  }
  .embla__slide {
    flex: 0 0 100%;
  }
  .embla__button--prev {
    left: -1.5rem;
  }

  .embla__button--next {
    right: -1.5rem;
  }
}

/**********************RESPONSIVE*****************/

@media screen and (max-width: 1279px) {
  .home__benefits .row {
    flex-direction: column;
  }
  .benefit {
    margin-top: 2.25rem;
  }
  .benefit:first-child {
    margin-top: 0;
  }
}
@media only screen and (max-width: 969px) {
  .p-community-event {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

@media #{$desktop-xl} {
  .community {
    flex-direction: row;
  }
}

/**************FOOTER****************/
.site-footer {
  background-color: var(--color-background-base-default);
  padding: 2rem 2.5rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;

  &__meta {
    text-align: right;
  }

  &__rocket-logo {
    margin-right: 1rem;
  }

  &__designed-by {
    display: flex;
  }

  &__social {
    ul {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem;
    }
    li {
      display: flex;
      justify-content: center;
      width: 2.5rem;
      margin-left: 2rem;
    }
    img {
      height: 2.5rem;
    }
  }
}

.sitemap {
  flex-grow: 1;
  padding: 0 0 0 2.5rem;
  &-title {
    margin-top: 0;
  }
  &-nav {
    ul {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-auto-flow: column;
      gap: 0.25rem;
    }

    a {
      color: #fff;
    }
  }
}
/**footer responsiveness**/
@media screen and (min-width: 1600px) {
  .sitemap-nav {
    width: 800px;
  }
}
@media screen and (max-width: 1320px) {
  .site-footer {
    padding: 2rem;
  }
  .sitemap {
    padding-left: 0;
    flex-grow: 0;
    &-nav {
      width: unset;
    }
  }
}

@media screen and (max-width: 1279px) {
  .site-footer {
    flex-wrap: wrap;
    &__designed-by {
      flex: 0 0 100%;
      margin-bottom: 2rem;
    }
  }
  .sitemap {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1023px) {
  .site-footer {
    flex-direction: column;
    &__designed-by {
      justify-content: center;
    }
    &__meta {
      justify-content: center;
      text-align: center;
    }
    &__social ul {
      justify-content: center;
    }
  }
  .sitemap {
    margin-bottom: 3rem;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .sitemap {
    &-nav {
      ul {
        grid-template-rows: repeat(5, 1fr);
        grid-auto-flow: column;
      }
    }
  }
}
