// CSS VARIABLES 
:root {
  --primary-color: #e47836;
  --secondary-color: #ffa301;

  --background-color: #fff;

  --content-max-text-width: 56.25em;
  --content-max-width: 1200px;

  --font: Helvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-color: rgb(73, 73, 73);
  --font-size: 1rem;
  --font-size-sm: 0.85rem;

  --nav-background-color: #000;
  --nav-font-color: #fff;
  --nav-selected-font-color: var(--primary-color);

  --home-container-width: 75em;

  --scrollbar-thumb-color: #333333;
  --scrollbar-track-color: #999999;

  --nav-scrollbar-thumb-color: rgba(255, 255, 255, 0.25);
  --nav-scrollbar-track-color: transparent;

  --nav-hover-scrollbar-thumb-color: rgba(255, 255, 255, 0.5);
  --nav-hover-scrollbar-track-color: transparent;

  --content-padding-horizontal: 1rem;
  --content-padding-vertical: 2rem;

  --rule-color: #ddd;

  --demo-container-background-color: #1a2634;
  --demo-container-link-color: #fff;
  --demo-container-border-color: rgba(255, 255, 255, 0.25);
  --demo-container-toggle-off-color: #1e2149;
  --demo-container-toggle-on-color: #fff;
}

.light-theme {
  --demo-container-background-color: rgb(236, 239, 244);
  --demo-container-link-color: rgb(30, 33, 73);
  --demo-container-border-color: rgba(0, 0, 0, 0.1);
  --demo-container-toggle-off-color: #1e2149;
  --demo-container-toggle-on-color: #1e2149;
}
