:host {
    display: inline-block;
    padding: 0;
}

:host([hidden]) {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.rux-advanced-status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: 0;
    line-height: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rux-advanced-status__icon-group {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 4.5rem;
}

rux-icon {
    order: 2;
    margin: 0 auto;
}

.rux-advanced-status__status {
    position: absolute;
    top: -0.4rem;
    left: -0.4rem;
    margin: 0;
}

.rux-advanced-status__badge {
    display: block;
    z-index: 2;
    order: 3;
    position: absolute;
    left: 3.438rem;
    top: -0.625rem;
    border: 1px solid var(--color-primary);
    border-radius: 2px;
    padding: 0.5rem 0.25rem;
    color: var(--color-global-basics-white);
    font-family: var(--font-body-3-font-family);
    font-size: var(--font-body-3-font-size);
    font-weight: var(--font-body-3-font-weight);
    letter-spacing: var(--font-body-3-letter-spacing);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #000;
}

.rux-advanced-status__label {
    color: var(--color-default-text);
    font-family: var(--font-body-2-font-family);
    font-size: var(--font-body-2-font-size);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
    overflow: hidden;
    margin-top: 1rem;
    width: 100%;
    max-width: 6.25rem;
}

.rux-advanced-status__sublabel {
    font-family: var(--font-body-3-font-family);
    font-size: var(--font-body-3-font-size);
    font-weight: var(--font-body-3-font-weight);
    letter-spacing: var(--font-body-3-letter-spacing);
    color: var(--color-gsb-default-text);
    display: block;
}

.rux-advanced-status__hidden {
    display: none;
}

:host([status='off']) {
    rux-icon {
        color: var(--color-status-off-fill);
    }
}

:host([status='standby']) {
    rux-icon {
        color: var(--color-status-standby-fill);
    }
}

:host([status='normal']) {
    rux-icon {
        color: var(--color-status-normal-fill);
    }
}

:host([status='caution']) {
    rux-icon {
        color: var(--color-status-caution-fill);
    }
}

:host([status='serious']) {
    rux-icon {
        color: var(--color-status-serious-fill);
    }
}

:host([status='critical']) {
    rux-icon {
        color: var(--color-status-critical-fill);
    }
}
