:host {
    display: inline-flex;
    padding: 0;
}

:host([hidden]) {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.rux-advanced-status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: var(--spacing-0);
    line-height: 0;
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rux-advanced-status__icon-group {
    display: flex;
    position: relative;
    margin: var(--spacing-0) auto;
    width: calc(var(--spacing-16) + var(--spacing-2)); //4.5rem
}

rux-icon {
    order: 2;
    margin: 0 auto;
}

.rux-advanced-status__status {
    position: absolute;
    margin: 0;
}

.rux-advanced-status__badge {
    display: block;
    z-index: 2;
    order: 3;
    position: absolute;
    left: calc(var(--spacing-14) - var(--spacing-025));
    top: calc(var(--spacing-1) * -1);
    box-shadow: 0 0 0 1px var(--color-text-secondary);
    border-radius: var(--radius-base);
    padding: calc(var(--spacing-2) - var(--spacing-025))
        calc(var(--spacing-025) * 3); //7px 3px
    color: var(--color-palette-neutral-000);
    font-family: var(--font-body-3-font-family);
    font-size: var(--font-body-3-font-size);
    font-weight: var(--font-body-3-font-weight);
    letter-spacing: var(--font-body-3-letter-spacing);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #000;
}

.rux-advanced-status__label {
    color: var(--color-text-primary);
    font-family: var(--font-body-2-font-family);
    font-size: var(--font-body-2-font-size);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: var(--line-height-sm);
    overflow: hidden;
    width: 100%;
    max-width: calc(var(--spacing-24) + var(--spacing-2)); //6.5rem
}

.rux-advanced-status__sublabel {
    font-family: var(--font-body-3-font-family);
    font-size: var(--font-body-3-font-size);
    font-weight: var(--font-body-3-font-weight);
    letter-spacing: var(--font-body-3-letter-spacing);
    color: var(--gsb-color-text);
    display: block;
}

.rux-advanced-status__status rux-status::part(status) {
    line-height: 0;
}

.rux-advanced-status__hidden {
    display: none;
}

:host([status='off']) {
    rux-icon {
        color: var(--status-symbol-color-fill-off-on-dark);
    }
}

:host([status='standby']) {
    rux-icon {
        color: var(--status-symbol-color-fill-standby-on-dark);
    }
}

:host([status='normal']) {
    rux-icon {
        color: var(--status-symbol-color-fill-normal-on-dark);
    }
}

:host([status='caution']) {
    rux-icon {
        color: var(--status-symbol-color-fill-caution-on-dark);
    }
}

:host([status='serious']) {
    rux-icon {
        color: var(--status-symbol-color-fill-serious-on-dark);
    }
}

:host([status='critical']) {
    rux-icon {
        color: var(--status-symbol-color-fill-critical-on-dark);
    }
}
