:host {
    display: block;
    position: sticky;

    top: 0;
    left: 0;

    height: 110px;
    width: 100%;

    padding: 0 1.875rem;

    box-sizing: border-box;
    background-color: var(--globalAppHeader);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    contain: content; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}

header {
    display: flex;

    height: 100%;
    width: 100%;

    /* padding: 0 2.5rem; */

    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}

.app-meta {
    display: block;
    padding: 0;
    // pulls app-meta content to justify left
    margin: 0 auto 0 10px;
    color: var(--inputBackground);
}

.app-meta h1 {
    height: 40px;
    letter-spacing: 0.25px;
}

.app-name {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 13px;
}

.app-domain {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
}

.app-version {
    font-size: 1.1875rem;
    font-weight: 300;
    /* color: rgba(255, 255, 255, 0.298039); */

    margin-left: 0.5em;
}
