// :host {
//     display: block;
// }
.rux-calendar {
    background-color: var(--color-background-base-default);
    // border: 2px solid var(--color-border-interactive-muted);
    // height: 350px;
    // width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    .calendar-header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .calendar-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: var(--spacing-2);
    }
    .year-picker,
    .month-picker {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: var(--spacing-1);
        rux-select::part(select) {
            border: none;
            background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6875 14.6375L14.925 17.875C15.4125 18.3625 16.2 18.3625 16.6875 17.875L19.925 14.6375C20.7125 13.85 20.15 12.5 19.0375 12.5H12.5625C11.45 12.5 10.9 13.85 11.6875 14.6375Z' fill='%234DACFF'/%3E%3C/svg%3E%0A"),
                linear-gradient(
                    to left,
                    var(--color-background-base-default) 4rem,
                    var(--color-background-base-default) 10rem
                );
            text-align: end;
        }
    }
    .calendar-body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
        // gap: var(--spacing-2);
        gap: 1px;
        // row-gap: var(--spacing-2);
        // column-gap: var(--spacing-2);
        text-align: center;
        // padding: var(--spacing-4) var(--spacing-2);
        .week-header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .calendar-day {
            border: 1px solid var(--color-border-interactive-default);
            height: 24px;
            padding: var(--spacing-2);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--radius-base);
        }
    }
    rux-day.today::part(button) {
        color: var(--color-text-white);
        // padding-top: 0;
        //? garbage, find a better way
        padding-bottom: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    rux-day.past-future-day::part(button) {
        color: var(--color-text-placeholder);
    }
    rux-day {
        .today-dot {
            height: 8px;
            width: 8px;
            border-radius: 100%;
            background-color: var(--color-text-interactive-default);
            margin-top: 4px;
        }
    }
    #backward-month,
    #forward-month {
        cursor: pointer;
    }
}
