:host {
    /**
    * @prop --clock-text-color: the color of the clock text
    */
    --clock-text-color: var(--color-basics-white);

    /**
    * @prop --clock-background-color: the background color for the clock
    */
    --clock-background-color: var(--color-tertiary-800);

    /**
    * @prop --clock-border-color: the border color for the clock
    */
    --clock-border-color: var(--color-snowflakes-dark-surface);

    /**
    * @prop --clock-label-color: the label color for the clock
    */
    --clock-label-color: var(--color-basics-white);

    display: flex;
    margin: 0 1rem;
    color: var(--clock-text-color);
    font-size: 1.15rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:host([hidden]) {
    display: none;
}

.rux-clock__segment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rux-clock__segment__value {
    display: flex;
    align-items: center;
    font-family: var(--font-family-mono);
    font-weight: 700;

    border: 1px solid var(--clock-border-color);

    background-color: var(--clock-background-color);
    // margin-bottom: 0.25rem;

    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.rux-clock__segment__value {
    font-size: 1.75rem;
    height: 2.75rem;
    padding: 0 0.75rem;
}

:host([small]) .rux-clock__segment__value {
    height: 2.75rem;
    padding: 0 0.75rem;
    font-size: 1.15rem;
    font-weight: 500;
}

.rux-clock__segment__label {
    font-size: 0.875rem;
    color: var(--clock-label-color);
    background: var(--clock-border-color);
    border: 1px solid var(--clock-border-color);
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    text-align: center;
}

.rux-clock__segment--secondary .rux-clock__segment__value {
    font-weight: 400;
}

.rux-clock__aos {
    margin-left: 1em;
}

.rux-clock__los {
    margin-left: 0.5em;
}
