:root {
  --disabledControlOpacity: 0.4;
  --disabledControlCursor: not-allowed;

  --disabledOpacity: 0.4;
  --disabledCursor: not-allowed;

  --buttonBorderRadius: 3px;
  --defaultBorderRadius: 3px;

  --controlOptionSize: 1.25rem;
  --controlBorderRadius: 3px;

  --labelFontSize: 1rem;
  --smallLabelFontSize: 0.875rem;
  --largeLabelFontSize: 1.125rem;

  /* Typography */
  --fontFamily: "Open Sans", sans-serif;
  --fontSize: 1rem; /* 16px */
  --fontSizeXL: 1.125rem;
  --fontSizeLG: 1rem;
  --fontSizeMD: 0.875rem;
  --fontSizeSM: 0.75rem;
  --fontSizeXS: 0.65rem;

  --fontFamilyLight: "Open Sans Light", sans-serif;
  --fontFamilyMono: "Roboto Mono", monospace;

  --colorBlack: rgb(0, 0, 0);
  --colorWhite: rgb(255, 255, 255);
  --colorGray: rgb(204, 204, 204);

  --colorPrimary: rgb(0, 90, 143);
  --colorSecondary: rgb(77, 172, 255);
  --colorTertiary: rgb(40, 63, 88);
  --colorQuaternary: rgb(207, 214, 227);

  --statusDarkCritical: rgb(255, 56, 56);
  --statusDarkSerious: rgb(255, 179, 0);
  --statusDarkCaution: rgb(252, 232, 58);
  --statusDarkNormal: rgb(86, 240, 0);
  --statusDarkStandby: rgb(45, 204, 255);
  --statusDarkOff: rgb(158, 167, 173);

  --statusLightCritical: rgb(255, 42, 4);
  --statusLightSerious: rgb(255, 175, 61);
  --statusLightCaution: rgb(250, 216, 0);
  --statusLightNormal: rgb(0, 226, 0);
  --statusLightStandby: rgb(100, 217, 255);
  --statusLightOff: rgb(142, 154, 163);

  --colorTag1: rgb(25, 199, 202);
  --colorTag2: rgb(120, 112, 208);
  --colorTag3: rgb(160, 13, 190);
  --colorTag4: rgb(216, 83, 30);

  --colorPrimaryLighten5: color-mod(var(--colorPrimary) tint(20%));
  --colorPrimaryLighten1: color-mod(var(--colorPrimary) tint(20%));
  --colorPrimaryLighten2: color-mod(var(--colorPrimary) tint(40%));
  --colorPrimaryLighten3: color-mod(var(--colorPrimary) tint(60%));
  --colorPrimaryLighten4: color-mod(var(--colorPrimary) tint(80%));
  --colorPrimaryDarken1: color-mod(var(--colorPrimary) shade(20%));
  --colorPrimaryDarken2: color-mod(var(--colorPrimary) shade(40%));
  --colorPrimaryDarken3: color-mod(var(--colorPrimary) shade(60%));
  --colorPrimaryDarken4: color-mod(var(--colorPrimary) shade(80%));

  --colorSecondaryLighten1: color-mod(var(--colorSecondary) tint(20%));
  --colorSecondaryLighten2: color-mod(var(--colorSecondary) tint(40%));
  --colorSecondaryLighten3: color-mod(var(--colorSecondary) tint(60%));
  --colorSecondaryLighten4: color-mod(var(--colorSecondary) tint(80%));
  --colorSecondaryDarken1: color-mod(var(--colorSecondary) shade(20%));
  --colorSecondaryDarken2: color-mod(var(--colorSecondary) shade(40%));
  --colorSecondaryDarken3: color-mod(var(--colorSecondary) shade(60%));
  --colorSecondaryDarken4: color-mod(var(--colorSecondary) shade(80%));

  --colorTertiaryLighten1: color-mod(var(--colorTertiary) tint(20%));
  --colorTertiaryLighten2: color-mod(var(--colorTertiary) tint(40%));
  --colorTertiaryLighten3: color-mod(var(--colorTertiary) tint(60%));
  --colorTertiaryLighten4: color-mod(var(--colorTertiary) tint(80%));
  --colorTertiaryDarken1: color-mod(var(--colorTertiary) shade(20%));
  --colorTertiaryDarken2: color-mod(var(--colorTertiary) shade(40%));
  --colorTertiaryDarken3: color-mod(var(--colorTertiary) shade(60%));
  --colorTertiaryDarken4: color-mod(var(--colorTertiary) shade(80%));

  --colorQuaternaryLighten1: color-mod(var(--colorQuaternary) tint(20%));
  --colorQuaternaryLighten2: color-mod(var(--colorQuaternary) tint(40%));
  --colorQuaternaryLighten3: color-mod(var(--colorQuaternary) tint(60%));
  --colorQuaternaryLighten4: color-mod(var(--colorQuaternary) tint(80%));
  --colorQuaternaryDarken1: color-mod(var(--colorQuaternary) shade(20%));
  --colorQuaternaryDarken2: color-mod(var(--colorQuaternary) shade(40%));
  --colorQuaternaryDarken3: color-mod(var(--colorQuaternary) shade(60%));
  --colorQuaternaryDarken4: color-mod(var(--colorQuaternary) shade(80%));

  --colorGrayLighten1: color-mod(var(--colorGray) tint(20%));
  --colorGrayLighten2: color-mod(var(--colorGray) tint(40%));
  --colorGrayLighten3: color-mod(var(--colorGray) tint(60%));
  --colorGrayLighten4: color-mod(var(--colorGray) tint(80%));
  --colorGrayDarken1: color-mod(var(--colorGray) shade(20%));
  --colorGrayDarken2: color-mod(var(--colorGray) shade(40%));
  --colorGrayDarken3: color-mod(var(--colorGray) shade(60%));
  --colorGrayDarken4: color-mod(var(--colorGray) shade(80%));

  --colorCriticalLighten1: color-mod(var(--statusDarkCritical) tint(20%));
  --colorCriticalLighten2: color-mod(var(--statusDarkCritical) tint(40%));
  --colorCriticalLighten3: color-mod(var(--statusDarkCritical) tint(60%));
  --colorCriticalLighten4: color-mod(var(--statusDarkCritical) tint(80%));
  --colorCriticalDarken1: color-mod(var(--statusDarkCritical) shade(20%));
  --colorCriticalDarken2: color-mod(var(--statusDarkCritical) shade(40%));
  --colorCriticalDarken3: color-mod(var(--statusDarkCritical) shade(60%));
  --colorCriticalDarken4: color-mod(var(--statusDarkCritical) shade(80%));

  --colorSeriousLighten1: color-mod(var(--statusDarkSerious) tint(20%));
  --colorSeriousLighten2: color-mod(var(--statusDarkSerious) tint(40%));
  --colorSeriousLighten3: color-mod(var(--statusDarkSerious) tint(60%));
  --colorSeriousLighten4: color-mod(var(--statusDarkSerious) tint(80%));
  --colorSeriousDarken1: color-mod(var(--statusDarkSerious) shade(20%));
  --colorSeriousDarken2: color-mod(var(--statusDarkSerious) shade(40%));
  --colorSeriousDarken3: color-mod(var(--statusDarkSerious) shade(60%));
  --colorSeriousDarken4: color-mod(var(--statusDarkSerious) shade(80%));

  --colorCautionLighten1: color-mod(var(--statusDarkCaution) tint(20%));
  --colorCautionLighten2: color-mod(var(--statusDarkCaution) tint(40%));
  --colorCautionLighten3: color-mod(var(--statusDarkCaution) tint(60%));
  --colorCautionLighten4: color-mod(var(--statusDarkCaution) tint(80%));
  --colorCautionDarken1: color-mod(var(--statusDarkCaution) shade(20%));
  --colorCautionDarken2: color-mod(var(--statusDarkCaution) shade(40%));
  --colorCautionDarken3: color-mod(var(--statusDarkCaution) shade(60%));
  --colorCautionDarken4: color-mod(var(--statusDarkCaution) shade(80%));

  --colorNormalLighten1: color-mod(var(--statusDarkNormal) tint(20%));
  --colorNormalLighten2: color-mod(var(--statusDarkNormal) tint(40%));
  --colorNormalLighten3: color-mod(var(--statusDarkNormal) tint(60%));
  --colorNormalLighten4: color-mod(var(--statusDarkNormal) tint(80%));
  --colorNormalDarken1: color-mod(var(--statusDarkNormal) shade(20%));
  --colorNormalDarken2: color-mod(var(--statusDarkNormal) shade(40%));
  --colorNormalDarken3: color-mod(var(--statusDarkNormal) shade(60%));
  --colorNormalDarken4: color-mod(var(--statusDarkNormal) shade(80%));

  --colorStandbyLighten1: color-mod(var(--statusDarkStandby) tint(20%));
  --colorStandbyLighten2: color-mod(var(--statusDarkStandby) tint(40%));
  --colorStandbyLighten3: color-mod(var(--statusDarkStandby) tint(60%));
  --colorStandbyLighten4: color-mod(var(--statusDarkStandby) tint(80%));
  --colorStandbyDarken1: color-mod(var(--statusDarkStandby) shade(20%));
  --colorStandbyDarken2: color-mod(var(--statusDarkStandby) shade(40%));
  --colorStandbyDarken3: color-mod(var(--statusDarkStandby) shade(60%));
  --colorStandbyDarken4: color-mod(var(--statusDarkStandby) shade(80%));

  --colorOffLighten1: color-mod(var(--statusDarkOff) tint(20%));
  --colorOffLighten2: color-mod(var(--statusDarkOff) tint(40%));
  --colorOffLighten3: color-mod(var(--statusDarkOff) tint(60%));
  --colorOffLighten4: color-mod(var(--statusDarkOff) tint(80%));
  --colorOffDarken1: color-mod(var(--statusDarkOff) shade(20%));
  --colorOffDarken2: color-mod(var(--statusDarkOff) shade(40%));
  --colorOffDarken3: color-mod(var(--statusDarkOff) shade(60%));
  --colorOffDarken4: color-mod(var(--statusDarkOff) shade(80%));

  --colorTag1Lighten1: color-mod(var(--colorTag1) tint(20%));
  --colorTag1Lighten2: color-mod(var(--colorTag1) tint(40%));
  --colorTag1Lighten3: color-mod(var(--colorTag1) tint(60%));
  --colorTag1Lighten4: color-mod(var(--colorTag1) tint(80%));
  --colorTag1Darken1: color-mod(var(--colorTag1) shade(20%));
  --colorTag1Darken2: color-mod(var(--colorTag1) shade(40%));
  --colorTag1Darken3: color-mod(var(--colorTag1) shade(60%));
  --colorTag1Darken4: color-mod(var(--colorTag1) shade(80%));

  --colorTag2Lighten1: color-mod(var(--colorTag2) tint(20%));
  --colorTag2Lighten2: color-mod(var(--colorTag2) tint(40%));
  --colorTag2Lighten3: color-mod(var(--colorTag2) tint(60%));
  --colorTag2Lighten4: color-mod(var(--colorTag2) tint(80%));
  --colorTag2Darken1: color-mod(var(--colorTag2) shade(20%));
  --colorTag2Darken2: color-mod(var(--colorTag2) shade(40%));
  --colorTag2Darken3: color-mod(var(--colorTag2) shade(60%));
  --colorTag2Darken4: color-mod(var(--colorTag2) shade(80%));

  --colorTag3Lighten1: color-mod(var(--colorTag3) tint(20%));
  --colorTag3Lighten2: color-mod(var(--colorTag3) tint(40%));
  --colorTag3Lighten3: color-mod(var(--colorTag3) tint(60%));
  --colorTag3Lighten4: color-mod(var(--colorTag3) tint(80%));
  --colorTag3Darken1: color-mod(var(--colorTag3) shade(20%));
  --colorTag3Darken2: color-mod(var(--colorTag3) shade(40%));
  --colorTag3Darken3: color-mod(var(--colorTag3) shade(60%));
  --colorTag3Darken4: color-mod(var(--colorTag3) shade(80%));

  --colorTag4Lighten1: color-mod(var(--colorTag4) tint(20%));
  --colorTag4Lighten2: color-mod(var(--colorTag4) tint(40%));
  --colorTag4Lighten3: color-mod(var(--colorTag4) tint(60%));
  --colorTag4Lighten4: color-mod(var(--colorTag4) tint(80%));
  --colorTag4Darken1: color-mod(var(--colorTag4) shade(20%));
  --colorTag4Darken2: color-mod(var(--colorTag4) shade(40%));
  --colorTag4Darken3: color-mod(var(--colorTag4) shade(60%));
  --colorTag4Darken4: color-mod(var(--colorTag4) shade(80%));

  --colorWhiteLighten1: color-mod(var(--colorWhite) tint(20%));
  --colorWhiteLighten2: color-mod(var(--colorWhite) tint(40%));
  --colorWhiteLighten3: color-mod(var(--colorWhite) tint(60%));
  --colorWhiteLighten4: color-mod(var(--colorWhite) tint(80%));
  --colorWhiteDarken1: color-mod(var(--colorWhite) shade(20%));
  --colorWhiteDarken2: color-mod(var(--colorWhite) shade(40%));
  --colorWhiteDarken3: color-mod(var(--colorWhite) shade(60%));
  --colorWhiteDarken4: color-mod(var(--colorWhite) shade(80%));

  --colorBlackLighten1: color-mod(var(--colorBlack) tint(20%));
  --colorBlackLighten2: color-mod(var(--colorBlack) tint(40%));
  --colorBlackLighten3: color-mod(var(--colorBlack) tint(60%));
  --colorBlackLighten4: color-mod(var(--colorBlack) tint(80%));
  --colorBlackDarken1: color-mod(var(--colorBlack) shade(20%));
  --colorBlackDarken2: color-mod(var(--colorBlack) shade(40%));
  --colorBlackDarken3: color-mod(var(--colorBlack) shade(60%));
  --colorBlackDarken4: color-mod(var(--colorBlack) shade(80%));

  --colorGrayLighten1: color-mod(var(--colorGray) tint(20%));
  --colorGrayLighten2: color-mod(var(--colorGray) tint(40%));
  --colorGrayLighten3: color-mod(var(--colorGray) tint(60%));
  --colorGrayLighten4: color-mod(var(--colorGray) tint(80%));
  --colorGrayDarken1: color-mod(var(--colorGray) shade(20%));
  --colorGrayDarken2: color-mod(var(--colorGray) shade(40%));
  --colorGrayDarken3: color-mod(var(--colorGray) shade(60%));
  --colorGrayDarken4: color-mod(var(--colorGray) shade(80%));
}
