@font-face {
  font-family: "Open Sans";
  src: url("/src/fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("/src/fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/src/fonts/opensans-light-webfont.woff2") format("woff2"),
    url("/src/fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/src/fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("/src/fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("/src/fonts/roboto-mono-regular.woff2") format("woff2"),
    url("/src/fonts/roboto-mono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
