h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: var(--fontColor, rgb(255, 255, 255));
  margin: 0 0 0.5rem 0;
}

h1,
.h1 {
  font-size: 2.375rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.375rem;
}

p {
  margin: 0 0 1rem 0;
  color: var(--fontColor, rgb(255, 255, 255));
}

a {
  color: var(--fontLinkColor, rgb(77, 172, 255));
  text-decoration: none;
}

a:hover {
  color: var(--fontLinkHoverColor, rgb(113, 189, 255));
}

dt {
  font-weight: 600;
  margin: 0;
}
dd {
  margin: 0 0 0.5rem 0;
}

.light {
  font-weight: 300;
}
.regular {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.condensed {
  font-stretch: condensed;
}

.monospace {
  font-family: "Roboto Mono", sans-serif;
}

.invert,
.inverted {
  background-color: var(--fontInvertedBackgroundColor, rgb(255, 255, 255));
  color: var(--fontInvertedColor, rgb(0, 0, 0));
  padding: 0 0.25rem;
}

.low-contrast {
  opacity: 0.2;
}

/* Size Options */
.xl {
  font-size: var(--fontSizeXL, 1.125rem);
}

.lg {
  font-size: var(--fontSize, 1rem);
}

.md {
  font-size: var(--fontSizeMD, 0.875rem);
}

.sm {
  font-size: var(--fontSizeSM, 0.75rem);
}

.xs {
  font-size: var(--fontSizeXS, 0.65rem);
}
