:host {
    // Internal private design tokens
    --container-header-padding: var(--spacing-4); //16px
    --container-footer-padding: var(--spacing-4); //16px
    --container-header-background-color: var(--color-background-surface-header);

    /**
     * @prop --body-padding: the container's body padding
     */
    --body-padding: var(--spacing-4);
    display: block;
}
//scrollbar colors
* {
    scrollbar-color: var(--color-border-interactive-muted, rgb(43, 101, 155))
        var(--color-background-surface-default, rgb(27, 45, 62));
    &::-webkit-scrollbar {
        width: var(--spacing-4);
        height: var(--spacing-4);
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(
            --color-border-interactive-muted,
            rgb(43, 101, 155)
        );
        border-radius: 8px;
        border: 3px solid transparent;
        background-clip: padding-box;
    }

    /* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
    &::-webkit-scrollbar-thumb:vertical {
        border-left-width: var(--border-width-lg); //4px
    }

    &::-webkit-scrollbar-thumb:horizontal {
        border-top-width: var(--border-width-lg); //4px
    }

    &::-webkit-scrollbar-thumb:active,
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(
            --color-background-interactive-default,
            rgb(58, 129, 191)
        );
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        background-color: var(--color-background-surface-default);
        box-shadow: var(--scrollbar-shadow-inner-vertical);
    }

    &::-webkit-scrollbar-track:vertical {
        box-shadow: var(--scrollbar-shadow-inner-vertical);
    }

    &::-webkit-scrollbar-track:horizontal {
        box-shadow: var(--scrollbar-shadow-inner-vertical);
    }
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-container {
    background: var(--color-background-surface-default);
    border: 1px solid var(--container-color-border);
}

.rux-container__header {
    padding: var(--container-header-padding);
    background: var(--color-background-surface-header);
    font-family: var(--font-heading-2-font-family);
    font-size: var(--font-heading-2-font-size);
    font-weight: var(--font-heading-2-font-weight);
    letter-spacing: var(--font-heading-2-letter-spacing);
    line-height: var(--font-heading-2-line-height);
    text-align: left; // Solves the issue of a parent element with a different text-align overriding.
}

.rux-container__tab-bar {
    background: var(--color-background-surface-header);
    padding: 0 var(--spacing-4) calc(var(--spacing-1) + 2px) var(--spacing-4); //0 16px 6px 16px
}
.rux-container__tab-bar-compact {
    padding: 0;
}

.rux-container__toolbar {
    background: var(--color-background-surface-header);
    padding: var(--container-header-padding);
}

.rux-container__body {
    padding: var(--body-padding);
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    line-height: var(--font-body-1-line-height);
    letter-spacing: var(--font-body-1-letter-spacing);
    text-align: left; // Solves the issue of a parent element with a different text-align overriding.
}

.rux-container__footer {
    background: var(--color-background-surface-default);
    padding: var(--container-footer-padding);
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    line-height: var(--font-body-1-line-height);
    letter-spacing: var(--font-body-1-letter-spacing);
    text-align: left; // Solves the issue of a parent element with a different text-align overriding.
}
