:host {
    cursor: pointer;
    display: block;

    /** @prop --pushbutton-background-color: the Push Button background color */
    --pushbutton-background-color: none;

    /** @prop --pushbutton-border-color: the Push Button border color */
    --pushbutton-border-color: var(--primary);

    /** @prop --pushbutton-text-color: the Push Button text color */
    --pushbutton-text-color: var(--primary);

    /** @prop --pushbutton-selected-background-color: the Push Button background color when checked */
    --pushbutton-selected-background-color: var(--color-normal);

    /** @prop --pushbutton-selected-border-color: the Push Button border color when checked */
    --pushbutton-selected-border-color: var(--color-normal);

    /** @prop --pushbutton-selected-text-color: the Push Button text color when checked */
    --pushbutton-selected-text-color: var(--color-tertiary-900);

    margin: 0 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &[disabled] {
        opacity: var(--disabled-opacity);
        cursor: not-allowed;
    }

    input {
        appearance: none;
        -webkit-appearance: none;
    }

    .rux-push-button {
        &__button {
            font-family: var(--font-b1-font-family);
            font-size: var(--font-b1-font-size);
            font-weight: var(--font-b1-font-weight);
            letter-spacing: var(--font-b1-letter-spacing);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.375rem;
            margin: -27px 0 0 0;
            color: var(--pushbutton-text-color);
            background-color: var(--pushbutton-background-color);
            border-radius: var(--border-radius-button);
            border: 1px solid var(--pushbutton-border-color);
            padding: 0.5rem 1rem;

            &--small {
                padding: 0.25rem 1rem;
            }

            &--large {
                padding: 0.875rem 1rem;
            }

            &:hover {
                cursor: pointer;
            }

            rux-icon {
                height: 1rem;
                width: 1rem;
                margin-right: 0.75rem;
            }

            &--icon-only {
                font-size: 0 !important;

                rux-icon {
                    margin-right: 0;
                }
            }
        }

        &__input:checked + .rux-push-button__button {
            display: flex;
            color: var(--pushbutton-selected-text-color);
            background-color: var(--pushbutton-selected-background-color);
            border-color: var(--pushbutton-selected-border-color);
            rux-icon {
                color: var(--pushbutton-selected-text-color);
            }
        }

        &__input:disabled + .rux-push-button__button {
            opacity: var(--disabled-opacity);
            cursor: not-allowed;
        }
    }
}

:host([hidden]) {
    display: none;
}
