:host {
    display: inline-flex;

    /* layout */
    flex-flow: column wrap;

    /* input */
    cursor: pointer;
}

:host([hidden]) {
    display: none;
}

:host([disabled]) {
    /* input */
    cursor: not-allowed;
}

/* reset native button style */

button {
    appearance: none;
    background-color: transparent;
    border-width: 0;
    color: inherit;
    font: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

/* style rux button */

.rux-button {
    display: flex;

    /* layout */
    align-items: center;
    justify-content: center;

    /* type */
    font: var(--button-type-shorthand);
    letter-spacing: var(--font-body-1-letter-spacing);

    /* input */
    cursor: pointer;
    user-select: none;

    /* decoration */
    border-radius: var(--radius-base);
    box-shadow: var(--border-color, transparent) 0 0 0 var(--border-width, 0px) inset;

    /* state: disabled */
    &:disabled {
        cursor: not-allowed;
        opacity: var(--disabled-opacity);
        pointer-events: none;
    }

    /* variant: icon-only */
    &.--icon-only {
        & rux-icon {
            margin-inline: calc(-4 * var(--scale));
        }
    }

    /* variant: small size */
    &.--small-size {
        padding-block: calc(0.5 * var(--scale));
        padding-inline: calc(4 * var(--scale));
    }

    /* variant: medium size */
    &.--medium-size {
        padding-block: calc(1.5 * var(--scale));
        padding-inline: calc(4 * var(--scale));
    }

    /* variant: large size */
    &.--large-size {
        padding-block: calc(2 * var(--scale));
        padding-inline: calc(4 * var(--scale));
    }

    /* variant: primary appearance */
    &.--default-appearance {
        color: var(--color-text-inverse);
        background-color: var(--color-background-interactive-default);

        /* state: hovered or keyboard focused */
        &:hover,
        &:focus-visible {
            background-color: var(--color-background-interactive-hover);
        }
    }

    /* variant: secondary appearance */
    &.--secondary-appearance {
        /* reference */
        --border-color: currentColor;
        --border-width: 1px;

        /* color */
        background-color: var(--color-background-base-default);
        color: var(--color-text-interactive-default);

        /* state: hovered or keyboard focused */
        &:hover,
        &:focus-visible {
            color: var(--color-text-interactive-hover);
        }
    }

    /* variant: borderless appearance */
    &.--borderless-appearance {
        /* color */
        background-color: var(--color-background-base-default);
        color: var(--color-text-interactive-default);

        /* state: hovered or keyboard focused */
        &:hover,
        &:focus-visible {
            color: var(--color-text-interactive-hover);
        }
    }

    /* shadow: embedded icon */
    & rux-icon {
        display: inline-flex;

        /* layout */
        align-items: center;
        block-size: calc(5 * var(--scale));
        inline-size: calc(5 * var(--scale));
        justify-content: center;
        margin-inline: calc(-0.5 * var(--scale)) calc(1.5 * var(--scale));

        /* color */
        color: currentColor;
        fill: currentColor;
    }

    /* shadow: slot */
    & slot {
        display: inline-block;
    }
}
