@use '../../../node_modules/@astrouxds/design-tokens/dist/scss/_colors-dark.scss' as *;
@use '../../../node_modules/@astrouxds/design-tokens/dist/scss/variables.scss' as *;
:host {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    font-family: var(--font-body-1-font-family, $font-body-1-font-family);
    font-size: var(--font-body-1-font-size, $font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight, $font-body-1-font-weight);
    letter-spacing: var(
        --font-body-1-letter-spacing,
        $font-body-1-letter-spacing
    );
    color: var(--color-text-primary, $color-text-primary);
    border-bottom: 1px solid
        var(--color-border-interactive-muted, $color-border-interactive-muted);
    background-color: var(
        --color-background-surface-default,
        $color-background-surface-default
    );
    user-select: none;
    width: 100%;
}
:host([hidden]) {
    display: none;
}
