dist
loader
storybook-static
*.mdx
*readme.md

# Ignore Stencil Build files
packages/web-components/src/components.d.ts
src/globals.d.ts

# Ignore Wrapper Build files
*proxies.ts
*attachProps.ts

# Ignore wrappers
packages/angular-workspace/
packages/react

#Ignore WC Tests
packages/web-components/tests
