dist
loader
storybook-static
*.mdx
*readme.md

# Ignore Stencil Build files
packages/web-components/src/components.d.ts
src/globals.d.ts

# Ignore Wrapper Build files
*proxies.ts
*attachProps.ts

# Ignore Astro-uxds css files
packages/astro-uxds/css

packages/web-components/tests
