:host {
}

.hidden {
    display: none;
}
.tooltip {
    background: #efefef;
    padding: 4px;
    color: black;
    width: fit-content;
    border-radius: 4px;
    z-index: 100; // overlays every component except for rux-dialog and rux-classification-marking
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    //remove eventually in favor of floating-ui
    // top: calc(-100% - var(--spacing-3));
    // left: auto;
    // right: auto;
    // white-space: nowrap;
}
