:host {
}

.hidden {
    display: none;
}
.tooltip {
    background: var(--color-palette-grey-100);
    padding: var(--spacing-1);
    color: var(--color-text-inverse);
    width: fit-content;
    border-radius: var(--spacing-1);
    z-index: 100; // overlays every component except for rux-dialog and rux-classification-marking
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    //remove eventually in favor of floating-ui
    // top: calc(-100% - var(--spacing-3));
    // left: auto;
    // right: auto;
    // white-space: nowrap;
}
