/*
**	This is as close as we get to a CSS reset in Astro, moving everything to
**	the old IE border-box model of including padding in the overall size.
*/
html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*
**
**
**
*/
body {
    margin: 0;
    padding: 0;

    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    color: var(--color-text-primary, rgb(255, 255, 255));

    background-color: var(--color-background-base-default);
    scrollbar-color: var(--color-interactive-muted);

    a {
        text-decoration: none;
        color: var(--color-interactive-default);
    }
    a:hover {
        text-decoration: underline;
        color: var(--color-interactive-hover);
    }
}

label {
    user-select: none;
}

/*
** CSS-styled Scrollbars for IE & Webkit browsers
** Dark theme by default.
**
*/

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-interactive-muted, rgb(43, 101, 155));
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

/* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
::-webkit-scrollbar-thumb:vertical {
    border-left-width: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    border-top-width: 4px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-interactive-default, rgb(58, 129, 191));
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: var(--color-background-surface-default, rgb(27, 45, 62));
}

::-webkit-scrollbar-track:vertical {
    box-shadow: var(--shadow-inner-scrollbar-vertical);
}

::-webkit-scrollbar-track:horizontal {
    box-shadow: var(--shadow-inner-scrollbar-horizontal);
}
