/*
**	This is as close as we get to a CSS reset in Astro, moving everything to
**	the old IE border-box model of including padding in the overall size.
*/
html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*
**
**
**
*/
body {
    margin: 0;
    padding: 0;

    font-family: var(--font-b1-font-family);
    font-size: var(--font-b1-font-size);
    font-weight: var(--font-b1-font-weight);
    letter-spacing: var(--font-b1-letter-spacing);
    color: var(--color-default-text, rgb(255, 255, 255));

    background-color: var(--color-background);
    scrollbar-color: var(--color-active);
}

label {
    user-select: none;
}

/*
** CSS-styled Scrollbars for IE & Webkit browsers
** Dark theme by default.
**
*/

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-active, rgb(43, 101, 155));
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

/* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
::-webkit-scrollbar-thumb:vertical {
    border-left-width: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    border-top-width: 4px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary, rgb(58, 129, 191));
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: var(--color-surface, rgb(27, 45, 62));
}

::-webkit-scrollbar-track:vertical {
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track:horizontal {
    box-shadow: inset 1px 3px 3px 0px rgba(0, 0, 0, 0.5);
}
