// Dark/Default Theme Variables Mixin
// This a mixin to allow for variables to be included in the shadow dom of a component and overwrite global thmese when necessary.
// @use './tokens/colors-dark' as variables;
:root {
    // Sets default theme variables for component library
    // @include variables.root-variables;

    --indeterminate-gradient: conic-gradient(
        rgba(77, 172, 255, 0),
        rgba(51, 51, 51, 0),
        rgba(77, 172, 255, 0.3),
        rgba(77, 172, 255, 0.6),
        rgba(77, 172, 255, 0.7),
        rgb(77, 172, 255)
    );
    --indeterminate-nub-color: #4dacff;
    //Status symbol fills and border
    --standby-fill: #2dccff;
    --standby-border: #2dccff;
    --standby-fill-opacity: 0;
    --critical-fill: #ff3838;
    --critical-border: #ff3838;
    --serious-fill: #ffb302;
    --serious-border: #ffb302;
    --caution-fill: #fce83a;
    --caution-border: #fce83a;
    --normal-fill: #56f000;
    --normal-border: #56f000;
    --off-fill: #a4abb6;
    --off-border: #a4abb6;

    //dropdown arrows
    --dropdown-arrow: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6875 14.6375L14.925 17.875C15.4125 18.3625 16.2 18.3625 16.6875 17.875L19.925 14.6375C20.7125 13.85 20.15 12.5 19.0375 12.5H12.5625C11.45 12.5 10.9 13.85 11.6875 14.6375Z' fill='%234DACFF'/%3E%3C/svg%3E%0A");

    //focus variables
    --container-footer-color-background: #172635;
    --container-header-color-background: #172635;
}

.light-theme {
    --indeterminate-gradient: conic-gradient(
        rgba(47, 122, 167, 0),
        rgba(51, 51, 51, 0),
        rgba(0, 90, 143, 0.3),
        rgba(0, 90, 143, 0.6),
        rgba(47, 122, 167, 0.7),
        rgb(47, 122, 167)
    );
    --indeterminate-nub-color: #2f7aa7;
    //Status symbol fills and border
    --standby-fill: #2dccff;
    --standby-fill-opacity: 1;
    --standby-border: #285766;
    --critical-fill: #ff3838;
    --critical-border: #661102;
    --serious-fill: #ffb302;
    --serious-border: #664618;
    --caution-fill: #fce83a;
    --caution-border: #645600;
    --normal-fill: #56f000;
    --normal-border: #005a00;
    --off-fill: #a4abb6;
    --off-border: #3c3e42;

    //dropdown arrows
    --dropdown-arrow: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6875 14.6375L14.925 17.875C15.4125 18.3625 16.2 18.3625 16.6875 17.875L19.925 14.6375C20.7125 13.85 20.15 12.5 19.0375 12.5H12.5625C11.45 12.5 10.9 13.85 11.6875 14.6375Z' fill='%23005A8F'/%3E%3C/svg%3E%0A");
}
