// Dark/Default Theme Variables Mixin
// This a mixin to allow for variables to be included in the shadow dom of a component and overwrite global thmese when necessary.
@mixin root-variables {
    --background: #101923;
    --global-status-bar: #172635;
    --surface: #1b2d3e;
    --default-text: #ffffff;
    --secondary-text: #d4d8dd;
    --placeholder-text: rgba(255, 255, 255, 0.6);
    --inverse-text: #080c11;
    --primary: #4dacff;
    --primary-alt: #3a87cf;
    --active: #2b659b;
    --selected: #1c3f5e;
    --hover: #92cbff;
    --table-hover: rgba(146, 203, 255, 0.3);
    --list-hover: rgba(28, 63, 94, 0.3);
    --scrollbar-shadow: rgba(0, 0, 0, 0.5);
    --dialog-shadow-1: rgba(0, 0, 0, 0.25);
    --dialog-shadow-2: rgba(0, 0, 0, 0.12);
    --dialog-shadow-3: rgba(0, 0, 0, 0.2);
    --banner-clear: rgba(8, 12, 17, 0.3);
    --gsb-primary: #4dacff;
    --gsb-default-text: #ffffff;
    --classification-unclassified: #007a33;
    --classification-cui: #502b85;
    --classification-confidential: #0033a0;
    --classification-secret: #c8102e;
    --classification-top-secret: #ff8c00;
    --classification-top-secret-sci: #fce83a;

    --color-basics-white: #ffffff;
    --color-basics-black: #000000;
    --color-tag-1-100: #d0f4f4;
    --color-tag-1-200: #a1e9eb;
    --color-tag-1-300: #70dde0;
    --color-tag-1-400: #3ed2d6;
    --color-tag-1-500: #00c7cb;
    --color-tag-1-600: #009fa3;
    --color-tag-1-700: #00777a;
    --color-tag-1-800: #035051;
    --color-tag-1-900: #032828;
    --color-tag-2-100: #e4e2f7;
    --color-tag-2-200: #c9c5ed;
    --color-tag-2-300: #aea8e5;
    --color-tag-2-400: #938bdb;
    --color-tag-2-500: #786dd3;
    --color-tag-2-600: #6058a8;
    --color-tag-2-700: #48417f;
    --color-tag-2-800: #302c54;
    --color-tag-2-900: #18152b;
    --color-tag-3-100: #edcef3;
    --color-tag-3-200: #da9ce7;
    --color-tag-3-300: #c76ada;
    --color-tag-3-400: #b534ce;
    --color-tag-3-500: #a200c1;
    --color-tag-3-600: #81009a;
    --color-tag-3-700: #610074;
    --color-tag-3-800: #41004d;
    --color-tag-3-900: #200227;
    --color-tag-4-100: #f8ddd1;
    --color-tag-4-200: #f0baa3;
    --color-tag-4-300: #ea9875;
    --color-tag-4-400: #e27545;
    --color-tag-4-500: #da5309;
    --color-tag-4-600: #af420a;
    --color-tag-4-700: #833209;
    --color-tag-4-800: #572108;
    --color-tag-4-900: #2b1105;
    --color-primary-100: #cbdee9;
    --color-primary-200: #98bdd3;
    --color-primary-300: #649cbd;
    --color-primary-400: #2f7aa7;
    --color-primary-500: #005a8f;
    --color-primary-600: #004872;
    --color-primary-700: #003655;
    --color-primary-800: #002439;
    --color-primary-900: #00121c;
    --color-status-critical-400: #ff5f60;
    --color-status-critical-500: #ff3838;

    --color-status-critical-800: #570d01;
    --color-status-caution-400: #fded61;
    --color-status-caution-500: #fce83a;
    --color-status-caution-800: #554900;
    --color-status-normal-400: #99f666;
    --color-status-normal-500: #56f000;
    --color-status-normal-800: #015800;
    --color-status-standby-400: #5ce2ff;
    --color-status-standby-500: #2dccff;
    --color-status-standby-800: #224c58;
    --color-status-off-400: #ced6e4;
    --color-status-off-500: #9ea7ad;
    --color-status-off-800: #32363a;
    --color-status-serious-500: #ffb302;
    --color-status-serious-800: #64451a;
    --color-classification-unclassified: #007a33;
    --color-classification-cui: #502b85;
    --color-classification-confidential: #0033a0;
    --color-classification-secret: #c8102e;
    --color-classification-top-secret: #ff8c00;
    --color-classification-top-secret-sci: #fce83a;
    --color-secondary-100: #daeeff;
    --color-secondary-200: #b7dcff;
    --color-secondary-300: #92cbff;
    --color-secondary-400: #6ebaff;
    --color-secondary-500: #4dacff;
    --color-secondary-600: #3a87cf;
    --color-secondary-700: #2b659b;
    --color-secondary-800: #1d4367;
    --color-secondary-900: #0e2234;
    --color-tertiary-100: #d4d8dd;
    --color-tertiary-200: #a9b2bc;
    --color-tertiary-300: #7e8c9b;
    --color-tertiary-400: #52667a;
    --color-tertiary-500: #274059;
    --color-tertiary-600: #1f3347;
    --color-tertiary-700: #172635;
    --color-tertiary-800: #101923;
    --color-tertiary-900: #080c11;
    --color-quaternary-100: #f5f6f9;
    --color-quaternary-200: #eaeef4;
    --color-quaternary-300: #e1e6ef;
    --color-quaternary-400: #d7dee9;
    --color-quaternary-500: #ced6e4;
    --color-quaternary-600: #a4abb6;
    --color-quaternary-700: #7b8089;
    --color-quaternary-800: #51555b;
    --color-quaternary-900: #292a2d;
    --color-snowflakes-dark-surface: #1b2d3e;
    --color-snowflakes-light-shadow: #828181;
    --color-snowflakes-dark-selected: #1c3f5e;
    --color-snowflakes-light-selected: #cee9fc;

    /*
      Aliases
      ==========================================================================
    */

    // --color-border-menu: #2b659b;
    // --color-segmented-button-selected: var(--color-snowflakes-dark-selected);

    --disabled-opacity: 0.4;
    --border-radius-button: 3px;

    --font-monospace-font-size: 1.75rem;
    --font-monospace-font-family: Roboto Mono;
    --font-monospace-font-weight: 500;
    --font-monospace-font-style: normal;
    --font-monospace-letter-spacing: 0;
    --font-b1-font-size: 1rem;
    --font-b1-font-family: Roboto;
    --font-b1-font-weight: 400;
    --font-b1-font-style: normal;
    --font-b1-letter-spacing: 0.005em;
    --font-b1-bold-font-size: 1rem;
    --font-b1-bold-font-family: Roboto;
    --font-b1-bold-font-weight: 700;
    --font-b1-bold-font-style: normal;
    --font-b1-bold-letter-spacing: 0.005em;
    --font-b2-font-size: 0.875rem;
    --font-b2-font-family: Roboto;
    --font-b2-font-weight: 400;
    --font-b2-font-style: normal;
    --font-b2-letter-spacing: 0.005em;
    --font-b2-bold-font-size: 0.875rem;
    --font-b2-bold-font-family: Roboto;
    --font-b2-bold-font-weight: 700;
    --font-b2-bold-font-style: normal;
    --font-b2-bold-letter-spacing: 0.005em;
    --font-b3-font-size: 0.75rem;
    --font-b3-font-family: Roboto;
    --font-b3-font-weight: 400;
    --font-b3-font-style: normal;
    --font-b3-letter-spacing: 0.005em;
    --font-b3-bold-font-size: 0.75rem;
    --font-b3-bold-font-family: Roboto;
    --font-b3-bold-font-weight: 700;
    --font-b3-bold-font-style: normal;
    --font-b3-bold-letter-spacing: 0.005em;
    --font-h1-font-size: 2.125rem;
    --font-h1-font-family: Roboto;
    --font-h1-font-weight: 400;
    --font-h1-font-style: normal;
    --font-h1-letter-spacing: 0.0025em;
    --font-h1-bold-font-size: 2.125rem;
    --font-h1-bold-font-family: Roboto;
    --font-h1-bold-font-weight: 700;
    --font-h1-bold-font-style: normal;
    --font-h1-bold-letter-spacing: 0.0025em;
    --font-h2-font-size: 1.5rem;
    --font-h2-font-family: Roboto;
    --font-h2-font-weight: 400;
    --font-h2-font-style: normal;
    --font-h2-letter-spacing: 0;
    --font-h3-font-size: 1.25rem;
    --font-h3-font-family: Roboto;
    --font-h3-font-weight: 500;
    --font-h3-font-style: normal;
    --font-h3-letter-spacing: 0.0015em;
    --font-h4-font-size: 1.25rem;
    --font-h4-font-family: Roboto;
    --font-h4-font-weight: 300;
    --font-h4-font-style: normal;
    --font-h4-letter-spacing: 0.0015em;
    --font-h5-font-size: 1.125rem;
    --font-h5-font-family: Roboto;
    --font-h5-font-weight: 400;
    --font-h5-font-style: normal;
    --font-h5-letter-spacing: 0;
    --font-h6-font-size: 1.125rem;
    --font-h6-font-family: Roboto;
    --font-h6-font-weight: 300;
    --font-h6-font-style: normal;
    --font-h6-letter-spacing: 0;
    --font-d1-font-size: 3.75rem;
    --font-d1-font-family: Roboto;
    --font-d1-font-weight: 300;
    --font-d1-font-style: normal;
    --font-d1-letter-spacing: -0.005em;
    --font-d2-font-size: 3rem;
    --font-d2-font-family: Roboto;
    --font-d2-font-weight: 400;
    --font-d2-font-style: normal;
    --font-d2-letter-spacing: 0;
    --font-body-b1-font-size: 1rem;
    --font-body-b1-font-family: Roboto;
    --font-body-b1-font-weight: 400;
    --font-body-b1-font-style: normal;
    --font-body-b1-letter-spacing: 0.005em;
    --font-body-b1-bold-font-size: 1rem;
    --font-body-b1-bold-font-family: Roboto;
    --font-body-b1-bold-font-weight: 700;
    --font-body-b1-bold-font-style: normal;
    --font-body-b1-bold-letter-spacing: 0.005em;
    --font-body-b2-font-size: 0.875rem;
    --font-body-b2-font-family: Roboto;
    --font-body-b2-font-weight: 400;
    --font-body-b2-font-style: normal;
    --font-body-b2-letter-spacing: 0.005em;
    --font-body-b2-bold-font-size: 0.875rem;
    --font-body-b2-bold-font-family: Roboto;
    --font-body-b2-bold-font-weight: 700;
    --font-body-b2-bold-font-style: normal;
    --font-body-b2-bold-letter-spacing: 0.005em;
    --font-body-b3-font-size: 0.75rem;
    --font-body-b3-font-family: Roboto;
    --font-body-b3-font-weight: 400;
    --font-body-b3-font-style: normal;
    --font-body-b3-letter-spacing: 0.005em;
    --font-body-b3-bold-font-size: 0.75rem;
    --font-body-b3-bold-font-family: Roboto;
    --font-body-b3-bold-font-weight: 700;
    --font-body-b3-bold-font-style: normal;
    --font-body-b3-bold-letter-spacing: 0.005em;

    /* Typography */
    --font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --font-size: 1rem; /* 16px */
    --font-size-xl: 1.125rem;
    --font-size-lg: 1rem;
    --font-size-md: 0.875rem;
    --font-size-sm: 0.75rem;
    --font-size-xs: 0.65rem;

    --font-family-mono: 'Roboto Mono', monospace;

    --color-critical: var(--color-status-critical-500, rgb(255, 42, 4));
    --color-serious: var(--color-status-serious-500, rgb(255, 175, 61));
    --color-caution: var(--color-status-caution-500, rgb(250, 216, 0));
    --color-normal: var(--color-status-normal-500, rgb(0, 226, 0));
    --color-standby: var(--color-status-standby-500, rgb(45, 204, 255));
    --color-off: var(--color-status-off-500, rgb(142, 154, 163));

    --color-classification-text-light: var(--default-text);
    --color-classification-text-dark: var(--inverse-text);

    --status-symbols: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAAgCAMAAABzRoe3AAAAgVBMVEUAAAD/tQv/swL/OTn/PDzftl9W8QBW8AAtzP8v0P9Z9gD/tAP/uQb/tAItzf8tzf+eqK2ep60uzP9X8QCfqK4uzf8uzf9X8QAuzP9X8ACeqK4vzP9Y8QAuzv9Y8gCeqq4wz/8xzv9A1f9Y8QD/tAP86DpW8AD/swL/ODgtzP+ep63tgXPUAAAAJXRSTlMAGNfAQAv98/IdG8Io52zz8+DZ2dC9trabm4F+a05OQjAaDG6dAJcYcwAAAfdJREFUWMPtmNlygkAQRScyrBp3QTZFNBj8/w9MCGI3dBOHMg9jyvOmVFnn1HUSULx4LibjN/HMTN7Po2cu+PY/cwUfPYg2XhKsbHsVJJ5gcaf+cjZb+lN3qJjxyWIw/lAwNMALreKKFTIJh215Y3sYFiD5AEn9oWBowM4uEPau65A6JcJJ/2ACg/pDwdCAo1W0sI6ixbTsMH18Akn9oWBgwK7xh4LWBmlJSB+dwCD+pEA5wLMLgo3OwcGpvzhxludZfH1Bz4EZrefzdWSqTSCJPylQDggLhhA+oD6/G7d+5W7qk9yV3C8uPyz2KhMYxJ8UKAd4Fhdg3SZwa3/4wLrA7fhfbuwVJpDEnxQoByQFS9I6wQ7ydR16js0FBCzMuxMY1J8WqAYEfEDQXPcr3RjbxNU7vsBEF0R0dwJJ/LkCxYAVH7Bqri8r3QzbZNU7S4FZ44B1/ymgA4zPfZwUA2w+wG6uzyrdHMvk1TszgZnjgLmgyL4T8Dbq8R+bWgUIgw4ABby/Vl8hIckAUMD7a3WIYQIYgC0Af73+jOIJpKAF1F+vf2QwAQxAC7C/ZrcSeAIpegvAX7ObOZgABiAF2F+322mYAAagBeCv2wMNTEAGIAWVv3aPlDABDMAW1P7aPdQjDBiALaj89ftZBSGl+LXgZIoXL/4VXyptNwzuHR/QAAAAAElFTkSuQmCC');

    --color-scrollbar-background-thumb: #2e6799;
    --color-scrollbar-background-thumb-hover: #3a81bf;
    --color-scrollbar-background-track: #203246;
    --color-scrollbar-corner-background: #203246;

    /*
      Dev only
      ==========================================================================
    */
    --spacing-input-label-top: 0.375rem;
    --spacing-input-label-left: 0.625rem; //10px;
}

// Sets default theme variables for component library
:root {
    @include root-variables;
}
