@import '../../dist/astro-web-components/astro-web-components.css';

body {
    padding: 1rem;
}

.grid,
section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
    gap: 2rem;
}

.grid h2,
section h2 {
    grid-column: 1 / 4;
}
