*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(
        --font-body-1-font-family,
        'Roboto',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif
    );
    font-size: var(--font-body-1-font-size, 1rem);
    font-weight: var(--font-body-1-font-weight, 400);
    letter-spacing: var(--font-body-1-letter-spacing, 0.005em);
    color: var(--color-text-primary, #fff);
    background-color: var(--color-background-base-default, #101923);
}

body a {
    text-decoration: none;
    color: var(--color-background-interactive-default, #4dacff);
}

body a:hover {
    text-decoration: underline;
}

body a:focus-visible {
    outline: var(--focus-ring-width, 1px) solid var(--focus-ring-color, #da9ce7);
    outline-offset: var(--spacing-focus-default, 0.125rem);
    border-radius: var(--radius-base, 3px);
}

label {
    user-select: none;
}

/* ** CSS-styled Scrollbars for IE & Webkit browsers ** Dark theme by default. ** */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-border-interactive-muted, #2b659b);
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

/* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
::-webkit-scrollbar-thumb:vertical {
    border-left-width: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    border-top-width: 4px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-background-interactive-default, #4dacff);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: var(--color-background-surface-default, #1b2d3e);
}

::-webkit-scrollbar-track:vertical {
    box-shadow: var(
        --scrollbar-shadow-inner-vertical,
        'inset 3px 3px 3px 0px rgba(0, 0, 0, 0.5)'
    );
}

::-webkit-scrollbar-track:horizontal {
    box-shadow: var(
        --scrollbar-shadow-inner-horizontal,
        'inset 1px 3px 3px 0px rgba(0, 0, 0, 0.5)'
    );
}
