:host {
    display: block;
    border-radius: 3px;
    font-size: var(--font-body-2-bold-font-size);
    font-weight: var(--font-body-2-bold-font-weight);
    line-height: var(--font-body-2-bold-line-height);
    font-family: var(--font-body-2-bold-font-family);
    letter-spacing: var(--font-body-2-bold-letter-spacing);
    padding: 4px 10px;
    text-align: center;
}

:host([status='pass']) {
    height: 24px;
    width: 60px;
    border: 1px solid #56f000; //dark/status/normal-fill
    background: #015800; //global/tag/status/pass
}

:host([status='fail']) {
    height: 24px;
    width: 60px;
    border: 1px solid #ff3838;
    background: #570d01;
}

:host([status='unknown']) {
    height: 24px;
    width: 60px;
    border: 1px solid #9ea7ad;
    background: #32363a;
}

:host([tag-base='0']) {
    min-height: 24px;
    min-width: 60px;
    color: black;
    padding: 0;

    .rux-tag-style--100 {
        //because we are setting the border here since it has to change between each level, the padding must be set here too :/
        border: 1px solid #eaeef4; //global quaternary 200
        background: #f5f6f9; //global quat 400
        border-radius: 3px;
        padding: 4px 10px;
    }
    .rux-tag-style--200 {
        //styles
    }
    .rux-tag-style--300 {
        //styles
    }
}

// .rux-tag-base--0 {
//     color: black;
//     background: green;
//     border: 1px solid red;
// }
