:host {
    display: block;

    /** @prop --select-menu-border-radius: Border radius for Select Menu */
    --select-menu-border-radius: 3px;

    /** @prop --select-menu-border-hover-color: Border Hover Color of the Select Input*/
    --select-menu-border-hover-color: var(--hover);

    /** @prop --select-menu-border-focus-color: Border Focus Color of the Select Input*/
    --select-menu-border-focus-color: var(--hover);

    /** @prop --select-menu-invalid-border-color: Border Color of the Invalid Select Input*/
    --select-menu-invalid-border-color: var(--color-critical);

    /** @prop --select-menu-option-hover-background-color: Background Hover Color of Select Menu Options */
    --select-menu-option-hover-background-color: rgba(28, 63, 94, 0.3);

    /** @prop --select-menu-text-color: Text Color of the Select Input*/
    --select-menu-text-color: var(--primary);

    /** @prop --select-menu-option-group-text-color: Text Color of Select Menu Option Group */
    --select-menu-option-group-text-color: rgba(255, 255, 255, 0.6);

    /** @prop --select-menu-option-text-hover-color: Text Hover Color of the Select Menu Options*/
    --select-menu-option-text-hover-color: var(--hover);

    /** @prop --select-menu-option-selected-background-color: Background Color of the Selected Option*/
    --select-menu-option-selected-background-color: var(--selected);

    /** @prop --select-menu-option-selected-text-color: Text Color of the Selected Option*/
    --select-menu-option-selected-text-color: var(--default-text);

    /** @prop --select-menu-label-color: Text Color of the Label */
    --select-menu-label-color: var(--default-text);

    /** @prop --select-menu-inactive-caret: Caret Shown When the Select Menu is Closed*/
    --select-menu-inactive-caret: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%234dacff%22%20d%3D%22M0%200h10L5%205z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');

    /** @prop --select-menu-active-caret: Caret Shown When the Select Menu is Open*/
    --select-menu-active-caret: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20style%3D%22transform%3A%20rotate%28180deg%29%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%234dacff%22%20d%3D%22M0%200h10L5%205z%22%20fill-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');

    /** @prop --select-menu-background-color: Background Color of the Select Input*/
    --select-menu-background-color: linear-gradient(
        to left,
        var(--selected) 2rem,
        var(--background) 2rem
    );

    /** @prop --select-menu-border-color: Border Color of the Select Input*/
    --select-menu-border-color: var(--color-border-menu);
}

:host([hidden]) {
    display: none;
}

label {
    font-family: var(--font-family);
    display: inline-block;
    margin-bottom: 10px;
    color: var(--select-menu-label-color);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.rux-select {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 1px solid var(--select-menu-border-color);
    border-radius: var(--select-menu-border-radius);
    color: var(--select-menu-text-color);
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 1rem;
    padding: 0.438rem 3.125rem 0.438rem 0.5rem;
    background-image: var(--select-menu-inactive-caret),
        var(--select-menu-background-color);
    background-position: center right 0.625rem, center left 0rem;
    background-repeat: no-repeat;
    user-select: none;

    &:hover {
        cursor: pointer;
        border: 1px solid var(--select-menu-border-hover-color);
    }

    &:active:not(:disabled) {
        background-image: var(--select-menu-active-caret),
            var(--select-menu-background-color);
    }

    &:focus {
        outline: none;
        border: 1px solid var(--select-menu-border-focus-color);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        &:hover {
            border: 1px solid var(--select-menu-border-color);
        }
    }

    &.rux-select-invalid {
        border: 1px solid var(--select-menu-invalid-border-color);
    }

    &::-ms-expand {
        display: none;
    }

    &:focus::-ms-value {
        background: transparent;
    }

    optgroup {
        color: var(--select-menu-option-group-text-color);
        background-color: var(--select-menu-background-color);
    }

    option {
        opacity: 1;
        color: var(--select-menu-text-color);
        border-radius: 0px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);

        &:hover {
            color: var(--select-menu-option-text-hover-color);
            background-color: var(--select-menu-option-hover-background-color);
        }

        &:focus {
            color: var(--select-menu-option-selected-text-color);
            background-color: var(
                --select-menu-option-selected-background-color
            );
        }
    }
}
