@use '../../common/functional-components/FormFieldMessage/form-field-message.scss';

:host {
    display: block;
    scrollbar-color: var(--color-border-interactive-muted)
        var(--color-background-surface-default);
    ::-webkit-scrollbar {
        width: 16px;
        height: 16px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(
            --color-border-interactive-muted,
            rgb(43, 101, 155)
        );
        border-radius: 8px;
        border: 3px solid transparent;
        background-clip: padding-box;
    }

    /* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
    ::-webkit-scrollbar-thumb:vertical {
        border-left-width: 4px;
    }

    ::-webkit-scrollbar-thumb:horizontal {
        border-top-width: 4px;
    }

    ::-webkit-scrollbar-thumb:active,
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(
            --color-background-interactive-default,
            rgb(58, 129, 191)
        );
    }

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-corner {
        background-color: var(
            --color-background-surface-default,
            rgb(27, 45, 62)
        );

        box-shadow: var(--shadow-inner-scrollbar-vertical);
    }

    ::-webkit-scrollbar-track:vertical {
        box-shadow: var(--shadow-inner-scrollbar-vertical);
    }

    ::-webkit-scrollbar-track:horizontal {
        box-shadow: var(--shadow-inner-scrollbar-horizontal);
    }
}

.hidden,
:host([hidden]) {
    display: none;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--color-text-primary);
    font-family: var(--font-control-body-1-font-family);
    font-size: var(--font-control-body-1-font-size);
    font-weight: var(--font-control-body-1-font-weight);
    letter-spacing: var(--font-control-body-1-letter-spacing);
    .rux-label__asterisk {
        margin-left: 4px;
    }
}

.rux-select:not(.rux-select--multiple) {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%234dacff%22%20d%3D%22M0%200h10L5%205z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(
            to left,
            var(--color-background-surface-selected) 2rem,
            var(--color-background-base-default) 2rem
        );
    background-position: center right 0.625rem, center left 0;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
    &:active:not(:disabled) {
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20style%3D%22transform%3A%20rotate%28180deg%29%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%234dacff%22%20d%3D%22M0%200h10L5%205z%22%20fill-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E'),
            linear-gradient(
                to left,
                var(--color-background-surface-selected) 2rem,
                var(--color-background-base-default) 2rem
            );
    }
    &:hover {
        cursor: pointer;
    }
}

.rux-select {
    position: relative;
    background: var(--color-background-base-default);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 1px solid var(--color-border-interactive-muted);
    border-radius: var(--radius-base);
    color: var(--color-background-interactive-default);
    font-family: var(--font-control-body-1-font-family);
    font-size: var(--font-control-body-1-font-size);
    font-weight: var(--font-control-body-1-font-weight);
    letter-spacing: var(--font-control-body-1-letter-spacing);
    user-select: none;

    &--small {
        padding: 3.5px 8px;
    }
    &--medium {
        padding: 7.5px 8px;
    }
    &--large {
        padding: 13.5px 8px;
    }
    &--multiple {
        background: var(--color-background-base-default);
        padding: 0;
        option {
            padding: 0.438rem 0 0.438rem 1rem; // 7px 0px 7px 16px
            text-indent: 1rem;
            &:hover {
                color: var(--color-background-interactive-hover);
                background-color: var(--color-background-surface-hover);
                cursor: pointer;
            }
            &:checked {
                background: var(--color-background-surface-selected);
                color: var(--color-text-primary);
            }
            &:disabled {
                cursor: not-allowed;
                &:hover {
                    color: var(--color-background-interactive-default);
                    background-color: linear-gradient(
                        to left,
                        var(--color-background-surface-selected) 2rem,
                        var(--color-background-base-default) 2rem
                    );
                }
            }
        }
    }
    &--invalid {
        border: 1px solid var(--color-text-error);
    }

    &:hover {
        border: 1px solid var(--color-background-interactive-hover);
    }

    &:focus {
        outline: none;
        border: 1px solid var(--color-background-interactive-hover);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        &:hover {
            border: 1px solid var(--color-border-interactive-muted);
        }
    }

    &::-ms-expand {
        display: none;
    }

    &:focus::-ms-value {
        background: transparent;
    }

    option {
        opacity: 1;
        color: var(--color-background-interactive-default);
        border-radius: 0;

        &:hover {
            color: var(--color-background-interactive-hover);
            background-color: var(--select-menu-option-hover-background-color);
        }

        &:focus {
            color: var(--color-text-primary);
            background-color: var(--color-background-surface-selected);
        }
        &:disabled {
            cursor: not-allowed;
            //var(--select-menu-text-color) with 0.4 opacity
            color: #4dacff66;
        }
    }

    optgroup {
        text-indent: 1rem;
        color: var(--select-menu-text-color);
        font-family: var(--font-body-1-font-family);
        font-size: var(--font-body-1-font-size);
        font-weight: var(--font-body-1-font-weight);
        letter-spacing: var(--font-body-1-letter-spacing);
        font-style: normal;
    }
}
