@use '../../../node_modules/@astrouxds/design-tokens/dist/scss/_colors-dark.scss' as *;
@use '../../../node_modules/@astrouxds/design-tokens/dist/scss/variables.scss' as *;
:host {
    position: relative;
    display: inline-block;
    padding: 1.25rem; //20px
}
:host([value]) {
    display: flex;
}
:host([value]) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.125rem; //2px
}

:host([hidden]) {
    display: none;
}
.rux-progress[value] {
    appearance: none;
    background-color: var(
        --color-background-surface-default,
        $color-background-surface-default
    );
    border: 1px solid
        var(
            --color-background-interactive-default,
            $color-background-interactive-default
        );
    border-radius: var(--progress-radius-outer);
    height: 1.25rem;
    width: 100%;
    &::-webkit-progress-bar {
        background-color: transparent;
    }
    &::-webkit-progress-value {
        border-radius: var(--progress-radius-outer);
        height: 0.875rem;
        margin: 0.125rem 0 0 0.125rem;
        max-width: calc(100% - 4px);
        background: var(
            --color-background-interactive-default,
            $color-background-interactive-default
        );
        transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -webkit-transition: width 0.3s ease;
        -o-transition: width 0.3s ease;
    }
    &::-ms-fill {
        border-radius: var(--progress-radius-outer);
        border: none;
        height: 0.875rem;
        margin: 0.125rem;
        max-width: calc(100% - 0.375rem);
        background-color: var(
            --color-background-interactive-default,
            $color-background-interactive-default
        );
    }
    &::-moz-progress-bar {
        border-radius: var(--progress-radius-outer);
        margin: 0.125rem 0.125rem 0 0.125rem;
        height: 0.875rem;
        max-width: calc(100% - 4px);
        background: var(
            --color-background-interactive-default,
            $color-background-interactive-default
        );
    }
}
.rux-progress__value {
    font-family: var(--font-body-1-font-family, $font-body-1-font-family);
    font-weight: var(--font-body-1-font-weight, $font-body-1-font-weight);
    font-size: var(--font-body-1-font-size, $font-body-1-font-size);
    letter-spacing: var(
        --font-body-1-letter-spacing,
        $font-body-1-letter-spacing
    );
    line-height: var(--font-body-1-line-height, $font-body-1-line-height);
    margin-left: 0.5rem;
    text-align: right;
    color: var(--color-text-primary, $color-text-primary);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
