:host {
    display: block;
    position: relative;
    visibility: visible;
    z-index: 1;
    font-size: var(
        --font-size-base
    ); //fixes issue where parent element with larger font-size causes layout shift.
    line-height: var(
        --line-height-base
    ); //fixes issue where parent element with larger line-height causes layout shift.
    text-align: left;
}

:host([hidden]) {
    display: none;
}

:host(.hidden) {
    display: none;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
