@use '../../../node_modules/@astrouxds/design-tokens/dist/scss/_colors-dark.scss' as *;
@use '../../../node_modules/@astrouxds/design-tokens/dist/scss/variables.scss' as *;
@use '../../common/functional-components/FormFieldMessage/form-field-message.scss';

:host {
    --slider-thumb-size: 19px;
    --slider-value-percent: 50%;
    --slider-top: calc(var(--slider-thumb-size) / -2.7);
    --slider-track-before-thumb-height: 5px;
    --slider-tick-padding-top: 0px;

    display: flex;
    flex-grow: 1;
    flex-flow: column;
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-form-field {
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: var(--spacing-input-label-top);
    }
}

.with-axis-labels {
    padding-bottom: 2rem;
}

.rux-slider {
    height: 1.25rem;
    :hover {
        cursor: pointer;
    }
    :disabled {
        cursor: not-allowed;
    }
    .rux-range:disabled + #steplist {
        opacity: var(--disabled-opacity);
        cursor: not-allowed;
        .tick {
            cursor: not-allowed;
        }
        .tick-label {
            .axis-label {
                cursor: not-allowed;
            }
        }
    }

    #steplist {
        display: grid;
        padding: var(--slider-tick-padding-top) 0.594rem; //9.5px
        cursor: default;

        .tick-label {
            grid-row: 1;
            width: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .axis-label {
                padding-top: 0.25rem; //4px
                cursor: default;
            }
        }
        .tick {
            background: var(
                --color-background-interactive-default,
                $color-background-interactive-default
            );
            height: 0.25rem; //4px
            width: 0.25rem;
            border-radius: 2px;
            cursor: default;
        }
        .tick-label:not(:first-child):not(:last-child) {
            padding: 0;
        }
        :disabled {
            opacity: var(--disabled-opacity);
        }
    }
}

.rux-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    width: 100%;
    margin: 0;
    color: transparent;
}
input[type='range']:focus {
    outline: none;
}

/****** Track ******/

/* Track -> WebKit */
.rux-range::-webkit-slider-runnable-track {
    display: flex;
    align-items: center;
    max-width: 100%;

    /* width: 100%; */
    cursor: pointer;
    border-radius: 2.5px;
    min-height: 1px;
    max-height: var(--slider-track-before-thumb-height);
    background-image: linear-gradient(
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            ),
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            )
        ),
        linear-gradient(
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            ),
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            )
        );
    background-size: var(--slider-value-percent)
            var(--slider-track-before-thumb-height),
        100% 1px;
    background-repeat: no-repeat no-repeat;
    background-position: left, right;
}
.rux-range:disabled::-webkit-slider-runnable-track {
    opacity: var(--disabled-opacity, 0.4);
    cursor: not-allowed;
}

/* Track -> Moz */
.rux-range::-moz-range-track {
    display: flex;
    align-items: center;
    max-width: 100%;

    /* width: 100%; */
    cursor: pointer;
    border-radius: 2.5px;
    min-height: 1px;
    max-height: var(--slider-track-before-thumb-height);
    background-image: linear-gradient(
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            ),
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            )
        ),
        linear-gradient(
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            ),
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            )
        );
    background-size: calc(1 * var(--slider-value-percent))
            var(--slider-track-before-thumb-height),
        100% 1px;
    background-repeat: no-repeat no-repeat;
    background-position: left, right;
}
.rux-range:disabled::-moz-range-track,
.rux-range:disabled::-moz-range-progress {
    opacity: var(--disabled-opacity, 0.4);
    cursor: not-allowed;
}
.rux-range::-moz-range-progress {
    background-color: var(
        --color-background-interactive-default,
        $color-background-interactive-default
    );
}
.rux-input:disabled {
    opacity: var(--disabled-opacity, 0.4);
    cursor: not-allowed;
}

/* Track -> Ms */
.rux-range::-ms-track {
    display: flex;
    align-items: center;
    max-width: 100%;

    /* width: 100%; */
    cursor: pointer;
    border-radius: 2.5px;
    min-height: 1px;
    max-height: 5px;
    background-image: linear-gradient(
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            ),
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            )
        ),
        linear-gradient(
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            ),
            var(
                --color-background-interactive-default,
                $color-background-interactive-default
            )
        );
    background-size: var(--slider-value-percent)
            var(--slider-track-before-thumb-height),
        100% 1px;
    background-repeat: no-repeat no-repeat;
    background-position: left, right;
}
.rux-range::-ms-fill-lower {
    height: 2px;
    background-color: rgb(77, 172, 255);
}
.rux-range::-ms-fill-upper {
    height: 2px;
    background-color: var(
        --color-background-interactive-default,
        $color-background-interactive-default
    );
}

/*****  Thumb ******/

/* Thumb -> Webkit */
.rux-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: var(--slider-top);
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    border-radius: 100%;
    border: 2px solid
        var(
            --color-background-interactive-default,
            $color-background-interactive-default
        );
    background-color: var(
        --color-background-base-default,
        $color-background-base-default
    );
    cursor: pointer;
    z-index: 6;
}

.rux-range::-webkit-slider-thumb:hover {
    border-color: var(
        --color-background-interactive-hover,
        $color-background-interactive-hover
    );
    background-color: var(
        --color-background-base-default,
        $color-background-base-default
    );
}

.rux-range:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

.rux-range:disabled::-webkit-slider-thumb:hover {
    border-color: var(
        --color-background-interactive-default,
        $color-background-interactive-default
    );
}

.rux-range:not(:disabled)::-webkit-slider-thumb:active {
    border-color: var(
        --color-background-interactive-default,
        $color-background-interactive-default
    );
    background-color: var(
        --color-background-base-default,
        $color-background-base-default
    );
}

.rux-range:not(:disabled)::-webkit-slider-thumb:focus,
.rux-range:not(:disabled)::-webkit-slider-thumb:hover:not(:active) {
    background-color: var(
        --color-background-base-default,
        $color-background-base-default
    );
}

/* Thumb -> Moz */
.rux-range::-moz-range-thumb {
    -moz-appearance: none;
    position: relative;
    top: var(--slider-top);
    height: calc(var(--slider-thumb-size) - 4px);
    width: calc(var(--slider-thumb-size) - 4px);
    border-radius: 100%;
    border: 2px solid
        var(
            --color-background-interactive-default,
            $color-background-interactive-default
        );
    background-color: var(
        --color-background-base-default,
        $color-background-base-default
    );
    cursor: pointer;
}
.rux-range:not(:disabled)::-moz-range-thumb:active {
    border-color: var(
        --color-background-interactive-default,
        $color-background-interactive-default
    );
    background-color: var(
        --color-background-base-default,
        $color-background-base-default
    );
}
.rux-range::-moz-range-thumb:hover {
    border-color: var(
        --color-background-interactive-hover,
        $color-background-interactive-hover
    );
}
input:-moz-focusring {
    outline: none;
}
.rux-range:disabled::-moz-range-thumb {
    opacity: var(--disabled-opacity, 0.4);
    cursor: not-allowed;
}

/* Thumb -> Ms */
.rux-range::-ms-thumb {
    position: relative;
    top: var(--slider-top);
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    border-radius: 100%;
    border: 2px solid
        var(
            --color-background-interactive-default,
            $color-background-interactive-default
        );
    background-color: var(
        --color-background-base-default,
        $color-background-base-default
    );
    cursor: pointer;
    z-index: 6;
}
.rux-range:disabled::-ms-thumb {
    opacity: 0.4;
    cursor: not-allowed;
}
