form {
    margin: 0 auto;
    max-width: 330px;
    display: block;
}
.group {
    margin-bottom: 2.25rem;
}
.field {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}
.checkbox {
    margin: 0.5rem 0 1rem 0 !important;
    line-height: 1.2;
}
rux-input {
    width: 100%;
}
.sign-in-btn {
    margin-left: auto;
}
