:host {
    display: inline-flex;
    color: var(--color-background-interactive-default);
}

:host([hidden]) {
    display: none;
}

svg,
svg > svg {
    height: 100%;
    width: auto;
}
.icon {
    display: inline-flex;
}
