:host {
    // display: inline-flex;
    color: var(--color-background-interactive-default);
    display: inline-block;

    width: 1em;
    height: 1em;

    contain: strict;

    fill: currentColor;

    box-sizing: content-box !important;
}

:host([hidden]) {
    display: none;
}

svg,
svg > svg {
    // height: 100%;
    // width: auto;
    width: 100%;
    height: 100%;
}
.icon {
    display: inline-flex;
}
