:host {
    display: table-row;
}

:host([hidden]) {
    display: none;
}

:host(.is-selected) {
    background: var(--table-row-selected-background-color);
    ::slotted(rux-table-cell) {
        border-color: var(--table-row-selected-border-color);
    }
}

:host(:hover:not(.is-selected)) {
    background: var(--table-row-hover-background-color);
    color: var(--table-row-hover-text-color);
}

::slotted(rux-table-cell:first-child) {
    padding-left: 1.875rem;
}

::slotted(rux-table-cell:last-child) {
    padding-right: 1.875rem;
}
