@use '../../../../node_modules/@astrouxds/design-tokens/dist/scss/_colors-dark.scss' as *;
@use '../../../../node_modules/@astrouxds/design-tokens/dist/scss/variables.scss' as *;
:host {
    display: table-row;
}

:host([hidden]) {
    display: none;
}

:host(.is-selected) {
    background: var(
        --color-background-surface-selected,
        $color-background-surface-selected
    );
    ::slotted(rux-table-cell) {
        border-color: var(
            --color-background-base-default,
            $color-background-base-default
        );
    }
}

:host(:hover:not(.is-selected)) {
    background: var(--color-background-surface-hover);
    color: var(--color-text-primary, $color-text-primary);
}

::slotted(rux-table-cell:first-child) {
    padding-left: 1.875rem;
}

::slotted(rux-table-cell:last-child) {
    padding-right: 1.875rem;
}
