@use '../../common/functional-components/FormFieldMessage/form-field-message.scss';
:host {
    display: block;

    /** @prop --switch-hover-off-color: the Switch hover off color */
    --switch-hover-off-color: var(--hover);

    /**
      * @prop --switch-background-color: the Switch off color
      */

    --switch-background-color: var(--background);

    /**
      * @prop --switch-hover-on-color: the Switch hover on color
      */
    --switch-hover-on-color: var(--primary);

    /** @prop --switch-on-color: the Switch on color */
    --switch-on-color: var(--primary);

    /** @prop --switch-off-border-color: the Switch off border color */
    --switch-off-border-color: var(--active);

    padding-left: 1%;
}
.rux-switch {
    position: relative;
    display: flex;
    height: 22px;
    width: 42px;

    // Default Styling
    &__button {
        display: flex;
        align-items: center;
        cursor: pointer;

        // Track
        &::before {
            position: relative;
            display: flex;
            content: '';
            border-radius: 4.7px;
            border: 1px solid;
            border-color: var(--switch-off-border-color);
            background-color: var(--switch-background-color);
            height: 10px;
            width: 30px;
            z-index: 2;
            transition: 0.1s background-color linear;
        }

        // Button
        &::after {
            position: absolute;
            content: '';
            top: 1px;
            left: -4px;
            z-index: 3;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            border: 1px solid var(--switch-hover-off-color);
            background-color: var(--switch-background-color);
            transition: 0.1s left linear, 0.1s border-color linear;
        }
    }

    &__input {
        appearance: none;
        -webkit-appearance: none;
        margin: 0;

        // Active Styling
        &:checked {
            + .rux-switch__button {
                &::before {
                    border-color: var(--switch-on-color);
                    background-color: var(--switch-on-color);
                }
                &::after {
                    left: 16px;
                    background-color: var(--switch-background-color);
                    border-color: var(--switch-hover-off-color);
                }
            }
        }

        // Disabled
        &:disabled {
            + .rux-switch__button {
                cursor: not-allowed;
                opacity: var(--disabled-opacity);
            }
        }
    }

    // :before -> Track, :after -> Button
    &:hover {
        .rux-switch__input {
            &:not(:disabled),
            &:checked:not(:disabled) {
                + .rux-switch__button {
                    &::before {
                        border-color: var(--switch-hover-off-color);
                    }
                    &::after {
                        border-color: var(--switch-hover-off-color);
                    }
                }
            }

            &:not(:disabled) {
                + .rux-switch__button {
                    &::before {
                        background-color: var(--switch-background-color);
                    }
                }
            }

            &:checked:not(:disabled) {
                + .rux-switch__button {
                    &::before {
                        background-color: var(--switch-hover-on-color);
                    }
                }
            }
        }
    }
}

.rux-switch__label {
    margin-left: 0.75rem;
}

.rux-form-field {
    display: flex;
    flex-direction: column;
    color: var(--default-text);
}

.hidden,
:host([hidden]) {
    display: none;
}
