:host {
    display: block;

    font-size: 16px;
    height: 1.3125rem;
    line-height: 1.7;
    margin: 0 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &[disabled] {
        opacity: var(--disabledOpacity);
        cursor: not-allowed;
    }

    input {
        display: none !important;
    }

    .rux-push-button__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.375rem;
        font-size: 1rem !important;
        margin: 0;
        padding: 0 0.625rem;
        color: var(--pushbuttonTextColor);
        background-color: var(--pushbuttonBackgroundColor);
        border-radius: var(--defaultBorderRadius);
        border: 1px solid var(--pushbuttonBorderColor);

        &__input:checked + .rux-push-button__button {
            display: flex;
            color: var(--pushbuttonSelectedTextColor);
            background-color: var(--pushbuttonSelectedBackgroundColor);
            border-color: var(--pushbuttonSelectedBorderColor);
        }

        &__input:disabled + .rux-push-button__button {
            opacity: var(--disabledOpacity);
            cursor: not-allowed;
        }
    }
}
