@use '../../common/functional-components/FormFieldMessage/form-field-message.scss';

:host {
    /**
     * @prop --textarea-border-color: Border color of the textarea.
    */
    --textarea-border-color: var(--color-active);

    /**
     * @prop --textarea-text-color: Text color
    */
    --textarea-text-color: var(--color-default-text);

    /** @prop --textarea-background-color: Background color */
    --textarea-background-color: var(--color-background);

    /** @prop --textarea-invalid-border-color: Border color while in an invalid state */
    --textarea-invalid-border-color: var(--color-status-critical-fill);

    /**
     * @prop --textarea-focus-border-color: Border color while in a focused state
    */
    --textarea-focus-border-color: var(--color-hover);

    /**
     * @prop --textarea-selection-background-color: Background color while in a selected state
    */
    --textarea-selection-background-color: var(--color-global-secondary-300);

    display: block;
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-textarea {
    box-sizing: border-box;
    -webkit-order: 2;
    order: 2;
    min-height: 4.25rem;
    width: 100%;
    padding: 0.469rem 0.5rem; //7.5px 8px
    border: 1px solid var(--textarea-border-color);
    border-radius: var(--radius-base);
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    letter-spacing: var(--font-body-1-letter-spacing);
    font-weight: var(--font-body-1-font-weight);
    color: var(--textarea-text-color);
    background-color: var(--textarea-background-color);
    &--invalid {
        border: 1px solid var(--textarea-invalid-border-color);
    }
    &--disabled {
        opacity: 0.4;
        opacity: var(--disabled-opacity);
        cursor: not-allowed;
    }
    &--small {
        padding: 0.219rem 0.5rem; //3.5px 8px
        min-height: 3.25rem; //52px
    }
    &--large {
        min-height: 5.75rem; //92px
        padding: 0.844rem 0.5rem; //13.5px 8px
    }

    &:focus {
        border-color: var(--textarea-focus-border-color);
        outline: none;
    }
    &:hover {
        border-color: var(--textarea-focus-border-color);
        outline: none;
    }
    &--disabled:hover {
        border: 1px solid var(--textarea-border-color);
        color: var(--textarea-text-color);
    }
    &--invalid:hover {
        border: 1px solid var(--textarea-invalid-border-color);
    }
    &::placeholder {
        color: var(--color-placeholder-text);
    }
}

.rux-textarea-field {
    display: flex;
    flex-direction: column;
    color: var(--color-default-text);
}

.rux-textarea-label {
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    margin-bottom: var(--spacing-input-label-top);
    &__asterisk {
        margin-left: 4px;
    }
}

::selection {
    background-color: var(--textarea-selection-background-color);
}
