@use '../../common/functional-components/FormFieldMessage/form-field-message.scss';

:host {
    /**
     * @prop --textarea-border-color: Border color of the textarea.
    */
    --textarea-border-color: var(--active);
    /**
     * @prop --textarea-text-color: Text color
    */
    --textarea-text-color: var(--default-text);

    /** @prop --textarea-background-color: Background color*/
    --textarea-background-color: var(--background);

    /** @prop --textarea-invalid-border-color: Border color while in an invalid state*/
    --textarea-invalid-border-color: var(--color-critical);

    /**
     * @prop --textarea-focus-border-color: Border color while in a focused state
    */
    --textarea-focus-border-color: var(--hover);

    /**
     * @prop --textarea-selection-background-color: Background color while in a selected state
    */
    --textarea-selection-background-color: var(--color-secondary-300);

    display: block;
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-textarea {
    box-sizing: border-box;
    -webkit-order: 2;
    order: 2;
    min-height: 4.25rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--textarea-border-color);
    border-radius: 3px;
    font-family: var(--font-b1-font-family);
    font-size: var(--font-b1-font-size);
    letter-spacing: var(--font-b1-letter-spacing);
    font-weight: var(--font-b1-font-weight);

    color: var(--textarea-text-color);
    background-color: var(--textarea-background-color);
    &--invalid {
        border: 1px solid var(--textarea-invalid-border-color);
    }
    &--disabled {
        opacity: 0.4;
        opacity: var(--disabled-opacity);
        cursor: not-allowed;
        cursor: not-allowed;
    }

    &:focus {
        border-color: var(--textarea-focus-border-color);
        outline: none;
    }
    &:hover {
        border-color: var(--textarea-focus-border-color);
        outline: none;
    }
    &--disabled:hover {
        border: 1px solid var(--textarea-border-color);
        color: var(--textarea-text-color);
    }
    &--invalid:hover {
        border: 1px solid var(--textarea-invalid-border-color);
    }
    &::placeholder {
        color: var(--default-text);
        opacity: 0.6;
    }
}

.rux-textarea-field {
    display: flex;
    flex-direction: column;
    color: var(--default-text);
}

.rux-textarea-label {
    font-family: var(--font-b1-font-family);
    font-size: var(--font-b1-font-size);
    font-weight: var(--font-b1-font-weight);
    letter-spacing: var(--font-b1-letter-spacing);
    margin-bottom: var(--spacing-input-label-top);
}

::selection {
    background-color: var(--textarea-selection-background-color);
}

.rux-textarea-field--small {
    .rux-textarea-label {
        font-size: var(--font-size-md);
    }
    .rux-textarea {
        padding: 0.3rem;
        font-size: var(--font-size-md);
    }
}
