:host {
    box-sizing: border-box;

    /** @prop --modalTitleColor: Modal title color */
    --modalTitleColor: var(--primaryElementText);
    /** @prop --modalTextColor: Modal text color */
    --modalTextColor: var(--defaultText);
    /** @prop --modalBackgroundColor: Modal background color */
    --modalBackgroundColor: var(--surfaceElements);
    /** @prop --modalBorderColor: Modal border color */
    --modalBorderColor: var(--primary);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*[hidden] {
    display: none !important;
}

rux-button-group {
    margin-top: auto;
    margin-left: auto;
    align-self: flex-end;
}

.rux-modal {
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1100;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__dialog {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--modalBackgroundColor);
        width: 28rem;
        height: 13.5rem;
        border: 2px solid var(--modalBorderColor);
        border-radius: 4px;
        margin: auto;
        padding: 0;
        user-select: none;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    }

    &__titlebar {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2rem;
        background-color: var(--modalBorderColor);
        user-select: none;
        cursor: move;
        h1 {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.2;
            padding: 0;
            margin: 0;
            color: var(--modalTitleColor);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem;
        color: var(--defaultText);
    }

    &__message {
        margin: 0.5rem 1.875rem 2.5rem 1.875rem;
    }
}

rux-icon {
    margin-right: 0.75rem;
}

.rux-modal .rux-button {
    box-shadow: none !important;
}
