@use '../../../../node_modules/@astrouxds/design-tokens/dist/scss/_colors-dark.scss' as *;
@use '../../../../node_modules/@astrouxds/design-tokens/dist/scss/variables.scss' as *;
:host {
    display: contents;
}
.rux-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.875rem 1rem; //30 16
    margin: 0;
    min-width: 5rem;
    text-decoration: none;
    color: var(
        --color-background-interactive-default,
        $color-background-interactive-default
    );
    border-bottom: 5px solid transparent;
    &:hover {
        color: var(
            --color-background-interactive-hover,
            $color-background-interactive-hover
        );
    }
}

:host([hidden]) {
    display: none;
}

:host span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
:host([small]) {
    .rux-tab--selected {
        border-bottom: solid 3px
            var(
                --color-border-interactive-default,
                $color-border-interactive-default
            );
    }
    min-width: 2rem;
    padding: 1.25rem 1rem; //20 16
    border-bottom: 3px solid transparent;
}

.rux-tab--selected {
    color: var(--color-text-primary, $color-text-primary);
    border-bottom: 5px solid
        var(
            --color-border-interactive-default,
            $color-border-interactive-default
        );
}

.rux-tab--disabled {
    color: var(
        --color-text-interactive-default,
        $color-text-interactive-default
    );
    opacity: var(--opacity-disabled, $opacity-disabled);
    cursor: not-allowed;
}
