:host {
    /**
    *   @prop --tab-text-color: [DEPRECATED] Tab text color
    */
    --tab-text-color: var(--color-background-interactive-default);

    /**
    *   @prop --tab-border-color: [DEPRECATED] Tab border color
    */
    --tab-border-color: transparent;

    /**
    *   @prop --tab-hover-text-color: [DEPRECATED] Tab hover text color
    */
    --tab-hover-text-color: var(--color-text-primary);

    /**
    *   @prop --tab-selected-text-color: [DEPRECATED] Tab selected text color
    */
    --tab-selected-text-color: var(--color-text-primary);

    /**
    *   @prop --tab-selected-border-color: Tab selected border color
    */
    --tab-selected-border-color: var(--color-background-interactive-default);
    display: contents;
}
.rux-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.875rem 1rem; //30 16
    margin: 0;
    min-width: 5rem;
    text-decoration: none;
    color: var(--color-background-interactive-default);
    border-bottom: 5px solid transparent;
    &:hover {
        color: var(--color-background-interactive-hover);
    }
}

:host([hidden]) {
    display: none;
}

:host span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
:host([small]) {
    .rux-tab--selected {
        border-bottom: solid 3px var(--tab-selected-border-color);
    }
    min-width: 2rem;
    padding: 1.25rem 1rem; //20 16
    border-bottom: 3px solid transparent;
}

.rux-tab--selected {
    color: var(--tab-selected-text-color);
    border-bottom: 5px solid var(--tab-selected-border-color);
}

.rux-tab--disabled {
    color: var(--color-background-interactive-default);
    opacity: var(--disabled-opacity);
    cursor: not-allowed;
}
