.rux-day {
    border: none;
    width: 100%;
    height: 100%;
    padding: var(--spacing-4) 4px;
    border-radius: var(--radius-base);
    text-align: center;
    background-color: var(--color-background-surface-default);
    color: var(--color-text-interactive-default);
    font-family: var(--font-control-body-1-font-family);
    font-size: var(--font-control-body-1-font-size);
    font-weight: var(--font-control-body-1-bold-font-weight);
    line-height: var(--font-control-body-1-line-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
        background-color: var(--color-background-surface-hover);
        cursor: pointer;
    }
    .day-nums {
        display: flex;
        flex-direction: column;
    }
    .julian-dot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .julian-dot.julian-greg {
        justify-content: end;
    }
    .julian-dot.julian-greg.current-day {
        justify-content: space-between;
    }
}
::slotted([slot='julian']) {
    font-size: var(--font-body-3-font-size);
    line-height: var(--font-body-3-line-height);
}

.day-selected {
    background-color: var(--color-background-surface-selected);
    outline: 1px solid var(--color-border-interactive-muted);
}
