@charset "UTF-8";
main {
  padding: var(--content-padding-horizontal, 1rem) var(--content-padding-vertical, 1rem);
  color: var(--font-color, #494949);
  max-width: var(--content-max-text-width, 40em); }
  main img {
    max-width: 100%; }
    
  main ul {
    list-style: disc;
    margin: 0 0 0 1.5em;
    padding: 0.7em 0 0; }
  @media only screen and (max-width: 767px) {
    main {
      padding: 30px 20px; } }

aside.compliance {
  position: relative;
  margin: 1rem 0;
  background-color: #fff;
  border: 2px solid #373c41;
  padding: 1rem 1rem 0.25rem 4.5rem;
  border-radius: 5px;
  z-index: 0; }

aside.compliance::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 3.5rem;
  background-color: #373c41;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2235%22%20viewBox%3D%220%200%2025%2035%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12.5%2C0%20C13.8807119%2C0%2015%2C1.08819679%2015%2C2.43055556%20C15%2C2.59700804%2014.9827898%2C2.75955254%2014.9500051%2C2.91659884%20L20%2C2.91666667%20L20%2C4.861%20L23%2C4.86111111%20C24.1045695%2C4.86111111%2025%2C5.75654161%2025%2C6.86111111%20L25%2C33%20C25%2C34.1045695%2024.1045695%2C35%2023%2C35%20L2%2C35%20C0.8954305%2C35%200%2C34.1045695%200%2C33%20L0%2C6.86111111%20C0%2C5.75654161%200.8954305%2C4.86111111%202%2C4.86111111%20L5%2C4.861%20L5%2C2.91666667%20L10.0499949%2C2.91659884%20C10.0172102%2C2.75955254%2010%2C2.59700804%2010%2C2.43055556%20C10%2C1.08819679%2011.1192881%2C0%2012.5%2C0%20Z%20M23%2C7%20L2%2C7%20L2%2C33%20L23%2C33%20L23%2C7%20Z%20M9.68859933%2C25.1398271%20C10.018907%2C25.3846354%2010.0991816%2C25.8665169%209.86789767%2C26.2161395%20L6.93646193%2C30.647473%20C6.84215352%2C30.7900352%206.71060495%2C30.8885938%206.56547277%2C30.9387337%20C6.29920187%2C31.0580485%205.97963147%2C31.0031556%205.76265258%2C30.7734888%20L4.21384562%2C29.1341144%20C3.92871813%2C28.832314%203.92871813%2C28.3429987%204.21384562%2C28.0411982%20C4.49897311%2C27.7393977%204.96125611%2C27.7393977%205.2463836%2C28.0411982%20L6.20567623%2C29.0564717%20L8.67174792%2C25.32961%20C8.90303181%2C24.9799874%209.3582917%2C24.8950187%209.68859933%2C25.1398271%20Z%20M21%2C28%20L21%2C30%20L12%2C30%20L12%2C28%20L21%2C28%20Z%20M9.68859933%2C17.1398271%20C10.018907%2C17.3846354%2010.0991816%2C17.8665169%209.86789767%2C18.2161395%20L6.93646193%2C22.647473%20C6.84215352%2C22.7900352%206.71060495%2C22.8885938%206.56547277%2C22.9387337%20C6.29920187%2C23.0580485%205.97963147%2C23.0031556%205.76265258%2C22.7734888%20L4.21384562%2C21.1341144%20C3.92871813%2C20.832314%203.92871813%2C20.3429987%204.21384562%2C20.0411982%20C4.49897311%2C19.7393977%204.96125611%2C19.7393977%205.2463836%2C20.0411982%20L6.20567623%2C21.0564717%20L8.67174792%2C17.32961%20C8.90303181%2C16.9799874%209.3582917%2C16.8950187%209.68859933%2C17.1398271%20Z%20M21%2C20%20L21%2C22%20L12%2C22%20L12%2C20%20L21%2C20%20Z%20M9.68859933%2C9.13982709%20C10.018907%2C9.38463545%2010.0991816%2C9.86651691%209.86789767%2C10.2161395%20L6.93646193%2C14.647473%20C6.84215352%2C14.7900352%206.71060495%2C14.8885938%206.56547277%2C14.9387337%20C6.29920187%2C15.0580485%205.97963147%2C15.0031556%205.76265258%2C14.7734888%20L4.21384562%2C13.1341144%20C3.92871813%2C12.832314%203.92871813%2C12.3429987%204.21384562%2C12.0411982%20C4.49897311%2C11.7393977%204.96125611%2C11.7393977%205.2463836%2C12.0411982%20L6.20567623%2C13.0564717%20L8.67174792%2C9.32961001%20C8.90303181%2C8.97998745%209.3582917%2C8.89501874%209.68859933%2C9.13982709%20Z%20M21%2C12%20L21%2C14%20L12%2C14%20L12%2C12%20L21%2C12%20Z%20M12.5%2C1%20C11.6715729%2C1%2011%2C1.67157288%2011%2C2.5%20C11%2C3.32842712%2011.6715729%2C4%2012.5%2C4%20C13.3284271%2C4%2014%2C3.32842712%2014%2C2.5%20C14%2C1.67157288%2013.3284271%2C1%2012.5%2C1%20Z%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: top 0.5rem center;
  border-radius: 2px 0 0 2px;
  z-index: 1; }

aside header {
  font-size: 1.3em;
  font-weight: bold; 
  margin: 0 0 1rem; }

aside header .compliance-version {
   font-weight: normal;
   font-size: 16px;
   display: inline;
   padding: 0;
  }

aside footer {
  margin: 1rem 0 1rem; }

      
.compliance {
  list-style-type: none;
  margin: 0 0 0 1.5em;
  padding: 0.7em 0 0;
}
.compliance li {
  line-height: 1.4;
  display: table;
}
.compliance ol {
  display: table;
  margin: 0 0 1em 1em;
  list-style-type: none;
}
.compliance img {
  max-width: 50%;
}

/* .compliance li ol {
  list-style-type: none;
  margin: 0 0 1.5em 1.5em;
  padding: 0.7em 0 0;
} */
.compliance .section,
.compliance .ruleset {
  margin: 0 0 .5em;
}
.compliance .rule {
  display: table-row;
}
.compliance span {
  display: table-cell;
  padding: 0 0 .5em;
}
.compliance .numeral {
  font-weight: bold;
  padding-right: .5em;
}
.compliance .rule-figure {
  margin: 1em 0;
}

.compliance > li {
  font-weight: bold;
  font-size: larger;
}
