@use '../../global/mixins';

:host {
    /**
    * @part wrapper - css part hook to style modal wrapper
    */

    /**
    * @prop --modal-title-color: Modal title color
    */
    --modal-title-color: var(--color-default-text);

    /**
    * @prop --modal-background-color: Modal background color
    */
    --modal-background-color: var(--color-surface);

    /**
    * @prop --modal-border-color: Modal border color
    */
    --modal-border-color: var(--color-primary);

    display: contents;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

//  this styling is only used in storybook up for presentational purposes
//  default flex position takes up the entire body element en spills overlay
//  on top of the docs page

:host([hidden]) {
    display: none;
}

.rux-modal {
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1100;
        background-color: rgba(0, 0, 0, 0.5);
        @include mixins.animation(fadeIn, 0.5s);
    }
    &__dialog {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--modal-background-color);
        width: 28rem;
        border: 0;
        margin: auto;
        padding: 0;
        user-select: none;
        box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25),
            0 4px 4px 3px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.2);
    }

    &__titlebar {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        align-items: center;
        width: 100%;
        padding: 16px 20px;
        background-color: var(--color-dialog-header);
        color: var(--modal-title-color);
        user-select: none;
        cursor: move;
        font-family: var(--font-heading-2-font-family);
        font-size: var(--font-heading-2-font-size);
        font-weight: var(--font-heading-2-font-weight);
        letter-spacing: var(--font-heading-2-letter-spacing);
    }

    &__content {
        padding: 0.625rem 1.25rem; //10px 20px
        color: var(--color-default-text);
    }

    &__footer {
        padding: 1.25rem; //20px
    }
}

rux-icon {
    margin-right: 0.75rem;
}

@include mixins.keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
