:host {
    display: block;
}

.rux-time-region {
    background: var(--color-background-base-default);
    padding: 0.25rem 0 0.25rem 0.25rem;
    overflow: hidden;
    color: var(--color-text-primary);
    border: 1px solid var(--color-background-interactive-default);
    border-radius: 3px;
}

.rux-time-region__content {
    display: flex;
    align-items: center;
    font-family: var(--font-body-2-font-family);
    font-size: var(--font-body-2-font-size);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);

    ::slotted(rux-status),
    rux-status {
        align-self: flex-start;
        margin-right: 0.125rem; //2px
    }
}

.rux-time-region__details {
}

.rux-time-region__datetime {
    margin-top: 0.25rem;
    font-family: var(--font-body-3-font-family);
    font-size: var(--font-body-3-font-size);
    font-weight: var(--font-body-3-font-weight);
    letter-spacing: var(--font-body-3-letter-spacing);
}

.rux-time-region--selected {
    background: var(--color-background-interactive-default);
    border: 1px solid var(--color-background-interactive-default);
    --status-symbols: var(--status-symbols-light);
    color: var(--color-text-inverse);
}

.rux-time-region--normal:not(.rux-time-region--selected) {
    border: 1px solid var(--status-symbol-color-fill-normal);
}

.rux-time-region--critical:not(.rux-time-region--selected) {
    border: 1px solid var(--status-symbol-color-fill-critical);
}

.rux-time-region--caution:not(.rux-time-region--selected) {
    border: 1px solid var(--status-symbol-color-fill-caution);
}

.rux-time-region--standby:not(.rux-time-region--selected) {
    border: 1px solid var(--status-symbol-color-fill-standby);
}

.hidden {
    visibility: hidden;
}

.rux-time-region--left-bound {
    border-left-style: dashed;
}

.rux-time-region--right-bound {
    border-right-style: dashed;
}
