:host {
    display: block;
}

.rux-time-region {
    background: var(--color-background);
    padding: 0.25rem; // 4px;
    overflow: hidden;
    min-height: 40px;
    color: var(--color-default-text);
    border: 1px solid var(--color-primary);
}

.rux-time-region__content {
    display: flex;
    align-items: center;
    font-family: var(--font-body-2-font-family);
    font-size: var(--font-body-2-font-size);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);

    ::slotted(rux-status),
    rux-status {
        margin-right: 0.125rem; //2px
    }
}

.rux-time-region__datetime {
    margin-top: 0.25rem;
    text-align: right;
    font-family: var(--font-body-3-font-family);
    font-size: var(--font-body-3-font-size);
    font-weight: var(--font-body-3-font-weight);
    letter-spacing: var(--font-body-3-letter-spacing);
}

.rux-time-region--selected {
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    --status-symbols: var(--status-symbols-light);
    color: var(--color-inverse-text);
}

.rux-time-region--normal:not(.rux-time-region--selected) {
    border: 1px solid var(--color-primary);
}

.rux-time-region--critical:not(.rux-time-region--selected) {
    border: 1px solid var(--color-status-critical-fill);
}

.rux-time-region--caution:not(.rux-time-region--selected) {
    border: 1px solid var(--color-status-caution-fill);
}

.rux-time-region--standby:not(.rux-time-region--selected) {
    border: 1px solid var(--color-status-standby-fill);
}

.hidden {
    visibility: hidden;
}
