:host {
    display: table-cell;
    vertical-align: middle;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--color-background-surface-default);
    background: var(--color-background-surface-header);
    color: var(--color-text-primary);
    font-family: var(--font-heading-5-font-family);
    font-size: var(--font-heading-5-font-size);
    font-weight: var(--font-heading-5-font-weight);
    letter-spacing: var(--font-heading-5-letter-spacing);
    padding: 0.625rem 1rem;
    white-space: nowrap;
}

:host([hidden]) {
    display: none;
}
