:host {
    display: table-cell;
    vertical-align: middle;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--table-header-border-color);
    background: var(--table-header-background-color);
    color: var(--table-header-text-color);

    font-family: var(--font-h5-font-family);
    font-size: var(--font-h5-font-size);
    font-weight: var(--font-h5-font-weight);
    letter-spacing: var(--font-h5-letter-spacing);
    padding: 0.625rem 1rem;
    white-space: nowrap;
}

:host([hidden]) {
    display: none;
}
