:host {
    display: table-cell;
    vertical-align: middle;
    background: var(--color-background-surface-header);
    color: var(--color-text-primary);
    font-family: var(--font-heading-5-font-family);
    font-size: var(--font-heading-5-font-size);
    font-weight: var(--font-heading-5-font-weight);
    letter-spacing: var(--font-heading-5-letter-spacing);
    line-height: var(--font-heading-5-line-height);
    padding: var(--spacing-0) var(--spacing-2);
    height: var(--spacing-10); //40
    white-space: nowrap;
}

:host([hidden]) {
    display: none;
}
