.rux-help-text {
    margin-top: 0.625rem;
    color: var(--color-text-primary);
    font-size: var(--font-body-2-font-size);
    font-family: var(--font-body-2-font-family);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);
}

.rux-error-text {
    display: flex;
    align-items: center;
    text-align: left;
    width: fit-content;
    -webkit-order: 3;
    order: 3;
    margin-top: 0.625rem;
    color: var(--color-text-error);
    font-size: var(--font-body-2-bold-font-size);
    font-family: var(--font-body-2-bold-font-family);
    font-weight: var(--font-body-2-bold-font-weight);
    letter-spacing: var(--font-body-2-bold-letter-spacing);
}

.rux-error-text svg {
    margin-right: 0.625rem; // 10px
}
