:host {
    /**
      * @prop --popupMenuTextColor: Menu Text Color
    */

    /**
      * @prop --popupMenuItemBackgroundColor: Menu Item Background Color
    */

    /**
      * @prop --popupMenuItemHoverBackgroundColor: Menu Item Hover Background Color
    */

    /**
      * @prop --popupMenuItemHoverTextColor: Menu Item Hover Text Color
    */

    /**
      * @prop --disabledCursor: Cursor for Disabled Items
    */

    /**
      * @prop --disabledOpacity: Opacity for Disabled Items
    */

    display: block;

    li {
        list-style: none;
        padding: 0.15rem 0.75rem;
        font-size: 1rem;
        overflow: hidden;

        min-width: 15em;
        max-width: 20em;

        background-color: var(--popupMenuItemBackgroundColor);
        color: var(--popupMenuTextColor);

        &:hover {
            background-color: var(--popupMenuItemHoverBackgroundColor);
            color: var(--popupMenuItemHoverTextColor);
        }

        a,
        div {
            text-overflow: ellipsis;
            text-decoration: none;
            color: var(--popupMenuTextColor);
            word-wrap: none;
            white-space: nowrap;
            overflow: hidden;
            &:hover {
                color: var(--popupMenuItemHoverTextColor);
            }
        }

        a {
            display: block;
            padding: 0px;
            width: 100%;
        }
    }
}

:host([hidden]) {
    display: none;
}

:host([disabled]) {
    cursor: var(--disabledCursor);

    li {
        &:hover {
            background-color: transparent;
        }

        a,
        div {
            opacity: var(--disabledOpacity);
        }
    }
}
