:host {
    /**
      * @prop --popup-menu-text-color: Menu Text Color
    */
    --popup-menu-text-color: var(--primary);

    /**
      * @prop --popup-menu-item-background-color: Menu Item Background Color
    */
    --popup-menu-item-background-color: var(--background);

    /**
      * @prop --popup-menu-item-hover-background-color: Menu Item Hover Background Color
    */
    --popup-menu-item-hover-background-color: var(--color-menu-item-hover);

    /**
      * @prop --popup-menu-item-hover-background-color: Menu Item Hover Text Color
    */
    // --popup-menu-item-hover-background-color: var(--hover);
    --popup-menu-item-hover-text-color: var(--hover);

    display: block;

    li {
        list-style: none;
        padding: 0.15rem 0.75rem;
        font-size: 1rem;
        overflow: hidden;

        min-width: 15em;
        max-width: 20em;

        background-color: var(--popup-menu-item-background-color);
        color: var(--popup-menu-text-color);

        &:hover {
            background-color: var(--popup-menu-item-hover-background-color);
            color: var(--popup-menu-item-hover-text-color);
        }

        a,
        div {
            text-overflow: ellipsis;
            text-decoration: none;
            color: var(--popup-menu-text-color);
            word-wrap: none;
            white-space: nowrap;
            overflow: hidden;
        }

        a {
            display: block;
            padding: 0px;
            width: 100%;
        }
    }
}

:host([hidden]) {
    display: none;
}

:host([disabled]) {
    cursor: not-allowed;

    li {
        &:hover {
            background-color: transparent;
        }

        a,
        div {
            opacity: var(--disabled-opacity);
        }
    }
}
