:host {
    display: table-header-group;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--color-background-surface-default);
}

:host([hidden]) {
    display: none;
}
