:host,
*,
::before,
::after {
    box-sizing: border-box;
}

:host {
    display: inline-flex;
}

:host([hidden]) {
    display: none;
}

[part='field'] {
    /* display */
    display: flex;

    /* layout */
    flex-flow: row;

    /* hide the radio */
    input {
        display: none;
    }
}

[part='indicator'] {
    /* display */
    display: flex;

    /* layout */
    align-items: center;
    block-size: calc(5 * var(--scale));
    inline-size: calc(5 * var(--scale));
    justify-content: center;
    margin-inline-end: calc(1.5 * var(--scale));

    [part='--no-label'] & {
      margin-inline-end: 0;
    }
}
