:host {
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    display: inline-block;
    box-sizing: border-box;

    /** @prop --radio-hover-border-color: Radio border color on hover */
    --radio-hover-border-color: var(--hover);

    /** @prop --radio-border-color: Selected radio border color */
    --radio-border-color: var(--active);

    /** @prop --radio-label-color: label text color */
    --radio-label-color: var(--default-text);

    /** @prop --radio-background-color: the radio background color */
    --radio-background-color: var(--background);

    /** @prop --radio-selected-color: the radio selected color */
    --radio-selected-color: var(--primary);
}

.rux-form-field {
    display: flex;
    flex-direction: column;
    font-family: var(--font-b1-font-family);
    font-size: var(--font-b1-font-size);
    letter-spacing: var(--font-b1-letter-spacing);
    font-weight: var(--font-b1-font-weight);
    color: var(--default-text);
}

.rux-radio {
    display: flex;
    position: relative;
    line-height: 1.2;

    input[type='radio'] {
        -webkit-appearance: none;
        appearance: none;

        + label {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: -8px;
            color: var(--radio-label-color);
            letter-spacing: 0.5px;
            cursor: pointer;

            &::before {
                box-sizing: border-box;
                display: flex;
                flex-shrink: 0;
                flex-grow: 0;
                content: '';
                align-self: start;
                height: 1.125rem;
                width: 1.125rem;
                margin: 0 0.625rem 0 0;
                border: 1px solid var(--radio-border-color);
                border-radius: 100%;
                background-color: var(--radio-background-color);
            }

            &::after {
                position: absolute;
                top: 5px;
                display: flex;
                content: '';
            }
        }

        &:checked {
            + label {
                &::before {
                    background-color: var(--radio-background-color);
                    border-color: var(--radio-border-color);
                }

                &::after {
                    position: absolute;
                    top: 5px;
                    display: flex;
                    content: '';
                    left: 5px;
                    height: 8px;
                    width: 8px;
                    border-radius: 100%;

                    /* box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.9); */

                    background-color: var(--primary);
                }
            }
        }

        &:disabled {
            + label {
                cursor: not-allowed;
                opacity: var(--disabled-opacity);
            }
        }

        &:not(:disabled) {
            &:hover,
            &:checked:hover {
                + label {
                    &::before {
                        border-color: var(--radio-hover-border-color);
                    }
                    &::after {
                        background-color: var(--radio-selected-color);
                    }
                }
            }
        }
    }
}

:host([hidden]) {
    display: none;
}
