@use '../../global/tokens/colors-dark' as variables;

:host {
    display: block;
    position: sticky;
    z-index: 50;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 0 1.875rem;
    box-sizing: border-box;
    background-color: var(--color-gsb-background-default);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    contain: layout; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}

:host([hidden]) {
    display: none;
}

header {
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

slot[name='left-side'] > *,
::slotted(*[slot='left-side']) {
    margin-right: 10px;
}

slot[name='left-side'] > rux-icon,
::slotted(rux-icon[slot='left-side']) {
    height: 34px;
}

slot[name='left-side'] > .shifted-up,
::slotted(.shifted-up[slot='left-side']) {
    height: 54px;
}

.app-meta,
::slotted(*[slot='app-meta']) {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto 0 0;
    color: var(--color-palette-neutral-000);
    white-space: nowrap;
}

.app-info-wrapper {
    flex-basis: 100%;
    display: flex;
    align-items: baseline;
    margin-bottom: 6px;
    min-width: 170px;
}

.app-meta h1 {
    margin-bottom: 0;
    margin-top: 0;
    height: 32px;
    font-family: var(--font-heading-1-font-family);
    font-size: var(--font-heading-1-font-size);
    font-weight: var(--font-heading-1-font-weight);
    letter-spacing: var(--font-heading-1-letter-spacing);
}

.app-meta h1.app-domain {
    margin-right: 13px;
    font-family: var(--font-heading-1-bold-font-family);
    font-size: var(--font-heading-1-bold-font-size);
    font-weight: var(--font-heading-1-bold-font-weight);
    letter-spacing: var(--font-heading-1-bold-letter-spacing);
}

.app-name {
    margin-right: 0.3em;
}

.app-version {
    display: inline-block;
    font-size: var(--font-heading-6-font-size);
    font-weight: var(--font-heading-6-font-weight);
}

.app-state-wrapper {
    display: flex;
}

// all temp classes and their subsequent styling will be replaced with internal component styles.
.app-state {
    box-sizing: border-box;
    color: var(--color-palette-neutral-000);
    background-color: var(--color-palette-neutral-1000);
    border-radius: var(--radius-base);
    font-family: var(--font-body-2-font-family);
    font-size: var(--font-body-2-font-size);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);
    padding: 2px 6px;
    text-align: center;
    height: 22px;
    margin-right: 6px;
    white-space: nowrap;
}

.username {
    box-sizing: border-box;
    flex-basis: 50%;
    font-family: var(--font-body-2-font-family);
    font-size: var(--font-body-2-font-size);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);
    padding: 2px 0;
    height: 22px;
}

.slotted-content {
    display: inline-flex;
    justify-content: center;
    flex-basis: 100%;
}

//Preserves dark theme defaults for slotted elements in GSB since content must always be rendered in dark theme.
::slotted(*) {
    @include variables.root-variables;
}
