/* You can add global styles to this file, and also import other style files */
@import '~ag-grid-community/dist/styles/ag-grid.css';

.container {
  max-width: calc(100vw - 2rem);
  display: block;
  margin: 1rem;
}
@import 'css/astro-theme.scss';
