
@import url('../global/global.css');

body {
  font-family: var(--fontFamily);
  color: var(--defaultText);
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
}

a {
  color: var(--fontLinkColor);
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
