:host {
    display: block;
    /**
      * @prop --segmentedButtonBorderColor: Segmented button border color
      */
    --segmentedButtonBorderColor: var(--primary);

    /**
      * @prop --segmentedButtonBackgroundColor: Segmented button background color
      */
    --segmentedButtonBackgroundColor: none;

    /**
      * @prop --segmentedButtonTextColor: Segmented button text color
      */
    --segmentedButtonTextColor: var(--primary);

    /**
      * @prop --segmentedButtonHoverBackgroundColor: Segmented button hover background color
      */
    --segmentedButtonHoverBackgroundColor: var(--primaryLight);

    /**
      * @prop --segmentedButtonHoverTextColor: Segmented button hover text color
      */
    --segmentedButtonHoverTextColor: var(--primaryElementText);

    /**
      * @prop --segmentedButtonHoverBorderColor: Segmented button hover border color
      */
    --segmentedButtonHoverBorderColor: var(--primaryLight);

    /**
      * @prop --segmentedButtonSelectedBackgroundColor: Segmented button selected background color
      */
    --segmentedButtonSelectedBackgroundColor: var(--primary);

    /**
      * @prop --segmentedButtonSelectedTextColor: Segmented button selected text color
      */
    --segmentedButtonSelectedTextColor: var(--primaryElementText);

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.rux-segmented-buttons {
    display: inline-flex;

    height: 1.6875rem;
    overflow: hidden;

    padding: 0;
    margin: 0;

    list-style: none;

    border-radius: var(--controlBorderRadius);
    background-color: var(--segmentedButtonBackgroundColor);
}

.rux-segmented-button {
    height: 1.6875rem;
    width: auto;
    margin: 0;
    padding: 0;
}

.rux-segmented-button label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 1.5625rem;

    margin: 0;
    padding: 0 0.75rem;

    border: 1px solid var(--segmentedButtonBorderColor);

    color: var(--segmentedButtonTextColor);

    font-size: 1rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rux-segmented-button input {
    display: none !important;
}

.rux-segmented-button label:hover {
    background-color: var(--segmentedButtonHoverBackgroundColor);
    border-color: var(--segmentedButtonHoverBorderColor);
    color: var(--segmentedButtonHoverTextColor);
    outline: none;
}

.rux-segmented-button input:checked + label {
    background-color: var(--segmentedButtonSelectedBackgroundColor);
    color: var(--segmentedButtonSelectedTextColor);
    box-shadow: var(--segmentedButtonSelectedBoxShadow);
}

.rux-segmented-button input:checked:hover + label {
    border-color: var(--segmentedButtonSelectedBackgroundColor);
}

.rux-segmented-button:nth-child(2):not(:last-child) label {
    border-right: none;
    border-left: none;
}
.rux-segmented-button:first-child label {
    border-radius: var(--controlBorderRadius) 0 0 var(--controlBorderRadius);
}
.rux-segmented-button:last-child label {
    border-radius: 0 var(--controlBorderRadius) var(--controlBorderRadius) 0;
}

/*
  OVERRIDE FOR IE
  Otherwise all segments get rounded corners. Need to override and re-enable
  some style definitions.
*/

.rux-segmented-buttons.style-scope {
    border-radius: 3px 6px 6px 3px !important;
}
.rux-segmented-button.style-scope {
    border-radius: 0;
    height: auto;
    border: none;
    border-right: 1px solid var(--segmentedButtonBorderColor);
}
/* END OVERRDIDE FOR IE EDGE */
