:host {
    display: block;

    /** @prop --switch-hover-off-color: the Switch hover off color */
    --switch-hover-off-color: var(--hover);

    /**
      * @prop --switch-background-color: the Switch off color
      */

    --switch-background-color: var(--background);

    /**
      * @prop --switch-hover-on-color: the Switch hover on color
      */
    --switch-hover-on-color: var(--primary);

    /**
      * @prop --switch-hover-off-color: the Switch hover off color
      */

    --switch-hover-off-color: var(--primary);

    /** @prop --switch-on-color: the Switch on color */
    --switch-on-color: var(--primary);

    /** @prop --switch-off-border-color: the Switch off border color*/
    --switch-off-border-color: var(--active);
    padding-left: 1%;
}
.rux-switch {
    position: relative;
    display: flex;
    height: 22px;
    width: 42px;

    // Default Styling
    &__button {
        display: flex;
        align-items: center;
        cursor: pointer;

        // Track
        &:before {
            position: relative;

            display: flex;
            content: '';

            border-radius: 4.7px;
            border: 1px solid;
            border-color: var(--switch-off-border-color);
            background-color: var(--switch-background-color);

            height: 10px;
            width: 30px;
            z-index: 2;
            transition: 0.1s background-color linear;
        }

        // Button
        &:after {
            position: absolute;
            content: '';
            top: 1px;
            left: -4px;
            z-index: 3;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            border: 1px solid var(--switch-hover-off-color);
            background-color: var(--switch-background-color);

            transition: 0.1s left linear, 0.1s border-color linear;
        }
    }

    &__input {
        appearance: none;
        -webkit-appearance: none;
        margin: 0;

        // Active Styling
        &:checked {
            + .rux-switch__button {
                &::before {
                    border-color: var(--switch-on-color);
                    background-color: var(--switch-on-color);
                }
                &::after {
                    left: 16px;
                    background-color: var(--switch-background-color);
                    border-color: var(--switch-hover-off-color);
                }
            }
        }

        // Disabled
        &:disabled {
            + .rux-switch__button {
                cursor: not-allowed;
                opacity: var(--disabled-opacity);
            }
        }
    }

    // :before -> Track, :after -> Button
    &:hover {
        .rux-switch__input {
            &:not(:disabled),
            &:checked:not(:disabled) {
                + .rux-switch__button {
                    &::before {
                        border-color: var(--switch-hover-off-color);
                    }
                    &:after {
                        border-color: var(--switch-hover-off-color);
                    }
                }
            }

            &:not(:disabled) {
                + .rux-switch__button {
                    &::before {
                        background-color: var(--switch-background-color);
                    }
                }
            }

            &:checked:not(:disabled) {
                + .rux-switch__button {
                    &:before {
                        background-color: var(--switch-hover-on-color);
                    }
                }
            }
        }
    }
}

.rux-switch__label {
    margin-left: 0.75rem;
}

.rux-form-field {
    display: flex;
    flex-direction: column;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--default-text);
}

.rux-help-text {
    margin-top: 0.625rem;
    color: var(--secondary-text);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: normal;
    letter-spacing: 0.5px;
}

.rux-error-text {
    padding-left: 1.625rem;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20128%20128%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FF3030%22%20fill-rule%3D%22evenodd%22%20d%3D%22M64.031%205c8.461%200%2068.88%20107.243%2063.648%20114.184-5.232%206.942-120.805%205.477-127.212%200C-5.941%20113.708%2055.57%205%2064.03%205zm3.45%2075.894l1.822-34.893H56.946l1.82%2034.893h8.715zM56.803%2093.108c0%201.929.547%203.423%201.643%204.483%201.095%201.06%202.642%201.589%204.642%201.589%201.953%200%203.477-.542%204.572-1.625%201.095-1.084%201.643-2.566%201.643-4.447%200-1.952-.542-3.452-1.625-4.5-1.084-1.047-2.613-1.571-4.59-1.571-2.047%200-3.607.512-4.678%201.536-1.072%201.023-1.607%202.535-1.607%204.535z%22%2F%3E%0A%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center left 0rem;
    text-align: left;
    width: fit-content;
    -webkit-order: 3;
    order: 3;
    margin-top: 0.625rem;
    color: var(--color-critical);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: bold;
}
.hidden,
:host([hidden]) {
    display: none;
}
