/* sidebar outer wrapper */
.sidebar-container .css-d3imve {
  padding-left: 0;
  padding-right: 0;
}

/* search input */
.sidebar-container .search-field {
  margin-inline: 1rem;
}

.sidebar-container .css-y6bzay {
  appearance: none;
  height: 28px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid rgba(153 153 153 / 40%);
  background: transparent;
  border-radius: 28px;
  font-size: 12px;
  font-family: inherit;
  transition: 150ms;
  color: white;
}

.sidebar-container .sidebar-item {
  font-size: 16px;
  line-height: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(140 142 145 / 15%);
  align-items: baseline;
  font-weight: 500;
}

.sidebar-item .css-caedy5,
.sidebar-item .css-154pbrb,
.sidebar-item button {
  font-size: 16px;
}

/* component icon */
.sidebar-item .css-1j7mmb8 {
 color: rgb(77 172 255);
}

/* drop down caret & active caret */
.sidebar-container .css-5ba62h,
.sidebar-container .sidebar-item css-1yuef8z {
  color: rgb(77 172 255);
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  margin-right: 10px;
}

/* folder icon & grid icon */
.sidebar-container .sidebar-item .css-1res6at,
.sidebar-container .sidebar-item .css-12curbu {
  display: none;
}

.sidebar-header .css-l8z9zc {
  transform: scale(1.1);
}

.css-1d2iskc > .css-sqdry3 {
  border: 1px solid rgba(255 255 255 / 12.5%);
}

/* component list */

/* only the outermost children */
nav.sidebar-container .css-0 section > a > div {
  padding-left: 12px;
}

nav.sidebar-container .css-0 section > a > div > span:first-child {
  border-left-color: rgb(77 172 255);
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  margin-right: 10px;
}

/* group icons */
nav.sidebar-container .css-0 section > a > div > svg {
  display: none;
}

/* only the innermost children */
nav.sidebar-container .css-0 section .css-0 > a > div {
  padding-left: 18px;
}

nav.sidebar-container .css-0 section .css-0 > a > div > svg {
  margin-right: 10px;
}

nav.sidebar-container .css-0 section .css-0 > a > div > span:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

nav.sidebar-container .css-0 section > div[type='section'] {
  font-weight: bold;
  margin: 0;
  padding: 0 20px 5px;
  border-bottom: 1px solid rgba(140 142 145 / 15%);
}

/* addons panel */
#storybook-panel-root .css-0 a,
#storybook-panel-root .css-0 a span {
  color: rgb(77 172 255);
}

.storybook-readme-story {
  padding: 10px;
}

.storybook-readme-story p code,
.storybook-readme-story li code {
  background: #182635;
  border-radius: 2px;
}

.storybook-readme-story code[class*='language-'],
.storybook-readme-story pre[class*='language-'] {
  background: #060708;
  -webkit-font-smoothing: auto;
}

.storybook-readme-story .token.punctuation {
  color: #a1acba;
}

.storybook-readme-story code.language-sh,
.storybook-readme-story code.language-xml,
.storybook-readme-story code.language-html,
.storybook-readme-story code.language-js {
  color: #ccd5e0;
}

/* component search input */
.sidebar-container input[type='search'] {
  color: white;
}

.storybook-readme-story .markdown-body table thead tr {
  background-color: #141f2c;
}

/* theme switcher icon color override */
.css-c3junj .css-ynalaq {
  color: white;
  background: rgb(32 50 70);
}

/* scrollbars */
body {
  scrollbar-color: var(
          --color-border-interactive-muted,
          rgb(43 101 155)
      )
      var(--color-background-surface-default, rgb(27 45 62));
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(
      --color-border-interactive-muted,
      rgb(43 101 155)
  );
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

/* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
::-webkit-scrollbar-thumb:vertical {
  border-left-width: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top-width: 4px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background-color: var(
      --color-background-interactive-default,
      rgb(58 129 191)
  );
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: var(--color-background-surface-default);
}

::-webkit-scrollbar-track:vertical {
  box-shadow: inset 3px 3px 3px 0 rgba(0 0 0 / 50%);
}

::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 1px 3px 3px 0 rgba(0 0 0 / 50%);
}

@media (min-width: 600px) {
  .css-1nolumm {
      grid-template-columns: minmax(0, 230px) minmax(100px, 1fr) minmax(
              0,
              400px
          );
  }
}
