:host {
    // Internal private design tokens
    --card-header-padding: var(--spacing-2); //8px
    --card-footer-padding: var(--spacing-2); //8px

    /**
     * @prop --body-padding: the card's body padding
     */
    --body-padding: var(--card-footer-padding);
    display: block;
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-card {
    border: 1px solid var(--card-color-border);
    border-radius: var(--radius-base);
    background: var(--color-background-base-default);
    box-shadow: var(--shadow-overlay);
}

.rux-card__header {
    padding: var(--card-header-padding);
    font-family: var(--font-heading-3-font-family);
    font-size: var(--font-heading-3-font-size);
    font-weight: var(--font-heading-3-font-weight);
    letter-spacing: var(--font-heading-3-letter-spacing);
    line-height: var(--font-heading-3-line-height);
    box-sizing: border-box;
    text-align: left; // Solves the issue of a parent element with a different text-align overriding.
}

.rux-card__body {
    padding: var(--body-padding);
    box-sizing: border-box;
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    line-height: var(--font-body-1-line-height);
    letter-spacing: var(--font-body-1-letter-spacing);
    text-align: left; // Solves the issue of a parent element with a different text-align overriding.
}

.rux-card__footer {
    padding-left: var(--card-footer-padding);
    padding-right: var(--card-footer-padding);
    padding-top: var(--card-footer-padding);
    padding-bottom: var(--card-footer-padding);
    box-sizing: border-box;
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    line-height: var(--font-body-1-line-height);
    letter-spacing: var(--font-body-1-letter-spacing);
    text-align: left; // Solves the issue of a parent element with a different text-align overriding.
}
