:host {
    // Internal private design tokens
    --card-header-padding: 0.625rem; //11.5px 10px
    --card-footer-padding: 0.625rem; //10px

    /**
     * @prop --body-padding: the card's body padding
     */
    --body-padding: var(--card-footer-padding, 0.625rem);
    display: block;
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-card {
    border: 1px solid var(--card-color-border);
    border-radius: var(--radius-base);
    background: var(--color-background-base-default);
    box-shadow: var(--shadow-overlay);
}

.rux-card__header {
    padding: var(--card-header-padding);
    font-family: var(--font-heading-3-font-family);
    font-size: var(--font-heading-3-font-size);
    font-weight: var(--font-heading-3-font-weight);
    letter-spacing: var(--font-heading-3-letter-spacing);
    line-height: var(--font-heading-3-line-height);
}

.rux-card__body {
    padding: var(--body-padding);
}

.rux-card__footer {
    padding: var(--card-footer-padding);
}
