:host {
  --iconDefaultSize: 2.7rem;
  --iconColor: var(--iconDefaultColor);

  display: inline-flex;

  /* height: var(--iconDefaultSize);
  width: var(--iconDefaultSize); */
}

svg,
svg > svg {
  height: 100%;
  width: auto;
  fill: var(--iconColor);
}
.icon {
  display: inline-flex;
  margin: 0 auto;
}

.rux-icon--primary > svg {
  fill: var(--primary);
}
.rux-icon--secondary > svg {
  fill: var(--primaryLight);
}
.rux-icon--tertiary > svg {
  fill: #52667a;
}
.rux-icon--quaternary > svg {
  fill: #ced6e4;
}

.rux-icon--white > svg {
  fill: #ffffff;
}

.rux-button--outline rux-icon {

}

.rux-icon--extra-small {
  height: 1rem;
  width: 1rem;
}

.rux-icon--small {
  height: 2rem;
  width: 2rem;
}

.rux-icon--large {
  height: 4rem;
  width: 4rem;
}

.rux-icon--base {
  height: 3rem;
  width: 3rem;
  /* height: 24px;
  width: auto; */
}


