:host {
    /** @prop --iconDefaultColor: the default color of the icon */
    display: inline-flex;
    color: var(--iconDefaultColor);
}

:host([hidden]) {
    display: none;
}

svg,
svg > svg {
    height: 100%;
    width: auto;
}
.icon {
    display: inline-flex;
}
