:host {
    /**
        * @prop --iconColor: the default color of the icon
    */
    --iconColor: var(--iconDefaultColor);

    fill: var(--iconColor);
    display: inline-flex;
}

:host([hidden]) {
    display: none;
}

svg,
svg > svg {
    height: 100%;
    width: auto;
}
.icon {
    display: inline-flex;
}
