:host {
    display: table-cell;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--color-background-base-default);
    padding: 0.625rem 1rem;
    white-space: nowrap;
}

:host([hidden]) {
    display: none;
}
