:host {
    display: table-cell;
    vertical-align: middle;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--color-background-base-default);
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    line-height: var(--font-body-1-line-height);
    padding: var(--spacing-0) var(--spacing-2);
    height: calc(var(--spacing-8) - 1px); //32 (height and borders)
    white-space: nowrap;
}
::slotted(*) {
    vertical-align: middle;
}

:host([hidden]) {
    display: none;
}
