:host {
    display: contents;
}

.rux-track {
    display: contents;
}

.ruler-time {
    display: flex;
    padding: var(--spacing-2);
    background: #2c3d4d;
    border-right: 1px solid var(--color-background-surface-default);
}

.ruler-time.has-date-scroll {
    padding: 8px 20px 8px;
}

.ruler-new-day-cell {
    background-color: var(--color-background-base-default);
}

.ruler-new-day-display {
    display: flex;
    align-items: flex-end;
    text-align: left;
    padding-inline-start: var(--spacing-2);

    padding-block: var(--spacing-1);

    & span {
        position: sticky;
        left: 210px;
    }
}
