:host {
    display: contents;
}

.rux-track {
    display: contents;
}

.ruler-time {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    justify-content: center;
}

.ruler-new-day-cell {
    background-color: var(--color-background-base-default);
    font-size: var(--font-size-sm);
    display: block;
    text-align: center;
    padding: 5px;
}

.ruler-new-day-display {
    display: block;
    font-size: var(--font-size-sm);
}
