:host {
    display: contents;
}

.rux-track {
    display: contents;
}

.ruler-time {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    justify-content: center;
}

.ruler-time.has-date-scroll {
    padding: 8px 20px 8px;
}

.ruler-new-day-cell {
    background-color: var(--color-background-base-default);
}

.ruler-new-day-display {
    display: flex;
    align-items: flex-end;
    background: var(--color-background-surface-header);
    text-align: left;
    padding-inline-start: 20px;

    padding-block: var(--spacing-1);

    & span {
        position: sticky;
        left: 210px;
    }
}
