:host {
    box-sizing: border-box;
}

/*remove default marker*/
summary {
    list-style: none;
}
/*remove default marker in safari*/
details > summary::-webkit-details-marker {
    display: none;
}

summary {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    border-radius: var(--radius-base);
    background-color: var(--color-background-surface-default);
    color: var(--color-text-interactive-default);
    padding: var(--spacing-2) calc(var(--spacing-2) - 2px);
    min-height: var(--spacing-10);
    box-shadow: 0 -1px 0 0 var(--color-background-base-default) inset;
    cursor: pointer;
    min-width: 0;
}

summary:hover rux-icon,
summary:hover .rux-accordion-item--title {
    color: var(--color-text-interactive-hover);
}

.rux-accordion-item {
    display: flex;
    font-family: var(--font-control-body-1-font-family);
    font-size: var(--font-control-body-1-font-size);
    font-weight: var(--font-control-body-1-font-weight);
    line-height: var(--font-control-body-1-line-height);
    letter-spacing: var(--font-control-body-1-letter-spacing);
    color: var(--color-text-primary);
    padding: var(--spacing-050) var(--spacing-2);

    &--title {
        padding: var(--spacing-1) var(--spacing-1);
        flex-grow: 1;
        box-sizing: border-box;

        &--truncated {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &--content {
        padding: var(--spacing-4);
        margin: var(--spacing-0);
    }

    /*when disabled*/
    &--disabled {
        opacity: var(--disabled-opacity);
        cursor: not-allowed;

        & > summary {
            cursor: not-allowed;
            pointer-events: none;
        }
        & .rux-accordion-item--content {
            pointer-events: none;
        }
    }
}

rux-icon {
    padding: var(--spacing-1);
}
