.rux-body-1 {
    font-size: 1rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: calc(1.5 / 1);
    letter-spacing: 0.005em
}

.rux-body-1-bold {
    font-size: 1rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: calc(1.5 / 1);
    letter-spacing: 0.005em
}

.rux-body-2 {
    font-size: 0.875rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: calc(1.25 / 0.875);
    letter-spacing: 0.005em
}

.rux-body-2-bold {
    font-size: 0.875rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: calc(1.25 / 0.875);
    letter-spacing: 0.005em
}

.rux-body-3 {
    font-size: 0.75rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: calc(1 / 0.75);
    letter-spacing: 0.005em
}

.rux-body-3-bold {
    font-size: 0.75rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: calc(1 / 0.75);
    letter-spacing: 0.005em
}

.rux-control-body-1 {
    font-size: 1rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: calc(1.25 / 1);
    letter-spacing: 0.005em
}

.rux-control-body-1-bold {
    font-size: 1rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: calc(1.25 / 1);
    letter-spacing: 0.005em
}

.rux-heading-1 {
    font-size: 2.125rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: calc(2.5 / 2.125);
    letter-spacing: 0.0025em
}

.rux-heading-1-bold {
    font-size: 2.125rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: calc(2.5 / 2.125);
    letter-spacing: 0.0025em
}

.rux-heading-2 {
    font-size: 1.5rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: calc(1.75 / 1.5);
    letter-spacing: 0em
}

.rux-heading-3 {
    font-size: 1.25rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: calc(1.5 / 1.25);
    letter-spacing: 0.0015em
}

.rux-heading-4 {
    font-size: 1.25rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: calc(1.5 / 1.25);
    letter-spacing: 0.0015em
}

.rux-heading-5 {
    font-size: 1.125rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: calc(1.5 / 1.125);
    letter-spacing: 0em
}

.rux-heading-6 {
    font-size: 1.125rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: calc(1.5 / 1.125);
    letter-spacing: 0em
}

.rux-display-1 {
    font-size: 3.75rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: calc(4.375 / 3.75);
    letter-spacing: -0.005em
}

.rux-display-2 {
    font-size: 3rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: calc(3.5 / 3);
    letter-spacing: 0em
}

.rux-monospace-1 {
    font-size: 1.75rem;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: calc(2 / 1.75);
    letter-spacing: 0em
}

:where(:root) {
    --font-control-body-1-bold-text-case: none;
    --font-control-body-1-bold-text-decoration: none;
    --font-control-body-1-bold-paragraph-spacing: 0;
    --font-control-body-1-bold-letter-spacing: 0.005em;
    --font-control-body-1-bold-font-size: 1rem;
    --font-control-body-1-bold-line-height: calc(20 / 16);
    --font-control-body-1-bold-font-weight: 700;
    --font-control-body-1-bold-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-control-body-1-text-case: none;
    --font-control-body-1-text-decoration: none;
    --font-control-body-1-paragraph-spacing: 0;
    --font-control-body-1-letter-spacing: 0.005em;
    --font-control-body-1-font-size: 1rem;
    --font-control-body-1-line-height: calc(20 / 16);
    --font-control-body-1-font-weight: 400;
    --font-control-body-1-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-display-2-text-case: none;
    --font-display-2-text-decoration: none;
    --font-display-2-paragraph-spacing: 0;
    --font-display-2-letter-spacing: 0em;
    --font-display-2-font-size: 3rem;
    --font-display-2-line-height: calc(56 / 48);
    --font-display-2-font-weight: 400;
    --font-display-2-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-display-1-text-case: none;
    --font-display-1-text-decoration: none;
    --font-display-1-paragraph-spacing: 0;
    --font-display-1-letter-spacing: -0.005em;
    --font-display-1-font-size: 3.75rem;
    --font-display-1-line-height: calc(70 / 60);
    --font-display-1-font-weight: 300;
    --font-display-1-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-monospace-1-text-case: none;
    --font-monospace-1-text-decoration: none;
    --font-monospace-1-paragraph-spacing: 0;
    --font-monospace-1-letter-spacing: 0em;
    --font-monospace-1-font-size: 1.75rem;
    --font-monospace-1-line-height: calc(32 / 28);
    --font-monospace-1-font-weight: 500;
    --font-monospace-1-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-body-3-bold-text-case: none;
    --font-body-3-bold-text-decoration: none;
    --font-body-3-bold-paragraph-spacing: 0;
    --font-body-3-bold-letter-spacing: 0.005em;
    --font-body-3-bold-font-size: 0.75rem;
    --font-body-3-bold-line-height: calc(16 / 12);
    --font-body-3-bold-font-weight: 700;
    --font-body-3-bold-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-body-3-text-case: none;
    --font-body-3-text-decoration: none;
    --font-body-3-paragraph-spacing: 0;
    --font-body-3-letter-spacing: 0.005em;
    --font-body-3-font-size: 0.75rem;
    --font-body-3-line-height: calc(16 / 12);
    --font-body-3-font-weight: 400;
    --font-body-3-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-body-2-bold-text-case: none;
    --font-body-2-bold-text-decoration: none;
    --font-body-2-bold-paragraph-spacing: 0;
    --font-body-2-bold-letter-spacing: 0.005em;
    --font-body-2-bold-font-size: 0.875rem;
    --font-body-2-bold-line-height: calc(20 / 14);
    --font-body-2-bold-font-weight: 700;
    --font-body-2-bold-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-body-2-text-case: none;
    --font-body-2-text-decoration: none;
    --font-body-2-paragraph-spacing: 0;
    --font-body-2-letter-spacing: 0.005em;
    --font-body-2-font-size: 0.875rem;
    --font-body-2-line-height: calc(20 / 14);
    --font-body-2-font-weight: 400;
    --font-body-2-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-body-1-bold-text-case: none;
    --font-body-1-bold-text-decoration: none;
    --font-body-1-bold-paragraph-spacing: 0;
    --font-body-1-bold-letter-spacing: 0.005em;
    --font-body-1-bold-font-size: 1rem;
    --font-body-1-bold-line-height: calc(24 / 16);
    --font-body-1-bold-font-weight: 700;
    --font-body-1-bold-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-body-1-text-case: none;
    --font-body-1-text-decoration: none;
    --font-body-1-paragraph-spacing: 0;
    --font-body-1-letter-spacing: 0.005em;
    --font-body-1-font-size: 1rem;
    --font-body-1-line-height: calc(24 / 16);
    --font-body-1-font-weight: 400;
    --font-body-1-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-heading-6-text-case: none;
    --font-heading-6-text-decoration: none;
    --font-heading-6-paragraph-spacing: 0;
    --font-heading-6-letter-spacing: 0em;
    --font-heading-6-font-size: 1.125rem;
    --font-heading-6-line-height: calc(24 / 18);
    --font-heading-6-font-weight: 300;
    --font-heading-6-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-heading-5-text-case: none;
    --font-heading-5-text-decoration: none;
    --font-heading-5-paragraph-spacing: 0;
    --font-heading-5-letter-spacing: 0em;
    --font-heading-5-font-size: 1.125rem;
    --font-heading-5-line-height: calc(24 / 18);
    --font-heading-5-font-weight: 400;
    --font-heading-5-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-heading-4-text-case: none;
    --font-heading-4-text-decoration: none;
    --font-heading-4-paragraph-spacing: 0;
    --font-heading-4-letter-spacing: 0.0015em;
    --font-heading-4-font-size: 1.25rem;
    --font-heading-4-line-height: calc(24 / 20);
    --font-heading-4-font-weight: 300;
    --font-heading-4-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-heading-3-text-case: none;
    --font-heading-3-text-decoration: none;
    --font-heading-3-paragraph-spacing: 0;
    --font-heading-3-letter-spacing: 0.0015em;
    --font-heading-3-font-size: 1.25rem;
    --font-heading-3-line-height: calc(24 / 20);
    --font-heading-3-font-weight: 500;
    --font-heading-3-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-heading-2-text-case: none;
    --font-heading-2-text-decoration: none;
    --font-heading-2-paragraph-spacing: 0;
    --font-heading-2-letter-spacing: 0em;
    --font-heading-2-font-size: 1.5rem;
    --font-heading-2-line-height: calc(28 / 24);
    --font-heading-2-font-weight: 400;
    --font-heading-2-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-heading-1-bold-text-case: none;
    --font-heading-1-bold-text-decoration: none;
    --font-heading-1-bold-paragraph-spacing: 0;
    --font-heading-1-bold-letter-spacing: 0.0025em;
    --font-heading-1-bold-font-size: 2.125rem;
    --font-heading-1-bold-line-height: calc(40 / 34);
    --font-heading-1-bold-font-weight: 700;
    --font-heading-1-bold-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-heading-1-text-case: none;
    --font-heading-1-text-decoration: none;
    --font-heading-1-paragraph-spacing: 0;
    --font-heading-1-letter-spacing: 0.0025em;
    --font-heading-1-font-size: 2.125rem;
    --font-heading-1-line-height: calc(40 / 34);
    --font-heading-1-font-weight: 400;
    --font-heading-1-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --spacing-050: 0.125rem;
    --spacing-025: 0.0625rem;
    --spacing-24: 6rem;
    --spacing-20: 5rem;
    --spacing-16: 4rem;
    --spacing-14: 3.5rem;
    --spacing-12: 3rem;
    --spacing-10: 2.5rem;
    --spacing-8: 2rem;
    --spacing-6: 1.5rem;
    --spacing-4: 1rem;
    --spacing-3: 0.75rem;
    --spacing-2: 0.5rem;
    --spacing-1: 0.25rem;
    --spacing-0: 0rem;
    --paragraph-spacing-0: 0;
    --letter-spacing-sm: -0.005em;
    --letter-spacing-lg: 0.0015em;
    --letter-spacing-base: 0em;
    --letter-spacing-xl: 0.0025em;
    --letter-spacing-2xl: 0.005em;
    --font-size-6xl: 3.75rem;
    --font-size-5xl: 3rem;
    --font-size-4xl: 2.125rem;
    --font-size-3xl: 1.75rem;
    --font-size-2xl: 1.5rem;
    --font-size-xl: 1.25rem;
    --font-size-lg: 1.125rem;
    --font-size-base: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weights-bold: 700;
    --font-weights-medium: 500;
    --font-weights-regular: 400;
    --font-weights-light: 300;
    --line-height-4xl: 4.375rem;
    --line-height-3xl: 3.5rem;
    --line-height-2xl: 2.5rem;
    --line-height-xl: 2rem;
    --line-height-lg: 1.75rem;
    --line-height-base: 1.5rem;
    --line-height-sm: 1.25rem;
    --line-height-xs: 1rem;
    --line-height-2xs: 0.875rem;
    --font-family-sans: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --radius-circle: 50%;
    --radius-base: 3px;
    --border-width-lg: 4px;
    --border-width-sm: 2px;
    --border-width-xs: 1px;
    --border-width-none: 0;
    --color-palette-hotorange-900: #2b1105;
    --color-palette-hotorange-800: #572108;
    --color-palette-hotorange-700: #833209;
    --color-palette-hotorange-600: #af420a;
    --color-palette-hotorange-500: #da5309;
    --color-palette-hotorange-400: #e27545;
    --color-palette-hotorange-300: #ea9875;
    --color-palette-hotorange-200: #f0baa3;
    --color-palette-hotorange-100: #f8ddd1;
    --color-palette-pink-900: #200227;
    --color-palette-pink-800: #41004d;
    --color-palette-pink-700: #610074;
    --color-palette-pink-600: #81009a;
    --color-palette-pink-500: #a200c1;
    --color-palette-pink-400: #b534ce;
    --color-palette-pink-300: #c76ada;
    --color-palette-pink-200: #da9ce7;
    --color-palette-pink-100: #edcef3;
    --color-palette-purple-900: #18152b;
    --color-palette-purple-800: #302c54;
    --color-palette-purple-700: #48417f;
    --color-palette-purple-600: #6058a8;
    --color-palette-purple-500: #786dd3;
    --color-palette-purple-400: #938bdb;
    --color-palette-purple-300: #aea8e5;
    --color-palette-purple-200: #c9c5ed;
    --color-palette-purple-100: #e4e2f7;
    --color-palette-teal-900: #032828;
    --color-palette-teal-800: #035051;
    --color-palette-teal-700: #00777a;
    --color-palette-teal-600: #009fa3;
    --color-palette-teal-500: #00c7cb;
    --color-palette-teal-400: #3ed2d6;
    --color-palette-teal-300: #70dde0;
    --color-palette-teal-200: #a1e9eb;
    --color-palette-teal-100: #d0f4f4;
    --color-palette-blue-800: #0033a0;
    --color-palette-violet-800: #502b85;
    --color-palette-cyan-900: #285766;
    --color-palette-cyan-800: #35798e;
    --color-palette-cyan-700: #20a9d5;
    --color-palette-cyan-600: #2dccff;
    --color-palette-cyan-500: #64d9ff;
    --color-palette-cyan-400: #5ce2ff;
    --color-palette-green-900: #005a00;
    --color-palette-green-800: #007a33;
    --color-palette-green-700: #00ad23;
    --color-palette-green-600: #00e200;
    --color-palette-green-500: #56f000;
    --color-palette-green-400: #99f666;
    --color-palette-yellow-900: #645600;
    --color-palette-yellow-800: #917d01;
    --color-palette-yellow-700: #c7ab00;
    --color-palette-yellow-600: #fad800;
    --color-palette-yellow-500: #fce83a;
    --color-palette-yellow-400: #fded61;
    --color-palette-orange-900: #664618;
    --color-palette-orange-800: #975f0e;
    --color-palette-orange-700: #ff8c00;
    --color-palette-orange-600: #ffaf3d;
    --color-palette-orange-500: #ffb302;
    --color-palette-orange-400: #ffcc57;
    --color-palette-red-900: #661102;
    --color-palette-red-800: #8b1703;
    --color-palette-red-700: #c8102e;
    --color-palette-red-600: #ff2a04;
    --color-palette-red-500: #ff3838;
    --color-palette-red-400: #ff5f60;
    --color-palette-grey-900: #292a2d;
    --color-palette-grey-800: #3c3e42;
    --color-palette-grey-700: #51555b;
    --color-palette-grey-600: #7b8089;
    --color-palette-grey-500: #a4abb6;
    --color-palette-grey-400: #bbc1c9;
    --color-palette-grey-300: #d4d8dd;
    --color-palette-grey-250: #e0e5eb;
    --color-palette-grey-200: #eaeef4;
    --color-palette-grey-100: #f5f6f9;
    --color-palette-brightblue-900: #101923;
    --color-palette-brightblue-850: #142435;
    --color-palette-brightblue-800: #1c3851;
    --color-palette-brightblue-700: #2b659b;
    --color-palette-brightblue-600: #3a87cf;
    --color-palette-brightblue-500: #4dacff;
    --color-palette-brightblue-400: #92cbff;
    --color-palette-brightblue-300: #b7dcff;
    --color-palette-brightblue-200: #cee9fc;
    --color-palette-brightblue-100: #daeeff;
    --color-palette-darkblue-950: #080c11;
    --color-palette-darkblue-900: #172635;
    --color-palette-darkblue-800: #1b2d3e;
    --color-palette-darkblue-700: #1c3f5e;
    --color-palette-darkblue-600: #004872;
    --color-palette-darkblue-500: #005a8f;
    --color-palette-darkblue-400: #2f7aa7;
    --color-palette-darkblue-300: #649cbd;
    --color-palette-darkblue-200: #98bdd3;
    --color-palette-darkblue-100: #cbdee9;
    --color-palette-neutral-1000a00: #00000000;
    --color-palette-neutral-000: #ffffff;
    --color-palette-neutral-1000: #000000;
    --opacity-50: 50%;
    --opacity-45: 45%;
    --opacity-40: 40%;
    --opacity-35: 35%;
    --opacity-25: 25%;
    --opacity-0: 0%
}

:where(:root) {
    --shadow-overlay: 0px 4px 4px 1px rgba(0, 0, 0, 0.45);
    --spacing-focus-default: 0.125rem;
    --border-width-focus-default: 1px;
    --color-data-visualization-8: #b7dcff;
    --color-data-visualization-7: #a1e9eb;
    --color-data-visualization-6: #92cbff;
    --color-data-visualization-5: #c9c5ed;
    --color-data-visualization-4: #70dde0;
    --color-data-visualization-3: #4dacff;
    --color-data-visualization-2: #938bdb;
    --color-data-visualization-1: #00c7cb;
    --color-classification-unclassified: #007a33;
    --color-classification-cui: #502b85;
    --color-classification-confidential: #0033a0;
    --color-classification-secret: #c8102e;
    --color-classification-topsecret: #ff8c00;
    --color-classification-topsecretsci: #fce83a;
    --color-status-off: #a4abb6;
    --color-status-standby: #2dccff;
    --color-status-normal: #56f000;
    --color-status-caution: #fce83a;
    --color-status-serious: #ffb302;
    --color-status-critical: #ff3838;
    --color-border-focus-default: #da9ce7;
    --color-border-error: #ff3838;
    --color-border-interactive-muted: #2b659b;
    --color-border-interactive-hover: #92cbff;
    --color-border-interactive-default: #4dacff;
    --color-text-error: #ff3838;
    --color-text-black: #000000;
    --color-text-white: #ffffff;
    --color-text-interactive-hover: #92cbff;
    --color-text-interactive-default: #4dacff;
    --color-text-inverse: #080c11;
    --color-text-placeholder: #a4abb6;
    --color-text-secondary: #d4d8dd;
    --color-text-primary: #ffffff;
    --color-background-transparent: #00000000;
    --color-background-interactive-muted: #2b659b;
    --color-background-interactive-hover: #92cbff;
    --color-background-interactive-default: #4dacff;
    --color-background-surface-selected: #1c3f5e;
    --color-background-surface-hover: #1c3851;
    --color-background-surface-header: #172635;
    --color-background-surface-default: #1b2d3e;
    --color-background-base-selected: #1c3f5e;
    --color-background-base-hover: #142435;
    --color-background-base-header: #172635;
    --color-background-base-default: #101923;
    --opacity-disabled: 40%
}

:where(:root) {
    --push-button-border-width: 1px;
    --push-button-prefix-margin-right: 0.25rem;
    --push-button-prefix-dimension: 20px;
    --push-button-prefix-color-fill-selected: #000000;
    --push-button-prefix-color-fill-unselected-hover: #92cbff;
    --push-button-prefix-color-fill-unselected-default: #4dacff;
    --push-button-radius: 3px;
    --push-button-padding-y-large: 0.75rem;
    --push-button-padding-y-large-icon-only: 0.75rem;
    --push-button-padding-y-small-icon-only: 0.25rem;
    --push-button-padding-y-small: 1rem;
    --push-button-padding-y-medium-icon-only: 0.5rem;
    --push-button-padding-y-medium: 0.5rem;
    --push-button-padding-x-large-icon-only: 0.75rem;
    --push-button-padding-x-large: 1rem;
    --push-button-padding-x-small-icon-only: 0.25rem;
    --push-button-padding-x-small: 1rem;
    --push-button-padding-x-medium-icon-only: 0.5rem;
    --push-button-padding-x-medium: 1rem;
    --push-button-color-background-unselected-hover: #00000000;
    --push-button-color-background-unselected-default: #00000000;
    --push-button-color-background-selected-hover: #99f666;
    --push-button-color-background-selected-default: #56f000;
    --push-button-color-border-selected-hover: #99f666;
    --push-button-color-border-selected-default: #56f000;
    --push-button-color-border-unselected-hover: #92cbff;
    --push-button-color-border-unselected-default: #4dacff;
    --push-button-color-text-selected: #000000;
    --push-button-color-text-unselected-hover: #92cbff;
    --push-button-color-text-unselected-default: #4dacff;
    --tab-color-border-bottom-selected: #4dacff;
    --tab-color-text-selected: #ffffff;
    --tab-color-text-hover: #92cbff;
    --tab-color-text-default: #4dacff;
    --tab-border-width-bottom: 4px;
    --tab-padding-bottom-small: 1.25rem;
    --tab-padding-bottom-large: 1.75rem;
    --tab-padding-top-small: 1rem;
    --tab-padding-top-large: 1.5rem;
    --tab-padding-x-small: 0.75rem;
    --tab-padding-x-large: 0.75rem;
    --tooltip-radius: 1px;
    --tooltip-color-text: #ffffff;
    --tooltip-color-background: #3c3e42;
    --timeline-header-color-background: #172635;
    --timeline-cell-color-background: #1c3f5e;
    --textarea-radius: 3px;
    --textarea-padding-y-small: 0.5rem;
    --textarea-padding-y-medium: 0.5rem;
    --textarea-padding-y-large: 0.5rem;
    --textarea-padding-x-small: 0.25rem;
    --textarea-padding-x-medium: 0.5rem;
    --textarea-padding-x-large: 0.75rem;
    --textarea-color-background-default: #101923;
    --textarea-color-text-placeholder: #a4abb6;
    --textarea-color-text-default: #ffffff;
    --textarea-color-border-invalid: #ff3838;
    --textarea-color-border-hover: #92cbff;
    --textarea-color-border-default: #2b659b;
    --textarea-border-width: 1px;
    --tag-padding-y: 0.25rem;
    --tag-padding-x: 0.75rem;
    --tag-radius: 4px;
    --tag-color-background-unknown: #292a2d;
    --tag-color-background-fail: #661102;
    --tag-color-background-pass: #005a00;
    --tag-color-text: #ffffff;
    --tag-color-border-pass: #007a33;
    --tag-color-border-fail: #8b1703;
    --tag-color-border-unknown: #292a2d;
    --tag-shadow-inner-unknown: inset 0px 0px 5px 0px rgb(164, 171, 182);
    --tag-shadow-inner-pass: inset 0px 0px 5px 0px rgb(86, 240, 0);
    --tag-shadow-inner-fail: inset 0px 0px 5px 0px rgb(255, 56, 56);
    --table-body-cell-padding-x: 0.5rem;
    --table-body-cell-padding-y: 0.25rem;
    --table-row-border-width: 1px;
    --table-row-color-border: #101923;
    --table-row-color-text: #ffffff;
    --table-row-color-background-hover: #1c3851;
    --table-row-color-background-selected: #1c3f5e;
    --table-row-color-background-default: #1b2d3e;
    --table-header-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
    --table-header-cell-padding: 0.5rem;
    --table-header-color-background: #172635;
    --switch-radius-track: 10px;
    --status-symbol-color-fill-standby-on-light: #64d9ff;
    --status-symbol-color-fill-standby-on-dark: #2dccff;
    --status-symbol-color-fill-serious-on-light: #ffaf3d;
    --status-symbol-color-fill-serious-on-dark: #ffb302;
    --status-symbol-color-fill-off-on-light: #7b8089;
    --status-symbol-color-fill-off-on-dark: #a4abb6;
    --status-symbol-color-fill-normal-on-light: #00e200;
    --status-symbol-color-fill-normal-on-dark: #56f000;
    --status-symbol-color-fill-critical-on-light: #ff2a04;
    --status-symbol-color-fill-critical-on-dark: #ff3838;
    --status-symbol-color-fill-caution-on-light: #fad800;
    --status-symbol-color-fill-caution-on-dark: #fce83a;
    --status-symbol-color-border-standby: #285766;
    --status-symbol-color-border-serious: #664618;
    --status-symbol-color-border-off: #3c3e42;
    --status-symbol-color-border-normal: #005a00;
    --status-symbol-color-border-critical: #661102;
    --status-symbol-color-border-caution: #645600;
    --status-symbol-border-width-on-light: 1px;
    --status-symbol-border-width-on-dark: 0;
    --slider-track-radius: 3px;
    --slider-track-height-inactive: 1px;
    --slider-track-height-active: 4px;
    --slider-tick-radius: 50%;
    --slider-tick-dimension: 4px;
    --slider-tick-color-background: #4dacff;
    --slider-thumb-radius: 50%;
    --slider-thumb-dimension: 20px;
    --slider-thumb-color-border-hover: #92cbff;
    --slider-thumb-color-border-default: #4dacff;
    --slider-thumb-color-background: #101923;
    --slider-thumb-border-width: 2px;
    --slider-radius-background-track: 1px;
    --slider-axis-label-color-text: #ffffff;
    --select-radius: 3px;
    --select-padding-y-small: 1rem;
    --select-padding-y-medium: 0.5rem;
    --select-padding-y-large: 0.25rem;
    --select-padding-x-small: 0.25rem;
    --select-padding-x-medium: 0.5rem;
    --select-padding-x-large: 0.75rem;
    --select-color-text-inline: #ffffff;
    --select-color-text: #4dacff;
    --select-color-border-invalid: #ff3838;
    --select-color-border-hover: #92cbff;
    --select-color-border-inline-default: #00000000;
    --select-color-border-default: #2b659b;
    --select-color-background-inline: #00000000;
    --select-color-background: #101923;
    --select-caret-selector-width: 32px;
    --select-caret-selector-color-background: #1c3f5e;
    --select-caret-dimension: 30px;
    --select-caret-color-fill: #4dacff;
    --select-border-width: 1px;
    --scrollbar-shadow-inner-vertical: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
    --scrollbar-shadow-inner-horizontal: inset 1px 3px 3px 0px rgba(0, 0, 0, 0.5);
    --scrollbar-radius: 4px;
    --radio-radius-outer: 9px;
    --radio-radius-inner: 4px;
    --radio-control-radius: 50%;
    --radio-control-padding: 0.125rem;
    --radio-control-margin-right: 0.625rem;
    --radio-control-dimension: 24px;
    --radio-control-color-border-hover: #92cbff;
    --radio-control-color-border-default: #2b659b;
    --radio-control-check-color-fill: #4dacff;
    --radio-check-radius: 50%;
    --progress-label-margin-left: 0.5rem;
    --progress-padding: 0.0625rem;
    --progress-inner-color-background: #4dacff;
    --progress-color-background: #1b2d3e;
    --progress-color-border: #4dacff;
    --progress-border-width: 1px;
    --progress-radius-outer: 10px;
    --progress-radius-inner: 8px;
    --notification-banner-padding-y-small: 0.875rem;
    --notification-banner-padding-y-large: 1.5rem;
    --notification-banner-padding-right: 0.5rem;
    --notification-banner-padding-left: 1rem;
    --notification-banner-status-symbol-margin-right: 0.75rem;
    --notification-banner-prefix-margin-right: 1rem;
    --notification-banner-prefix-dimension: 32px;
    --notification-banner-radius-outer: 3px;
    --notification-banner-radius-inner: 2px;
    --notification-banner-color-background: #101923;
    --notification-banner-color-text: #ffffff;
    --notification-banner-color-border-outer-standby: #2dccff;
    --notification-banner-color-border-outer-serious: #ffb302;
    --notification-banner-color-border-outer-off: #a4abb6;
    --notification-banner-color-border-outer-normal: #56f000;
    --notification-banner-color-border-outer-default: #4dacff;
    --notification-banner-color-border-outer-critical: #ff3838;
    --notification-banner-color-border-outer-caution: #fce83a;
    --notification-banner-color-border-inner-standby: #2dccff;
    --notification-banner-color-border-inner-serious: #ffb302;
    --notification-banner-color-border-inner-off: #a4abb6;
    --notification-banner-color-border-inner-normal: #56f000;
    --notification-banner-color-border-inner-default: #4dacff;
    --notification-banner-color-border-inner-critical: #ff3838;
    --notification-banner-color-border-inner-caution: #fce83a;
    --monitoring-icon-badge-color-background: #101923;
    --menu-divider-color-fill: #51555b;
    --log-color-border: #000000;
    --link-color-text-hover: #4dacff;
    --link-color-text-default: #4dacff;
    --input-suffix-margin-left: 0.25rem;
    --input-radius: 3px;
    --input-prefix-margin-right: 0.25rem;
    --input-padding-y-small: 0.25rem;
    --input-padding-y-medium: 0.5rem;
    --input-padding-y-large: 0.5rem;
    --input-padding-x-small: 0.5rem;
    --input-padding-x-medium: 0.5rem;
    --input-padding-x-large: 0.75rem;
    --input-icon-dimension: 20px;
    --input-icon-color-fill-default: #4dacff;
    --input-color-text-placeholder: #a4abb6;
    --input-color-text-default: #ffffff;
    --input-color-border-invalid: #ff3838;
    --input-color-border-hover: #92cbff;
    --input-color-border-default: #2b659b;
    --input-color-background-default: #101923;
    --input-border-width: 1px;
    --indeterminate-progress-radius-outer: 30px;
    --indeterminate-progress-radius-inner: 23px;
    --gsb-icon-color-fill-hover: #92cbff;
    --gsb-icon-color-fill-default: #4dacff;
    --gsb-color-text: #ffffff;
    --gsb-color-background: #172635;
    --container-color-border: #000000;
    --clock-datetime-color-background: #101923;
    --classification-banner-color-background-unclassified: #007a33;
    --classification-banner-color-background-topsecretsci: #fce83a;
    --classification-banner-color-background-topsecret: #ff8c00;
    --classification-banner-color-background-secret: #c8102e;
    --classification-banner-color-background-cui: #502b85;
    --classification-banner-color-background-confidential: #0033a0;
    --checkbox-group-padding: 1rem;
    --checkbox-group-color-border-invalid: #ff3838;
    --checkbox-group-color-border-default: #2b659b;
    --checkbox-group-checkbox-margin-bottom: 0.5rem;
    --checkbox-group-border-width: 1px;
    --checkbox-label-margin-left: 0.5rem;
    --checkbox-control-radius: 2px;
    --checkbox-control-padding: 0.125rem;
    --checkbox-control-dimension: 24px;
    --checkbox-radius: 2px;
    --card-radius: 3px;
    --card-footer-padding: 0.5rem;
    --card-body-padding: 0.5rem;
    --card-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.45);
    --card-border-width: 1px;
    --card-header-padding-y: 0.625rem;
    --card-header-padding-x: 0.5rem;
    --card-header-suffix-dimension: 24px;
    --card-header-suffix-margin-left: 0.5rem;
    --card-header-prefix-margin-right: 0.5rem;
    --card-header-prefix-dimension: 24px;
    --card-color-background: #101923;
    --card-color-border: #51555b;
    --button-radius: 3px;
    --button-padding-y-small-icon-only: 0.25rem;
    --button-padding-y-small: 0.25rem;
    --button-padding-y-medium-icon-only: 0.5rem;
    --button-padding-y-medium: 0.5rem;
    --button-padding-y-large-icon-only: 0.75rem;
    --button-padding-y-large: 0.75rem;
    --button-padding-x-small-icon-only: 0.25rem;
    --button-padding-x-small: 1rem;
    --button-padding-x-medium-icon-only: 0.5rem;
    --button-padding-x-medium: 1rem;
    --button-padding-x-large-icon-only: 0.75rem;
    --button-padding-x-large: 1rem;
    --button-icon-margin-right: 0.25rem;
    --button-icon-dimension: 20px;
    --button-icon-color-fill-secondary-hover: #92cbff;
    --button-icon-color-fill-secondary-default: #4dacff;
    --button-icon-color-fill-primary: #080c11;
    --button-icon-color-fill-borderless-hover: #92cbff;
    --button-icon-color-fill-borderless-default: #4dacff;
    --button-color-text-secondary-hover: #92cbff;
    --button-color-text-secondary-default: #4dacff;
    --button-color-text-primary: #080c11;
    --button-color-text-borderless-hover: #92cbff;
    --button-color-text-borderless-default: #4dacff;
    --button-color-border-secondary-hover: #92cbff;
    --button-color-border-secondary-default: #4dacff;
    --button-color-border-primary-hover: #92cbff;
    --button-color-border-primary-default: #4dacff;
    --button-color-border-borderless: #00000000;
    --button-color-background-secondary: #00000000;
    --button-color-background-primary-hover: #92cbff;
    --button-color-background-primary-default: #4dacff;
    --button-color-background-borderless: #00000000;
    --button-border-width: 1px
}

.light-theme {
    --shadow-overlay: 0px 4px 4px 1px rgba(0, 0, 0, 0.35);
    --color-data-visualization-8: #3a87cf;
    --color-data-visualization-7: #009fa3;
    --color-data-visualization-6: #2b659b;
    --color-data-visualization-5: #786dd3;
    --color-data-visualization-4: #00777a;
    --color-data-visualization-3: #1c3851;
    --color-data-visualization-2: #6058a8;
    --color-data-visualization-1: #035051;
    --color-status-off: #7b8089;
    --color-status-standby: #64d9ff;
    --color-status-normal: #00e200;
    --color-status-caution: #fad800;
    --color-status-serious: #ffaf3d;
    --color-status-critical: #ff2a04;
    --color-border-focus-default: #b534ce;
    --color-border-error: #c8102e;
    --color-border-interactive-muted: #2f7aa7;
    --color-border-interactive-hover: #1c3f5e;
    --color-border-interactive-default: #005a8f;
    --color-text-error: #c8102e;
    --color-text-interactive-hover: #1c3f5e;
    --color-text-interactive-default: #005a8f;
    --color-text-inverse: #ffffff;
    --color-text-placeholder: #7b8089;
    --color-text-secondary: #51555b;
    --color-text-primary: #292a2d;
    --color-background-interactive-muted: #2f7aa7;
    --color-background-interactive-hover: #1c3f5e;
    --color-background-interactive-default: #005a8f;
    --color-background-surface-selected: #cee9fc;
    --color-background-surface-hover: #daeeff;
    --color-background-surface-header: #f5f6f9;
    --color-background-surface-default: #ffffff;
    --color-background-base-selected: #cee9fc;
    --color-background-base-hover: #98bdd3;
    --color-background-base-header: #f5f6f9;
    --color-background-base-default: #eaeef4;
    --tooltip-color-text: #000000;
    --tooltip-color-background: #bbc1c9;
    --timeline-header-color-background: #f5f6f9;
    --timeline-cell-color-background: #cbdee9;
    --tag-shadow-inner-unknown: inset 0px 0px 5px 0px rgb(123, 128, 137);
    --tag-shadow-inner-pass: inset 0px 0px 5px 0px rgb(0, 226, 0);
    --tag-shadow-inner-fail: inset 0px 0px 5px 0px rgb(255, 42, 4);
    --scrollbar-shadow-inner-vertical: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    --scrollbar-shadow-inner-horizontal: inset 1px 3px 3px 0px rgba(0, 0, 0, 0.5);
    --notification-banner-color-border-outer-standby: #285766;
    --notification-banner-color-border-outer-serious: #664618;
    --notification-banner-color-border-outer-off: #3c3e42;
    --notification-banner-color-border-outer-normal: #005a00;
    --notification-banner-color-border-outer-default: #005a8f;
    --notification-banner-color-border-outer-critical: #661102;
    --notification-banner-color-border-outer-caution: #645600;
    --notification-banner-color-border-inner-standby: #64d9ff;
    --notification-banner-color-border-inner-serious: #ffaf3d;
    --notification-banner-color-border-inner-off: #7b8089;
    --notification-banner-color-border-inner-normal: #00e200;
    --notification-banner-color-border-inner-default: #005a8f;
    --notification-banner-color-border-inner-critical: #ff2a04;
    --notification-banner-color-border-inner-caution: #fad800;
    --log-color-border: #7b8089;
    --gsb-icon-color-fill-hover: #92cbff;
    --gsb-icon-color-fill-default: #4dacff;
    --gsb-color-text: #ffffff;
    --gsb-color-background: #172635;
    --container-color-border: #7b8089
}

:root {
    --indeterminate-gradient: conic-gradient( rgba(77, 172, 255, 0), rgba(51, 51, 51, 0), rgba(77, 172, 255, 0.3), rgba(77, 172, 255, 0.6), rgba(77, 172, 255, 0.7), rgb(77, 172, 255) );
    --indeterminate-nub-color: #4dacff;
    --standby-fill: #2dccff;
    --standby-border: #2dccff;
    --standby-fill-opacity: 0;
    --critical-fill: #ff3838;
    --critical-border: #ff3838;
    --serious-fill: #ffb302;
    --serious-border: #ffb302;
    --caution-fill: #fce83a;
    --caution-border: #fce83a;
    --normal-fill: #56f000;
    --normal-border: #56f000;
    --off-fill: #a4abb6;
    --off-border: #a4abb6;
    --dropdown-arrow: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6875 14.6375L14.925 17.875C15.4125 18.3625 16.2 18.3625 16.6875 17.875L19.925 14.6375C20.7125 13.85 20.15 12.5 19.0375 12.5H12.5625C11.45 12.5 10.9 13.85 11.6875 14.6375Z' fill='%234DACFF'/%3E%3C/svg%3E%0A");
    --rux-input-calendar-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 4H18V3C18 2.45 17.55 2 17 2C16.45 2 16 2.45 16 3V4H8V3C8 2.45 7.55 2 7 2C6.45 2 6 2.45 6 3V4H5C3.89 4 3.01 4.9 3.01 6L3 20C3 21.1 3.89 22 5 22H19C20.1 22 21 21.1 21 20V6C21 4.9 20.1 4 19 4ZM19 19C19 19.55 18.55 20 18 20H6C5.45 20 5 19.55 5 19V9H19V19ZM9 13V11H7V13H9ZM11 11H13V13H11V11ZM17 13V11H15V13H17Z' fill='%234dacff'/%3E%3C/svg%3E%0A");
    --rux-input-time-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM11.72 7H11.78C12.18 7 12.5 7.32 12.5 7.72V12.26L16.37 14.56C16.72 14.76 16.83 15.21 16.62 15.55C16.42 15.89 15.98 15.99 15.64 15.79L11.49 13.3C11.18 13.12 11 12.79 11 12.44V7.72C11 7.32 11.32 7 11.72 7Z' fill='%234dacff'/%3E%3C/svg%3E%0A");
    --rux-input-search-icon: url("data:image/svg+xml,%3Csvg width='20' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.71 14H15.5L19.74 18.26C20.15 18.67 20.15 19.34 19.74 19.75C19.33 20.16 18.66 20.16 18.25 19.75L14 15.5V14.71L13.73 14.43C12.33 15.63 10.42 16.25 8.39002 15.91C5.61002 15.44 3.39002 13.12 3.05002 10.32C2.53002 6.09 6.09002 2.53 10.32 3.05C13.12 3.39 15.44 5.61 15.91 8.39C16.25 10.42 15.63 12.33 14.43 13.73L14.71 14ZM5.00002 9.5C5.00002 11.99 7.01002 14 9.50002 14C11.99 14 14 11.99 14 9.5C14 7.01 11.99 5 9.50002 5C7.01002 5 5.00002 7.01 5.00002 9.5Z' fill='%234dacff' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
    --container-footer-color-background: #172635;
    --container-header-color-background: #172635
}

.light-theme {
    --indeterminate-gradient: conic-gradient( rgba(47, 122, 167, 0), rgba(51, 51, 51, 0), rgba(0, 90, 143, 0.3), rgba(0, 90, 143, 0.6), rgba(47, 122, 167, 0.7), rgb(47, 122, 167) );
    --indeterminate-nub-color: #2f7aa7;
    --standby-fill: #2dccff;
    --standby-fill-opacity: 1;
    --standby-border: #285766;
    --critical-fill: #ff3838;
    --critical-border: #661102;
    --serious-fill: #ffb302;
    --serious-border: #664618;
    --caution-fill: #fce83a;
    --caution-border: #645600;
    --normal-fill: #56f000;
    --normal-border: #005a00;
    --off-fill: #a4abb6;
    --off-border: #3c3e42;
    --dropdown-arrow: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6875 14.6375L14.925 17.875C15.4125 18.3625 16.2 18.3625 16.6875 17.875L19.925 14.6375C20.7125 13.85 20.15 12.5 19.0375 12.5H12.5625C11.45 12.5 10.9 13.85 11.6875 14.6375Z' fill='%23005A8F'/%3E%3C/svg%3E%0A");
    --rux-input-calendar-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 4H18V3C18 2.45 17.55 2 17 2C16.45 2 16 2.45 16 3V4H8V3C8 2.45 7.55 2 7 2C6.45 2 6 2.45 6 3V4H5C3.89 4 3.01 4.9 3.01 6L3 20C3 21.1 3.89 22 5 22H19C20.1 22 21 21.1 21 20V6C21 4.9 20.1 4 19 4ZM19 19C19 19.55 18.55 20 18 20H6C5.45 20 5 19.55 5 19V9H19V19ZM9 13V11H7V13H9ZM11 11H13V13H11V11ZM17 13V11H15V13H17Z' fill='%23005a8f'/%3E%3C/svg%3E%0A");
    --rux-input-time-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM11.72 7H11.78C12.18 7 12.5 7.32 12.5 7.72V12.26L16.37 14.56C16.72 14.76 16.83 15.21 16.62 15.55C16.42 15.89 15.98 15.99 15.64 15.79L11.49 13.3C11.18 13.12 11 12.79 11 12.44V7.72C11 7.32 11.32 7 11.72 7Z' fill='%23005a8f'/%3E%3C/svg%3E%0A");
    --rux-input-search-icon: url("data:image/svg+xml,%3Csvg width='20' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.71 14H15.5L19.74 18.26C20.15 18.67 20.15 19.34 19.74 19.75C19.33 20.16 18.66 20.16 18.25 19.75L14 15.5V14.71L13.73 14.43C12.33 15.63 10.42 16.25 8.39002 15.91C5.61002 15.44 3.39002 13.12 3.05002 10.32C2.53002 6.09 6.09002 2.53 10.32 3.05C13.12 3.39 15.44 5.61 15.91 8.39C16.25 10.42 15.63 12.33 14.43 13.73L14.71 14ZM5.00002 9.5C5.00002 11.99 7.01002 14 9.50002 14C11.99 14 14 11.99 14 9.5C14 7.01 11.99 5 9.50002 5C7.01002 5 5.00002 7.01 5.00002 9.5Z' fill='%23005a8f' fill-rule='evenodd'/%3E%3C/svg%3E%0A")
}

rux-menu-item:not(:defined) {
    visibility: hidden
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-color: var(--color-border-interactive-muted, #2b659b) var(--color-background-surface-default, #1b2d3e)
}

*,*::before,*::after {
    box-sizing: inherit
}

body {
    margin: 1rem;
    padding: 0;
    font-family: var(--font-body-1-font-family, 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif);
    font-size: var(--font-body-1-font-size, 1rem);
    font-weight: var(--font-body-1-font-weight, 400);
    letter-spacing: var(--font-body-1-letter-spacing, 0.005em);
    color: var(--color-text-primary, white);
    background-color: var(--color-background-base-default, #101923);
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto;
    gap: 1rem;
}

rux-global-status-bar {
    grid-column-end: span 3;
}

body a {
    text-decoration: none;
    color: var(--color-background-interactive-default, #4dacff)
}

body a:hover {
    text-decoration: underline
}

body a:focus-visible {
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: var(--spacing-focus-default, 0.125rem);
    border-radius: var(--radius-base, 3px)
}

label {
    user-select: none
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-border-interactive-muted, #2b659b);
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: padding-box
}

::-webkit-scrollbar-thumb:vertical {
    border-left-width: 4px
}

::-webkit-scrollbar-thumb:horizontal {
    border-top-width: 4px
}

::-webkit-scrollbar-thumb:active,::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-background-interactive-default, #3a81bf)
}

::-webkit-scrollbar-track,::-webkit-scrollbar-corner {
    background-color: var(--color-background-surface-default, #1b2d3e)
}

::-webkit-scrollbar-track:vertical {
    box-shadow: var(--scrollbar-shadow-inner-vertical, inset 3px 3px 3px 0px rgba(0, 0, 0, 0.5))
}

::-webkit-scrollbar-track:horizontal {
    box-shadow: var(--scrollbar-shadow-inner-horizontal, inset 1px 3px 3px 0px rgba(0, 0, 0, 0.5))
}

div {
    display: flex;
    flex-direction: column;
}
