/*
**
** 	ASTRO BUTTON
** 	==========================================================================
**  3.0 Notes
**  - Removed Master Off Button Style
**  - Replaced various properties with css custom properties to support
**  - Removed .satcom class definition
**  - Removed narrow/short definitions
**	1.4 Notes
**	- Added rux_ and BEM compatible classes to all satcom_ NOTE: satcom_ will be removed in a future version
**	- Disabled user selection of text on all buttons
**	- Removed redundant background hover from 'disabled' state by using :not() on the :hover state
** 	- Removed redundant background hover from 'master off' by using :not() on the :hover state // deprecate after 1.4
**  - Fixed Firefox alignment issue where text was misaligned vertically
**  - Renamed half-height to short and half-width to narrow (Note: rux_ only, satcom_ retains old syntax)
**  - Removed user-select and placed it in astro.css to apply to all input types
**  - Embedded master off icon and removed the additional states required to handle icons and gradient backgrounds
*/

.rux-button-group {
  display: flex;
}

.rux-button-group .rux-button:not(:last-child) {
  margin-right: 0.625rem;
}

/* Global Button Styles */
.rux-button {
  display: flex;
  position: relative;

  margin: 0;
  padding: 0 1rem;

  height: 2.125rem;
  min-width: 2.25rem;
  /* max-width: 10.125rem; */

  border-radius: var(--buttonBorderRadius, 3px);

  color: var(--buttonTextColor, rgb(255, 255, 255));
  font-family: var(--fontFamily, "Open Sans", sans-serif);
  font-size: 1rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  justify-content: center;
  align-items: center;

  user-select: none;
}

/* 
  
  Disabled States

*/
/* disabled state */
.rux-button:disabled {
  opacity: var(--disabledOpacity, 0.4);
  cursor: var(--disabledCursor, not-allowed);
}

.rux-button:focus {
  outline: none;
}
.rux-button:not(.rux-button--outline) {
  border: 1px solid var(--buttonBackgroundColor, rgb(0, 90, 143));
  background-color: var(--buttonBorderColor, rgb(0, 90, 143));
  box-shadow: var(
    --controlBoxShadow,
    0 2px 4px rgba(0, 0, 0, 0.14),
    0 3px 4px rgba(0, 0, 0, 0.12),
    0 1px 5px rgba(0, 0, 0, 0.2)
  );
}

/* Outline Button Specific Styles */
.rux-button--outline {
  color: var(--buttonOutlineTextColor, rgb(255, 255, 255));
  background-color: var(--buttonOutlineBackgroundColor, transparent);
  border: 1px solid var(--buttonOutlineBorderColor, rgb(0, 90, 143));
}

/* 
  
  Press/Active States

*/
.rux-button:active:not([hover]):not([disabled]) {
  border-color: var(--buttonActiveBorderColor, rgb(0, 90, 143)) !important;
  background-color: var(
    --buttonActiveBackgroundColor,
    rgb(0, 90, 143)
  ) !important;
}

.rux-button:active:not([hover]):not([disabled]):not(.rux-button--outline) {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14) !important;
}

/* 
  
  Hover States

*/
.rux-button:hover:not([active]):not([disabled]):not(.rux-button--outline) {
  border-color: var(--buttonHoverBorderColor, rgb(58, 129, 191));
  background-color: var(--buttonHoverBackgroundColor, rgb(58, 129, 191));
  box-shadow: var(
    --buttonHoverBoxShadow,
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12),
    0 4px 5px rgba(0, 0, 0, 0.2)
  );
}

.rux-button--outline:hover:not([disabled]) {
  color: var(--buttonOutlineTextColor, rgb(255, 255, 255));
  background-color: var(
    --buttonOutlineHoverBackgroundColor,
    rgba(30, 47, 66, 0.75)
  );
  border-color: var(--buttonOutlineHoverBorderColor, rgb(58, 129, 191));
}

/* 
  
  Icons

*/

.rux-button--small {
  font-size: var(--smallLabelFontSize, 0.875rem);
  height: 1.625rem;
  padding: 0 1rem;
  line-height: 1;
}

.rux-button--large {
  font-size: var(--largeLabelFontSize, 1.125rem);
  height: 2.875rem;
  /* min-width: 2.875rem; */
  padding: 0 1.5rem;
}

.rux-button__icon {
  height: 1.5rem;
  width: 1.5rem;

  margin-right: 0.625rem;
  margin-left: -0.625rem;
}

.rux-button--icon-only .rux-button__icon {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.rux-button--large.rux-button--icon-only .rux-button__icon {
  margin-left: -1rem;
  margin-right: -1rem;
}

.rux-button--small .rux-button__icon {
  height: 0.875rem;
  width: 0.875rem;
}

.rux-button--large .rux-button__icon {
  height: 1.75rem;
  width: 1.75rem;
  margin-left: -0.8rem;
  /* margin: -0.65rem 0.25rem -0.3rem calc((1.5rem - 0.625rem) * -1); */
}

.rux-button__icon .rux-icon {
  height: auto;
  width: 100%;
  fill: var(--buttonTextColor, rgb(255, 255, 255));
}

.rux-button.rux-button--critical,
.rux-button.rux-button--critical:active:not([hover]):not([disabled]):not(.rux-button--outline) {
  background-color: var(--colorCriticalDarken1, rgb(191, 36, 36)) !important;
  border-color: var(--colorCriticalDarken1, rgb(191, 36, 36)) !important;
}

.rux-button.rux-button--critical:hover:not([active]):not([disabled]) {
  background-color: var(--colorCritical, rgb(255, 48, 48));
  border-color: var(--colorCritical, rgb(255, 48, 48));
}
