:host {
    rux-input::part(input-field) {
        overflow: inherit;
    }
}
rux-input[disabled] {
    rux-pop-up {
        pointer-events: none;
    }
}
rux-pop-up::part(container) {
    display: flex;
}
