:host {
    rux-input::part(input-field) {
        overflow: inherit;
    }
}
rux-input::part(input) input[type='date' i]::-webkit-calendar-picker-indicator {
    display: none;
}
// :host {
//     display: block;
//     width: 100%;
//     line-height: var(--line-height-base);
//     font-family: var(--font-body-1-font-family);
//     font-size: var(--font-body-1-font-size);
//     font-weight: var(--font-body-1-font-weight);
//     letter-spacing: var(--font-body-1-letter-spacing);
//     color: var(--color-text-primary);
//     background-color: var(--color-background-base-default);

//     .rux-datepicker {
//         height: 100%;
//     }
//     .input-wrapper {
//         height: 36px;
//         padding: var(--spacing-0);
//         margin: var(--spacing-0);
//         border: 1px solid var(--color-border-interactive-muted);
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         cursor: text;
//         rux-icon {
//             align-self: center;
//             padding: var(--spacing-1);
//             cursor: pointer;
//         }
//         .editable-input {
//             width: 100%;
//             padding: var(--spacing-2);
//             white-space: nowrap;
//             overflow: hidden;
//         }
//     }

//     rux-menu {
//         padding: var(--spacing-2);
//     }
// }
// .date-picker-footer {
//     display: flex;
//     align-items: center;
//     .today-clear {
//         margin-right: 3rem;
//     }
//     .button-group {
//         display: flex;
//         margin: var(--spacing-2);
//     }
// }
