:host {
    display: block;
    position: relative;
    visibility: visible;
    z-index: 1;
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    line-height: var(
        --line-height-base
    ); //fixes issue where parent element with larger line-height causes layout shift.
    text-align: left;
}

:host([hidden]) {
    display: none;
}

:host(.hidden) {
    display: none;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
