*,
:after,
:before {
  box-sizing: inherit;
}

html,
body {
  /*font-family: var(--font, "Helvetica Neue", Helvetica, Arial, sans-serif);*/
  font-size: var(--font-size, 1rem);
  color: var(--font-color, #000);
  background-color: var(--background-color, #fff);
}

.container {
  display: flex;

  .content {
    @media #{$tablet} {
      max-width: 100%;
    }
  }
}
.content {
  flex-grow: 1;
  max-width: var(--content-max-width, 1200px);
  padding-right: var(--content-padding-vertical, 1rem);

  /* border: 1px solid red; */

  main {
    /* max-width: 45rem; */
    > pre {
      max-width: 100%;
      white-space: normal;
      overflow-x: scroll;
    }
  }

  @media #{$tablet} {
    width: 100%;
    padding-right: 0;
  }
}

table {
  width: 100%;
  margin-bottom: 1rem;
}

thead tr {
  border-bottom: 2px solid darkgray;
}

th {
  text-align: left;
  padding: 0.35rem 0.25rem;
}

td {
  padding: 0.35rem 0.25rem;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid grey;
}

blockquote {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-left: solid 8px $txt-orange;
  // -moz-box-shadow: 2px 2px 10px #ccc;
  // -webkit-box-shadow: 2px 2px 10px #ccc;
  // box-shadow: 2px 2px 10px #ccc;
}

@media screen and (min-width: 1000px) {
  table {
    max-width: 120%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-top: 70px;
  }
}

.page-migration {
  sl-details {
    margin-bottom: 1rem;
  }

  pre > code {
    white-space: pre;
  }
  .breaking-change {
    h3 {
      border-bottom: none;
      margin: 0;
      padding: 0;
    }

    header {
      display: flex;
      align-items: center;
      padding-bottom: 0.075rem;
      border-bottom: 1px solid #eee;
      sl-badge {
        margin-left: auto;
      }
    }

    .breaking-change__content {
      padding: 1rem;
    }
  }
}
