:host {
    /**
     * @prop --color-classification-text-light: the color of light text in the classification marking
     */

    /**
     * @prop --color-classification-text-dark: the color of dark text in the classification marking
     */

    display: block;
}

:host([hidden]) {
    display: none;
}

.rux-classification {
    font-size: var(--font-size);
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--color-classification-text-light);
    background-color: var(--classification-unclassified);
    text-transform: uppercase;
}

.rux-classification--banner {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 26px;
    transition: top 10.5s ease;
    overflow-wrap: anywhere;
    color: var(--color-classification-text-light);
    background-color: var(--classification-unclassified);
    position: sticky;
    top: 0;
    left: 0;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 100%;
    &__footer {
        bottom: 0;
        top: inherit;
        position: sticky;
    }
}

.rux-classification--tag {
    width: fit-content;
    line-height: 1;
    padding: 0.25rem 0.9375rem;
    border-radius: 3px;
    font-size: var(--font-size-md);
}

:host([classification='top-secret-sci']) .rux-classification {
    background-color: var(--classification-top-secret-sci);
    color: var(--color-classification-text-dark);
}

:host([classification='top-secret']) .rux-classification {
    background-color: var(--classification-top-secret);
    color: var(--color-classification-text-dark);
}
:host([classification='secret']) .rux-classification {
    background-color: var(--classification-secret);
}
:host([classification='confidential']) .rux-classification {
    background-color: var(--classification-confidential);
}
:host([classification='controlled']) .rux-classification {
    background-color: var(--classification-cui);
}
:host([classification='unclassified']) .rux-classification {
    background-color: var(--classification-unclassified);
}
