:host {
    /**
     * @prop --color-classification-text-light: the color of light text in the classification marking
     */

    /**
     * @prop --color-classification-text-dark: the color of dark text in the classification marking
     */
    display: block;
}

:host([hidden]) {
    display: none;
}

:host div {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 26px;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-weight: bold;
    font-family: var(--font-family);
    text-transform: uppercase;
    transition: top 0.5s ease;
    overflow-wrap: anywhere;
    color: var(--color-classification-text-light);
    background-color: var(--color-classification-unclassified);
    position: absolute;
    top: 0;
    left: 0;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 100%;
}

:host([tag]) div {
    position: relative;
    align-items: center;
    top: auto;
    left: auto;
    min-height: auto;
    width: fit-content;
    line-height: 1;
    padding: 0.25rem 0.9375rem;
    border-radius: 3px;
    font-size: var(--font-size-md);
    flex-grow: 0;
}

:host([tag]) {
    padding: 0.25rem 0.9375rem;
}

:host([classification='top-secret-sci']) div {
    background-color: var(--color-classification-top-secret-sci);
    color: var(--color-classification-text-dark);
}

:host([classification='top-secret']) div {
    background-color: var(--color-classification-top-secret);
    color: var(--color-classification-text-dark);
}
:host([classification='secret']) div {
    background-color: var(--color-classification-secret);
}
:host([classification='confidential']) div {
    background-color: var(--color-classification-confidential);
}
:host([classification='controlled']) div {
    background-color: var(--color-classification-cui);
}
:host([classification='unclassified']) div {
    background-color: var(--color-classification-unclassified);
}
