:host {
    /**
     * @prop --classificationTextColorLight: the color of light text in the classification marking
     */

    /**
     * @prop --classificationTextColorDark: the color of dark text in the classification marking
     */
    display: block;
}

:host([hidden]) {
    display: none;
}

:host div {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 26px;
    box-sizing: border-box;
    font-size: var(--fontSize);
    font-weight: bold;
    font-family: var(--fontFamily);
    text-transform: uppercase;
    transition: top 0.5s ease;
    overflow-wrap: anywhere;
    color: var(--classificationTextColorLight);
    background-color: var(--classificationUnclassifiedBackgroundColor);
    position: absolute;
    top: 0;
    left: 0;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 100%;
}

:host([tag]) div {
    position: relative;
    align-items: center;
    top: auto;
    left: auto;
    min-height: auto;
    width: fit-content;
    line-height: 1;
    padding: 0.25rem 0.9375rem;
    border-radius: 3px;
    font-size: var(--fontSizeMD);
    flex-grow: 0;
}

:host([tag]) {
    padding: 0.25rem 0.9375rem;
}

:host([classification='top-secret-sci']) div {
    background-color: var(--classificationTopSecretSCIBackgroundColor);
    color: var(--classificationTextColorDark);
}

:host([classification='top-secret']) div {
    background-color: var(--classificationTopSecretBackgroundColor);
    color: var(--classificationTextColorDark);
}
:host([classification='secret']) div {
    background-color: var(--classificationSecretBackgroundColor);
}
:host([classification='confidential']) div {
    background-color: var(--classificationConfidentialBackgroundColor);
}
:host([classification='controlled']) div {
    background-color: var(--classificationControlledBackgroundColor);
}
:host([classification='unclassified']) div {
    background-color: var(--classificationUnclassifiedBackgroundColor);
}
