:host {
    /**
  * @prop --notification-text-color: The notification text color
  */
    --notification-text-color: var(--color-global-tertiary-900);

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    align-content: center;
    top: -4.375rem;
    left: 0;
    height: 4.375rem;
    width: 100%;
    position: absolute;
    background-color: var(--color-global-status-standby-400);
    transition: top 0.5s ease;
    box-sizing: border-box;
    font-family: var(--font-heading-5-font-family);
    font-size: var(--font-heading-5-font-size);
    font-weight: var(--font-heading-5-font-weight);
    letter-spacing: var(--font-heading-5-letter-spacing);
    color: var(--notification-text-color);
    rux-icon {
        align-items: center;
        justify-content: flex-end;
        color: var(--color-banner-clear);
        padding: 0 1.25rem 0 0.625rem;
    }
    .rux-notification__message {
        padding: 1.063rem 1.25rem; //17px 20px
        white-space: nowrap;
        overflow: hidden;
    }
}

:host([hidden]) {
    display: none;
}

:host(.rux-notification-banner-0ba5409c--open) {
    top: 0;
}
:host(.rux-notification-banner--small) {
    height: 2rem;
    font-family: var(--font-body-1-font-family);
    font-weight: var(--font-body-1-font-weight);
    font-size: var(--font-body-1-font-size);
    letter-spacing: var(--font-body-1-letter-spacing);
    line-height: var(--font-body-1-line-height);
    font-weight: var(--font-body-1-font-weight);

    .rux-notification__message {
        padding: 0.406rem 0.625rem; //6.5px 10px
    }
}
.rux-notification__message {
    padding: 1.063rem 0; //17 0
}

:host,
:host([status='off']) {
    background-color: var(--color-global-status-off-400);
}

:host([status='standby']) {
    background-color: var(--color-global-status-standby-400);
}

:host([status='normal']) {
    background-color: var(--color-global-status-normal-400);
}
:host([status='caution']) {
    background-color: var(--color-global-status-caution-400);
}

:host([status='serious']) {
    background-color: var(--color-global-status-serious-500);
}
:host([status='critical']) {
    background-color: var(--color-global-status-critical-400);
}
