:host {
    /* reference */
    --border-color: var(--color-border-interactive-muted);
    --button-font: 1rem/1.25 "Roboto", system-ui;

    /* display */
    display: inline-flex;

    /* layout */
    flex-flow: column;
}

:host([hidden]) {
    display: none;
}

/* reset unorganized list */
ul {
    list-style-type: none;
    margin-block: 0;
    padding-inline: 0;
}

li {
    display: contents;
}

/* remove input display */
input {
    display: none;
}

/* reset label style */
label {
    cursor: inherit;
}

.rux-segmented-buttons {
    display: flex;

    /* appearance */
    border-radius: var(--radius-base);
}

.rux-segmented-button {
    /* typography */
    font: var(--button-font);

    /* color */
    background-color: var(--color-background-base-default);
    color: var(--color-text-interactive-default);

    /* input */
    cursor: pointer;

    /* appearance */
    box-shadow: var(--border-color, currentColor) 0 0 0 1px inset;

    /* state: hover or keyboard focused */
    &:hover,
    &:focus-visible {
        background-color: var(--color-background-base-hover);
        color: var(--color-text-interactive-hover);
    }

    /* state: disabled */
    &.--disabled {
        /* input */
        cursor: not-allowed;

        /* appearance */
        opacity: var(--opacity-disabled, 40%);
    }

    /* variant: first-child */
    &:first-child {
        /* appearance */
        border-start-start-radius: inherit;
        border-end-start-radius: inherit;
    }

    /* variant: last-child */
    &:last-child {
        /* appearance */
        border-start-end-radius: inherit;
        border-end-end-radius: inherit;
    }

    /* variant: small size */
    &.--small {
        /* layout */
        padding-block: calc(1 * var(--scale));
        padding-inline: calc(4 * var(--scale));
    }

    /* variant: medium size */
    &.--medium {
        /* layout */
        padding-block: calc(2 * var(--scale));
        padding-inline: calc(4 * var(--scale));
    }

    /* variant: large size */
    &.--large {
        /* layout */
        padding-block: calc(3 * var(--scale));
        padding-inline: calc(4 * var(--scale));
    }

    &.--selected {
        /* color */
        background-color: var(--color-background-base-selected);
        color: var(--color-text-primary);
    }

    /* collapsed inline borders */
    & + & {
        /* layout */
        margin-inline-start: -1px;
    }
}
