@use '../../common/functional-components/FormFieldMessage/form-field-message.scss';

:host {
    display: block;
}

.hidden,
:host([hidden]) {
    display: none;
}

::slotted(rux-checkbox) {
    display: block;
    //margin-bottom: 0.625rem; //10px
    margin-bottom: var(--spacing-2);
}

::slotted(rux-checkbox:last-of-type) {
    margin-bottom: 0;
}

.rux-label {
    color: var(--color-text-primary);
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    line-height: var(--font-body-1-line-height);
    margin-bottom: var(--spacing-2);
    text-align: left; // Solves the issue of a parent element with a different text-align overriding.
    &__asterisk {
        margin-left: 4px;
    }
}

.rux-checkbox-group {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: fit-content;
    box-shadow: var(--color-border-interactive-muted) 0 0 0 1px inset;
    border-radius: var(--radius-base);
    &--invalid {
        box-shadow: var(--color-text-error) 0 0 0 1px inset;
    }
}
