@charset "UTF-8";
main {
  padding: var(--content-padding-horizontal, 1rem) var(--content-padding-vertical, 1rem);
  color: var(--font-color, #494949);
  max-width: var(--content-max-text-width, 40em); }
  main img {
    /* max-width: 100%; */ }
  main ul {
    list-style: disc;
    margin: 0 0 0 1.5em;
    padding: 0.7em 0 0; }
  @media only screen and (max-width: 767px) {
    main {
      padding: 30px 20px; } }

/* main :not(figure):not(img):not(table) {
	max-width: var(--content-max-text-width, 40em);
} */
 main ol:not(.compliance-list) {
  /* list-style: decimal; */
  counter-reset: item;
  list-style: none;
  padding-left: 2.25rem; }

main ol:not(.compliance-list) > li {
  counter-increment: astro-counter;
  position: relative; }
main ol:not(.compliance-list) > li:before {
    content: counter(astro-counter);
    color: #fff;
    font-weight: bold;
    position: absolute;
    --size:1.5rem;
    left: calc(-1 * var(--size) - 0.5rem);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: var(--primary-color);
    border-radius: 50%;
    text-align: center; }


main li {
  line-height: 1.4;
  margin: 0 0 0.85em -0.1rem; }

/* Notes/Tips/Cautions */
.note, .caution {
  padding: 1rem 1rem 1rem 4rem;
  margin: 1rem 0;
  line-height: 1;
  border-radius: 5px;
  background-position: left 1rem top 1rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat; }

.note p:last-of-type, .caution p:last-of-type {
  margin-bottom: 0; }

.note {
  background-color: #fcf1bf;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%238A7A4E%22%3E%3Ccircle%20cx%3D%2232%22%20cy%3D%2232%22%20r%3D%2229.5%22%20stroke-width%3D%225%22%2F%3E%3Cpath%20stroke-width%3D%221.5%22%20d%3D%22M32.523%2014c-.942%200-1.765.308-2.468.925-.703.616-1.055%201.479-1.055%202.587%200%20.967.336%201.79%201.008%202.47.672.679%201.495%201.018%202.469%201.018.973%200%201.804-.34%202.492-1.018A3.342%203.342%200%200%200%2036%2017.512c0-1.093-.348-1.951-1.043-2.576A3.529%203.529%200%200%200%2032.523%2014zM32%2051h1a3%203%200%200%200%203-3V28a3%203%200%200%200-3-3h-1a3%203%200%200%200-3%203v20a3%203%200%200%200%203%203z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E); }

.caution {
  background-color: pink;
  color: #30181c;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23BF1515%22%3E%3Ccircle%20cx%3D%2232%22%20cy%3D%2232%22%20r%3D%2229.5%22%20stroke-width%3D%225%22%2F%3E%3Cpath%20stroke-width%3D%221.5%22%20d%3D%22M32.523%2051a3.626%203.626%200%200%201-2.468-.925C29.352%2049.46%2029%2048.596%2029%2047.488c0-.967.336-1.79%201.008-2.47C30.68%2044.34%2031.503%2044%2032.477%2044c.973%200%201.804.34%202.492%201.018A3.342%203.342%200%200%201%2036%2047.488c0%201.093-.348%201.951-1.043%202.576a3.529%203.529%200%200%201-2.434.936zM32%2014h1a3%203%200%200%201%203%203v20a3%203%200%200%201-3%203h-1a3%203%200%200%201-3-3V17a3%203%200%200%201%203-3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E); }

/* figures */
figure img {
  width: 100%; }

figcaption {
  padding: 0.5rem 0 0.5rem;
  font-size: 0.9rem;
  line-height: 1.3; }

/* Special for color section */
.color tr:not(:last-of-type) {
  border-bottom: 1px solid #ccc; }

.color td {
  vertical-align: middle; }

.color table code {
  font-size: 1.2rem; }

.color td img {
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0; }

.two-col, .three-col {
  display: grid;
  grid-gap: 1rem; }

.two-col {
  grid-template-columns: repeat(2, [col-start] 1fr); }
  @media only screen and (max-width: 767px) {
    .two-col {
      display: block; } }

.three-col {
  grid-template-columns: repeat(3, [col-start] 1fr); }

.do, .dont {
  margin-top: 0.5rem;
  border-top: 5px solid; }

.do {
  border-top-color: #2fb312; }

.dont {
  border-top-color: #fe3701; }

#contribution-footer {
  border-top: 1px solid #ddd;
  margin-top: 2.75rem; }

#contribution-footer h1 {
  font-size: 1.75rem;
  margin-bottom: 0;
  border: none; }
