main {

}

main img {
	max-width: 100%;
}

main p {
	margin: 0 0 1rem 0;
	line-height: 1.375;
}

main ul {
	list-style: disc;
	padding-left: 1.25rem;
	margin-left: 0.75rem;
	margin-top: 0.75rem;
}

main li {
	margin-bottom: 0.75rem;
	line-height: 1.5;
}

/* Notes/Tips/Cautions */
.note {
	background-color: rgb(252, 241, 191);
	padding: 1rem;
	margin: 1rem 0;
	line-height: 1;
}

.note p:last-child {
	margin-bottom: 0;
}

.caution {
	background-color: pink;
	padding: 1rem;
	margin: 1rem 0;
	line-height: 1;
}

.caution p:last-child {
	margin-bottom: 0;
}


/* figures */
figure {
	/* outline: 1px solid red; */
	margin: 1.5rem 0;
}

figcaption {
	padding: 0.5rem 0 0.5rem;
	font-size: 0.9rem;
}