main {
	padding: var(--content-padding-horizontal, 1rem) var(--content-padding-vertical, 2rem);
	color: var(--font-color, rgb(73,73,73));
}

main img {
	/* max-width: 100%; */
}

/* main :not(figure):not(img):not(table) {
	max-width: var(--content-max-text-width, 40em);
} */

main {
	max-width: var(--content-max-text-width, 40em);
}

main ul {
	list-style: disc;
	margin: 0 0 0 1.5em;
	padding: 0.7em 0 0;
}

main li {
	line-height: 1.2;
	margin: 0 0 0.85em -0.1rem;
}



/* Notes/Tips/Cautions */
.note {
	background-color: rgb(252, 241, 191);
	padding: 1rem;
	margin: 1rem 0;
	line-height: 1;
}

.note p:last-child {
	margin-bottom: 0;
}

.caution {
	background-color: pink;
	padding: 1rem;
	margin: 1rem 0;
	line-height: 1;
}

.caution p:last-child {
	margin-bottom: 0;
}


/* figures */
figure {
	
	outline: 1px solid red;
	margin: 1.5rem 0;
}

figure img {
	width: 100%;
}

figcaption {
	padding: 0.5rem 0 0.5rem;
	font-size: 0.9rem;
}


.dos-and-donts {
	display: flex;
	flex-wrap: wrap;
}

.dos-and-donts figure {
	width: auto;
}