.site-footer {
  display: flex;
  flex-direction: column;
  margin: 0 var(--content-padding-vertical);
  padding: 1rem 0;
  font-size: var(--font-size-sm, 0.85rem);
  line-height: 1.25; }
  .site-footer__publisher {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .site-footer__rocket-logo {
    margin-top: 1.25rem; }
  .site-footer .designed-by a {
    display: flex;
    align-items: center;
    text-align: right; }
  .site-footer .designed-by dt {
    width: 6rem;
    margin-right: 1rem; }
  .site-footer__meta {
    text-align: center; }
  .site-footer ul {
    display: flex; }
  .site-footer li:not(:last-of-type)::after {
    content: '|';
    margin: 0 0.25rem; }
  .site-footer dt {
    font-weight: normal; }
    .site-footer dt:not(:first-of-type) {
      margin-top: 1rem; }
  .site-footer .separator {
    opacity: .3;
    margin: 0 10px;
    display: inline-block;
    font-size: .8rem;
    font-style: normal; }
  @media only screen and (max-width: 767px) {
    .site-footer__publisher {
      flex-direction: column;
      text-align: center; }
    .site-footer__provided-by {
      text-align: center; }
    .site-footer ul {
      justify-content: center; }
    .site-footer .designed-by {
      margin: 1rem auto; }
      .site-footer .designed-by a {
        flex-direction: column; }
      .site-footer .designed-by dt {
        width: 100%; }
      .site-footer .designed-by dd {
        width: 60px;
        margin: 1rem auto; }
        .site-footer .designed-by dd img {
          width: 100%; } }
