.home {
  position: relative;
  box-sizing: border-box;
  background: #000 url(/img/_site/home-bg.jpg) center -120px no-repeat;
  font-family: "Titillium Web", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.125rem;
  scrollbar-color: #282838 #3c3c54;
  scrollbar-width: 14px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  /* Anchor background image to top if browser height exceeds image height */
  /* iOS on mobile does not support fixed background-attachment so anchor to top if width < 768 */
}
.home::-webkit-scrollbar-track {
  background-color: #3c3c54;
}
.home::-webkit-scrollbar {
  width: 14px;
}
.home::-webkit-scrollbar-thumb {
  background-color: #282838;
}
@media (min-height: 1700px) {
  .home {
    background-position: center top;
  }
}
@media (max-width: 768px) {
  .home {
    background-position: center top;
    background-attachment: initial;
  }
}

/* older scrollbar theme for home page */
.primary {
  display: inline-block;
  padding: 11px 18px 10px;
  font-size: 18px;
  white-space: nowrap;
  /* margin: 22px auto 6px; */
  /* width: 10rem; */
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: box-shadow 0.2s, background-color 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid 1px #ffffff;
  border-radius: 5px;
  color: var(--secondary-color);
  /* margin: 1rem auto 1rem auto; */
  /* font-family: 'Titillium Web', Helvetica, "Helvetica Neue", Arial, sans-serif; */
}
.primary:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  color: #ffffff;
  background-color: var(--secondary-color);
  text-decoration: none;
}

.home__container {
  margin: auto;
}
.home__container p {
  line-height: 1.3;
  line-height: 1.3;
  text-shadow: 1px 1px 1px #333;
}
.home__container h1,
.home__container a {
  line-height: 1.3;
  text-shadow: 1px 1px 1px #333;
  color: #f5a623;
}
.home__container h2 {
  color: #ffffff;
}

/* Wraps everything above video */
.home__head-material {
  background-color: rgba(19, 17, 34, 0.55);
}

/*---------------------------------------------
------------- HOME NAVIGATION ELEMENTS
----------------------------------------------*/
.home__nav {
  padding: 1rem;
  max-width: var(--home-container-width);
  margin: 0 auto;
}
.home__nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 60%;
}
.home__nav li {
  font-size: 1.13rem;
  text-align: center;
  font-weight: 600;
}
.home__nav li a:hover {
  text-decoration: none;
}
@media only screen and (max-width:767px) {
  .home__nav ul {
    width: 100%;
    color: red;
  }
}

/* Astro Logo */
.home__masthead {
  margin: 0 auto;
  text-align: center;
  max-width: var(--home-container-width);
}

.home__logo {
  margin: 0.9rem auto 1.5rem auto;
  height: 113px;
  width: 206px;
}

/* Intro Blurb */
.home__intro {
  text-align: left;
  padding: 0 2rem 1rem;
  margin: 0 0 2rem;
  max-width: 60rem;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__intro > h1 {
  display: none;
}
.home__intro a {
  display: inline-block;
  width: 10rem;
  margin: 0.5rem auto;
}

/* Wraps everything below intro blurb */
.home__body-material {
  max-width: var(--home-container-width);
  margin: 0 auto;
  padding: 0 30px;
}

/* Video Section */
.home__video {
  margin: 2rem auto 2rem auto;
  max-width: 840px;
}

.video-wrapper {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
}

.video-overlay {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/img/_site/video-bg.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.play-button {
  box-shadow: 0 5 10px rgba(0, 0, 0, 0.4);
}

/*---------------------------------------------
------------- HOME BENEFITS SECTIN ELEMENTS
----------------------------------------------*/
.home__benefits {
  display: flex;
  justify-content: center;
  margin: 2.1rem auto;
  height: 100%;
}
.home__benefits .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home__benefits .row-element {
  text-align: center;
  width: 32%;
  background: rgba(29, 31, 41, 0.7);
  padding: 1rem 1.5rem 1.5rem;
  border: solid 1px rgba(181, 124, 33, 0.5);
  border-bottom: solid 6px var(--secondary-color);
  font-size: 1.1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.home__benefits h2 {
  font-size: 1.35rem;
  font-weight: 700;
  margin: 0 auto 0.9rem;
}
@media only screen and (max-width:767px) {
  .home__benefits .row {
    flex-direction: column;
  }
  .home__benefits h2 {
    margin: 0 auto 1rem;
  }
  .home__benefits .row-element {
    width: 100%;
    margin: 1rem auto;
  }
}

/* email signup  - some sorta funky overrides in here due to mailchimp */
.home__email-signup {
  margin: 2rem auto;
  padding: 0.45rem 2.8125rem;
  background: rgba(29, 31, 41, 0.7);
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-bottom: solid 6px var(--secondary-color);
}
.home__email-signup h2 {
  text-align: center;
  font-size: 1.25rem;
  margin: 1rem auto;
}
.home__email-signup #mc_embed_signup form {
  display: flex;
  justify-content: center;
  padding: 0;
}
.home__email-signup form > div {
  padding: 0;
  margin: 0;
}
.home__email-signup form input[type=text], .home__email-signup form input[type=email] {
  width: auto;
  border: none;
  padding: 13px 19px;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.6);
}
.home__email-signup #mc_embed_signup {
  background: transparent;
  clear: left;
  font-size: 1rem;
  line-height: 1.3rem;
}
.home__email-signup .mc-field-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 50rem;
}
.home__email-signup .mc-field-layout .mc-field-group {
  min-width: 20rem;
  padding: 0 1rem;
}
.home__email-signup .mc-field-layout .mc-field-group > input {
  border: solid 2px transparent;
}
.home__email-signup #mc_embed_signup div#mce-responses {
  float: none;
  width: 100%;
  margin: 0;
  text-align: center;
}
.home__email-signup #mc_embed_signup div.response {
  margin: 0;
  padding: 0 0 1.7rem;
  float: none;
  width: 100%;
  font-size: 18px;
}
.home__email-signup #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  position: absolute;
}
.home__email-signup #mc_embed_signup #mce-success-response,
.home__email-signup #mc_embed_signup #mce-error-response {
  color: #fff;
}
@media only screen and (max-width:767px) {
  .home__email-signup .mc-field-layout {
    flex-direction: column;
  }
  .home__email-signup #mc-embedded-subscribe {
    margin: 0rem auto 1rem;
  }
}

/* .home__email-signup #mc-embedded-subscribe.primary:hover {
	color: #FFFFFF;
	background-color: var(--secondary-color);
} */
:root {
  --color-background-surface-header: #172635;
  --color-text-inverse: #080c11;
  --color-background-interactive: #4dacff;
  --color-background-surface-selected: #1c3f5e;
  --color-background-base-default: #101923;
  --color-background-interactive-hover: #92cbff;
  --primary-color: #ff8b26;
}

.home .container {
  background-color: #000;
  background-image: url("/img/_site/home-bg-img.jpg"), url("/img/_site/home-bg-bottom.png");
  background-position: top center, bottom center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

.home-container {
  padding: 1.5rem 0;
  width: 100%;
  overflow: hidden;
}

.home-container .home__body-material {
  width: 1200px;
  max-width: 100%;
}

.home .mobile-nav {
  background: var(--color-background-surface-header);
}

/*header*/
.version {
  text-align: right;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

/*sidebar*/
.home .sidebar {
  background: var(--color-background-surface-header);
  font-size: 1rem;
}

/*community events*/
.community {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}
.community h4 {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.community.section-container {
  padding-top: 1.25rem;
}

.p-community-events {
  flex-grow: 1;
}

.p-community-links {
  flex-basis: 37.5%;
  font-size: 1rem;
}

.p-community-events-content {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
}
.p-community-events-action {
  text-align: center;
  margin-top: 1rem;
}

.p-community-event {
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  background: var(--color-background-surface-selected);
  border-radius: 3px;
}

.p-community-event {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.p-community-event-heading {
  flex-grow: 1;
}
.p-community-event .-date {
  font-size: 1.25rem;
}
.p-community-event-actions a {
  display: block;
  width: 140px;
  text-align: center;
}

.p-community-link {
  --gap: max(1rem);
  --image-size: max(5rem);
  --padding-inline: max(1rem);
  display: flex;
  padding-block: 1rem;
  padding-inline: var(--padding-inline);
  background: var(--color-background-surface-selected);
  border-radius: 3px;
}
.p-community-link-heading {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.p-community-link-image {
  display: flex;
  align-self: center;
  margin-right: 1rem;
  width: 80px;
  height: 80px;
}

.p-community-links-content {
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
}

/*articles*/
.articles {
  display: flex;
  justify-content: space-between;
}

.article-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.article-content {
  background: var(--color-background-surface-selected);
  border-radius: 0 0 3px 3px;
  align-self: stretch;
  flex-grow: 1;
  padding: 1.375rem;
  padding-top: 0.625rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.article-content h4 {
  margin-top: 1rem;
}
.article-content .button {
  margin-top: auto;
}
.article-image {
  border-radius: 3px 3px 0 0;
}
.article-image img {
  border-radius: 3px 3px 0 0;
  width: 100%;
}
.article-tags {
  background: var(--color-background-surface-header);
  padding: 0 12px;
  font-size: 0.9rem;
  line-height: 1.5rem;
  border-radius: 3px;
  color: var(--primary-color);
}
.article-tags li {
  display: inline-block;
}
.article-tags li:after {
  content: " | ";
  color: var(--primary-color);
}
.article-tags li:last-child:after {
  display: none;
}

/*general*/
.button,
a.button {
  border: none;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: var(--color-background-interactive);
  color: var(--color-text-inverse);
}

.button:hover,
.button:active a.button:hover,
a.button:active {
  text-decoration: none;
  background: var(--color-background-interactive-hover);
}

.button-secondary,
a.button-secondary {
  border: 1px solid var(--color-background-interactive);
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: transparent;
  color: var(--color-background-interactive);
}

.button-secondary:hover,
.button-secondary:active a.button-secondary:hover,
a.button:active {
  text-decoration: none;
  background: transparent;
  border-color: var(--color-background-interactive-hover);
  color: var(--color-background-interactive-hover);
}

.section-container {
  background-color: var(--color-background-surface-header);
  padding: 2.25rem;
  border-radius: 6px;
}

.title-block {
  display: flex;
  align-items: baseline;
}

a.button-secondary.title-button {
  margin-bottom: 0.625rem;
  margin-left: auto;
  margin-right: 0;
}

.section-title {
  font-size: 2.125rem;
}

.home__benefits .row {
  gap: 3%;
}

.home__benefits .benefit {
  background-color: var(--color-background-surface-selected);
  border-radius: 3px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.benefit svg {
  display: block;
  margin: 0 auto;
}

.benefit svg + h2 {
  margin-top: 1.5rem;
}

.benefit .button {
  display: inline-flex;
  justify-self: center;
  margin-top: auto;
}

/*email-signup*/
/* email signup  - some sorta funky overrides in here due to mailchimp */
.home__email-signup {
  margin: 2rem auto;
  border-bottom: 0;
}
.home__email-signup #mc_embed_signup h2 {
  text-align: left;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 0 1rem;
}
.home__email-signup #mc_embed_signup p {
  padding: 0 1rem;
}
.home__email-signup #mc_embed_signup form {
  display: flex;
  justify-content: center;
  padding: 0;
}
.home__email-signup form > div {
  padding: 0;
  margin: 0;
}
.home__email-signup form input[type=text], .home__email-signup form input[type=email] {
  width: auto;
  border: none;
  padding: 13px 19px;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 12px;
  background-color: transparent;
  color: #fff;
}
.home__email-signup #mc_embed_signup {
  background: transparent;
  clear: left;
  font-size: 1rem;
  line-height: 1.3rem;
}
.home__email-signup #mc_embed_signup input {
  border-color: var(--color-background-interactive);
}
.home__email-signup .mc-field-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 50rem;
}
.home__email-signup .mc-field-layout .mc-field-group {
  min-width: 20rem;
  padding: 0 1rem;
}
.home__email-signup .mc-field-layout .mc-field-group > input {
  border: solid 2px transparent;
}
.home__email-signup #mc-embedded-subscribe {
  border: 1px solid var(--color-background-interactive);
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 0;
}
.home__email-signup #mc-embedded-subscribe:hover {
  border-color: var(--color-background-interactive-hover);
  color: var(--color-background-interactive-hover);
}
.home__email-signup #mc_embed_signup div#mce-responses {
  float: none;
  width: 100%;
  margin: 0;
  text-align: center;
}
.home__email-signup #mc_embed_signup div.response {
  margin: 0;
  padding: 0 0 1.7rem;
  float: none;
  width: 100%;
  font-size: 18px;
}
.home__email-signup #mc_embed_signup .mc-field-group label {
  margin-bottom: 8px;
}
.home__email-signup #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  position: absolute;
}
.home__email-signup #mc_embed_signup #mce-success-response,
.home__email-signup #mc_embed_signup #mce-error-response {
  color: #fff;
}
@media only screen and (max-width: 969px) {
  .home__email-signup .mc-field-layout {
    flex-direction: column;
  }
  .home__email-signup #mc-embedded-subscribe {
    margin: 0rem auto 1rem;
  }
}

/************Carousel***************/
.embla {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.embla__container {
  display: flex;
  justify-content: space-between;
}

.embla__slide {
  flex: 0 0 23%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: var(--color-background-interactive);
  padding: 0;
}

.embla__button:hover {
  fill: var(--color-background-interactive-hover);
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: -2rem;
}

.embla__button--next {
  right: -2rem;
}

/**********************RESPONSIVE*****************/
@media only screen and (max-width: 969px) {
  .p-community-event {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 1279px) {
  .home__benefits .row {
    flex-direction: column;
  }
  .benefit {
    margin-top: 2.25rem;
  }
  .benefit:first-child {
    margin-top: 0;
  }
  .embla__slide {
    flex: 0 0 50%;
    padding: 0 1%;
  }
}
@media only screen and (min-width:1280px) {
  .community {
    flex-direction: row;
  }
}
/**************FOOTER****************/
.site-footer {
  background-color: var(--color-background-base-default);
  padding: 30px 40px;
  font-size: 0.9rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.site-footer__meta {
  text-align: right;
  order: 3;
}
.site-footer__rocket-logo {
  margin-right: 1rem;
}
.site-footer__designed-by {
  display: flex;
  order: 1;
}
.site-footer__social ul {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.site-footer__social li {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  margin-left: 2rem;
}
.site-footer__social img {
  height: 2.5rem;
}

.sitemap {
  flex-grow: 1;
  padding: 0 0 0 2.5rem;
  order: 2;
}
.sitemap-title {
  margin-top: 0;
}
.sitemap-nav {
  display: flex;
}
.sitemap-nav ul {
  flex-grow: 1;
  padding: 0 2rem 0 0;
}
.sitemap-nav a {
  color: #fff;
}

@media screen and (max-width: 1300px) {
  .site-footer__designed-by {
    order: 2;
  }
  .sitemap {
    order: 1;
    padding-left: 0;
    width: 100%;
    margin-bottom: 2rem;
  }
  .site-footer {
    flex-wrap: wrap;
  }
}
