.demo {
  display: block;
  position: relative;
  height: 100%;
}
.demo .icon-play {
  z-index: 10;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-62px, -62px);
  width: 125px;
  height: 125px;
  background-image: url("../img/_site/icon-play.png");
  background-repeat: no-repeat;
  background-size: 125px 125px;
  transition: background 0.2s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .demo .icon-play {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    transform: translate(-50px, -50px);
  }
}
.demo > img {
  max-width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}
.demo:hover .icon-play {
  background-image: url("../img/_site/icon-play-orange.png");
}
.lightbox {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5rem calc((100vw - 1100px) / 2);
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.lightbox:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.lightbox > video,
.lightbox > img {
  max-width: 100%;
}
.lightbox:target {
  display: block;
  outline: none;
}
