
.site-nav {
	position: -webkit-sticky;
	position: sticky;
	flex-grow: 0;
	flex-shrink: 0;
	top: 0;
	left: 0;
	height: 100vh;
	width: 250px;
	
	background: black url(/img/_site/nav-bg.jpg) 0 0 no-repeat;
}

.site-nav__masthead {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

.site-nav__masthead-logo {
	margin-top: 2.5rem;
	width: 45%;
}

.site-nav li {
	padding: 0.5rem;
}

.site-nav a {
	text-decoration: none;
}

.selected a{
	color: var(--nav-selected-font-color);
	font-weight: 500;
}