.demo-container {
  overflow: hidden;
  width: 100%;
  padding: 1rem;

  border-radius: 5px;
  background-color: var(--demo-container-background-color, #1a2634);
}

.demo-container iframe {
  box-sizing: border-box;
  width: 100%;
  padding: 0rem;
}

.demo-container a {
  color: var(--demo-container-link-color, #fff);
}

.demo-container__sample-links {
  display: flex;
  font-size: 0.9rem;
  justify-content: flex-end;
  margin-top: 1rem;
  border-top: 1px solid
    var(--demo-container-border-color, rgba(255, 255, 255, 0.25));
  padding: 1rem;
}

.demo-container__sample-links a {
  display: flex;
}

.demo-container__sample-links a::before {
  display: flex;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;

  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.demo-container__sample-links a:not(:last-of-type) {
  margin-right: 1rem;
}

.sample-links__storybook::before {
  margin-right: 0.375rem;
  background-image: url(/img/_site/storybook-logo.svg);
}

.sample-links__bitbucket::before {
  margin-right: 0.5rem;
  background-image: url(/img/_site/bitbucket-logo.svg);
}

.demo-container__theme-toggle {
  display: flex;
  padding: 0.625rem 1rem;
}

.theme-toggle {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  font-weight: 300;
  font-size: 0.65rem;
  font-style: italic;

  user-select: none;
  width: 8.75rem;
  border-radius: 3px;

  margin-left: auto;
  margin-right: 0;
  padding: 1rem;
}

.theme-toggle__input {
  display: none !important;
}

.theme-toggle__button::before {
  position: absolute;
  content: "";
  display: block;

  height: 1.625rem;
  width: 100%;
}

.theme-toggle .theme-toggle__button::before {
  border-radius: 0.1875rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.light-theme .theme-toggle__button::before {
  background-color: rgba(30, 33, 73, 0.4);
}

.theme-toggle__button {
  position: absolute;
  display: flex;

  justify-content: space-around;
  align-content: center;
  align-items: center;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

.theme-toggle__button span {
  display: flex;

  align-content: center;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;
  z-index: 10;

  transition: color ease-out 0.167s;
}

.theme-toggle__button::after {
  content: "";

  display: block;
  position: absolute;
  box-sizing: border-box;

  left: 2px;

  z-index: 1;
  height: 22px;
  width: 50%;

  transition: left 0.1s ease-out;
  background-color: #fff;
  border-radius: 2px;
}

.theme-toggle__input:not(:checked) + .theme-toggle__button::after {
  left: calc(50% - 2px);
}

.theme-toggle__input:checked + .theme-toggle__button::after {
  left: 2px;
}

.theme-toggle__input:not(:checked) + label .off,
.theme-toggle__input:checked + label .on {
  color: var(--demo-container-toggle-off-color, #1e2149);
}

.theme-toggle__input:not(:checked) + label .on,
.theme-toggle__input:checked + label .off {
  color: var(--demo-container-toggle-on-color, #fff);
}
