.DocSearch-Button {
  border-radius: 0;
  width: 100%;
  margin-left: 0;
}

.DocSearch-Commands {
  display: none;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  font-size: 0.875rem;
  background: black url(/img/_site/nav-bg.jpg) 0 0 no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s;
}
@media only screen and (max-width:767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    margin: 0;
    padding: 0;
    width: 300px;
    z-index: 100;
  }
  .sidebar.is-hidden {
    left: -300px;
  }
  .sidebar.is-visible {
    display: block;
    left: 0;
  }
}

.masthead {
  text-align: center;
}
.masthead-logo {
  width: 35%;
  margin: 2.2rem auto 1.25rem auto;
}
@media only screen and (max-width:767px) {
  .masthead-logo {
    display: none;
  }
}
.masthead__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.25rem 1rem 1.25rem;
  color: red;
}
.masthead.is-visible {
  left: 0;
  transition: all 0.3s;
}
@media only screen and (max-width:767px) {
  .masthead {
    padding-top: 2em;
  }
}

.search {
  display: block;
  width: 100%;
  margin-right: 2.6rem;
}

.search__input {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  border-radius: 3px;
  padding: 0.8125rem 0.875rem;
  text-indent: 1.75em;
  line-height: 1;
  background: rgba(255, 255, 255, 0.15) url(/img/_site/search.svg) left 1em center/1rem no-repeat;
  width: 100%;
  font-size: 0.875rem;
  color: white;
  -webkit-font-smoothing: antialiased;
}
.search__input:focus {
  background-color: rgba(0, 0, 0, 0.9);
}
.search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
  -webkit-font-smoothing: antialiased;
}

.print-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  background: transparent url(/img/_site/print.svg) center center no-repeat;
  height: auto;
  width: 1.2em;
  margin-top: -1px;
  margin-right: 0.35rem;
  text-indent: -1000rem;
  opacity: 0.8;
}
.print-button:hover {
  opacity: 1;
}
