body {
  font-family: var(--font, Helvetica, "Helvetica Neue", Helvetica, sans-serif);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 1.15;
}

h1 {
  margin: 0.9rem 0 0.5rem;
  padding-bottom: 0.575rem;
  font-size: 2rem;
  border-bottom: 1px solid #ddd;
}

h2 {
  margin: 1.5em 0 0.3em;
  font-size: 1.35em;
}

h3 {
  margin: 1.35rem 0 0.25rem;
  padding-bottom: 0.45em;
  font-size: 1.1375em;
  border-bottom: 1px solid #eee;
}

h4 {
  margin: 1.367em 0 0.45em;
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

a,
a:link {
  text-decoration: none;
  color: var(--primary-color);
}

strong {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

p {
  line-height: 1.5;
  padding-top: 0.4rem;
  margin-bottom: 0.8rem;
}

/* for code blocks */
pre {
  color: #fff;
  background-color: #182635;
  padding: 1rem;
  border-radius: 5px;
}

code {
  font-family: monospace;
  font-size: 1rem;
}

p code {
  color: #fff;
  background-color: #182635;
  padding: 0 0.25rem;
  line-height: 0;
}
