:root {
	--primary-color: #ffa301;
	--secondary-color: #e47836;

	--font: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-color: #000;
	--font-size-sm: 0.85rem;

	--nav-background-color: #000;
	--nav-font-color: #fff;
	
	--nav-selected-font-color: var(--primary-color);
}