:host {
    // Internal private design tokens
    --widget-width: 22rem; //352px
    --tab-height: 2.375rem; //38px
    --tab-min-width: 6.875rem; //110px
    --topic-button-size: 3.6875rem; //59px
    --sentiment-button-size: 2.625rem; //42px
}

.rux-feedback {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    left: calc(100vw - var(--widget-width) - 1rem);
    position: fixed;
    top: 100vh;
    margin-top: calc(var(--tab-height) * -1);
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transform: translateY(0.25rem);
    width: var(--widget-width);
    z-index: 10000;

    &:hover {
        transform: translateY(0);
    }

    &.open {
        transform: translateY(-100%);
        margin-top: 0;

        &:hover {
            transform: translateY(-100%);
        }
    }
}

:host::part(tab) {
    align-items: center;
    align-self: flex-end;
    background: var(--color-background-surface-header);
    border-left: 1px solid var(--color-text-interactive-default);
    border-radius: 0.25rem 0.25rem 0 0;
    border-right: 1px solid var(--color-text-interactive-default);
    border-top: 1px solid var(--color-text-interactive-default);
    color: var(--color-text-interactive-default);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: var(--tab-height);
    justify-content: center;
    margin-right: var(--spacing-2);
    min-width: var(--tab-min-width);
    position: relative;
    text-align: center;
    width: fit-content;

    /* control/control-body-1 */
    font-family: var(--font-control-body-1-font-family);
    font-size: var(--font-control-body-1-font-size);
    font-style: normal;
    font-weight: var(--font-control-body-1-font-weight);
    line-height: var(--font-control-body-1-line-height);
    letter-spacing: var(--font-control-body-1-letter-spacing);
}

:host::part(header) {
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: clip;
}

:host::part(title) {
    background: var(--color-background-surface-hover, #1c3851);
    color: var(--Light, #ededed);
    text-align: center;
    margin-block: 0;
    padding: var(--spacing-2);

    /* body/body-1-bold */
    font-family: var(--font-body-1-bold-font-family);
    font-size: var(--font-body-1-bold-font-size);
    font-style: normal;
    font-weight: var(--font-body-1-bold-font-weight);
    line-height: var(--font-body-1-bold-line-height);
    letter-spacing: var(--font-body-1-bold-letter-spacing);
}

:host::part(form),
.rux-feedback__success {
    background: var(--color-background-base-default);
    padding: var(--spacing-6) var(--spacing-4);
    color: var(--color-text-secondary);
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: stretch;
    flex: 1;
    overflow: hidden;
    gap: var(--spacing-4);

    /* body/body-2 */
    font-family: var(--font-body-2-font-family);
    font-size: var(--font-body-2-font-size);
    font-style: normal;
    font-weight: var(--font-body-2-font-weight);
    line-height: var(--font-body-2-line-height);
    letter-spacing: var(--font-body-2-letter-spacing);
}

:host::part(topic-selector),
:host::part(sentiment-group) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-2);
}

:host::part(sentiment-group) {
    margin-bottom: unset;
    gap: var(--spacing-4);
    justify-content: flex-start;
}

.rux-form__topic-button {
    width: var(--topic-button-size);
    height: var(--topic-button-size);
    flex-shrink: 0;
    border-radius: 0.375rem;
    border: 1px solid #4dacff;
    background: var(--color-background-surface-default);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);
    color: var(--color-text-interactive-default);
    cursor: pointer;

    .topic-button__icon {
        color: var(--color-text-interactive-default);
    }

    &.active,
    &:hover {
        background: var(--color-background-surface-selected);
        color: var(--color-text-white);
        .topic-button__icon {
            color: var(--color-text-white);
        }
    }
}

.rux-form-topic__form-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    text-align: left;
    overflow-y: auto;
}

.rux-feedback__success {
    align-items: center;
    gap: var(--spacing-2);
    grid-template-rows: auto min-content;

    &__message {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: inherit;
    }

    h3,
    p {
        margin: 0;
    }

    .check-icon {
        color: var(--color-palette-green-400);
    }

    .more-feedback-link {
        color: var(--color-text-interactive-default);
        text-decoration: underline;
        cursor: pointer;

        /* body/body-2-bold */
        font-family: var(--font-body-2-bold-font-family);
        font-size: var(--font-body-2-bold-font-size);
        font-style: normal;
        font-weight: var(--font-body-2-bold-font-weight);
        line-height: var(--font-body-2-bold-line-height);
        letter-spacing: var(--font-body-2-bold-letter-spacing);
    }

    &__close-button {
        justify-self: end;
    }
}

.rux-form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-2);
}

.rux-form__sentiment-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sentiment-button__emoji-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--sentiment-button-size);
        height: var(--sentiment-button-size);
        border-radius: 0.25rem;
        border: 1px solid var(--color-text-interactive-default);
        background: var(--color-background-surface-default);
    }

    &.active .sentiment-button__emoji-wrapper,
    &:hover .sentiment-button__emoji-wrapper {
        background: var(--color-background-surface-selected);
        border: 1px solid var(--color-text-white);
    }

    .sentiment-button__emoji {
        font-size: 1.5rem;
    }

    .sentiment-button__label {
        font-size: 0.75rem;
        line-height: 1.25rem; /* 166.667% */
        letter-spacing: 0.00375rem;
    }

    &.active .sentiment-button__label,
    &:hover .sentiment-button__label {
        color: var(--color-text-white, #ffffff);
    }
}

:host::part(file-upload-zone) {
    border: 1px solid var(--color-border-interactive-muted);
    border-radius: var(--radius-base);
    padding: var(--spacing-4);
    text-align: center;
    cursor: pointer;
    color: var(--color-text-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: var(--spacing-2);

    .file-upload-zone__icon {
        font-size: 2rem;
        color: var(--color-text-interactive-default);
    }

    &:hover {
        background: var(--color-background-surface-hover);
        border-color: var(--color-text-interactive-default);
        color: var(--color-text-interactive-default);

        .file-upload-zone__icon {
            color: var(--color-text-interactive-default);
        }
    }
}
