:host {
    // Internal private design tokens
    --widget-width: 18.75rem; //300px
    --widget-height: 37.1875rem; //595px
    --tab-height: 2.3125rem; //37px
    --tab-min-width: 6.875rem; //110px
    --topic-button-size: 3.6875rem; //59px
    --sentiment-button-size: 2.625rem; //42px
}

.rux-feedback {
    width: var(--widget-width);
    height: var(--widget-height);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top: calc(100vh - var(--tab-height));
    left: calc(100vw - var(--widget-width) - 1rem);
    z-index: 10000;
    transition: top 0.3s ease-in-out;

    &.open {
        top: calc(100vh - var(--widget-height));
    }
}

:host::part(tab) {
    display: flex;
    width: fit-content;
    min-width: var(--tab-min-width);
    height: var(--tab-height);
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 0.25rem 0.25rem 0 0;
    border-top: 1px solid var(--color-text-interactive-default);
    border-right: 1px solid var(--color-text-interactive-default);
    border-left: 1px solid var(--color-text-interactive-default);
    background: var(--color-background-surface-header);
    align-self: flex-end;
    margin-right: 0.38rem;
    margin-right: var(--spacing-2);

    color: var(--color-text-interactive-default);
    text-align: center;

    /* control/control-body-1 */
    font-family: var(--font-control-body-1-font-family);
    font-size: var(--font-control-body-1-font-size);
    font-style: normal;
    font-weight: var(--font-control-body-1-font-weight);
    line-height: var(--font-control-body-1-line-height);
    letter-spacing: var(--font-control-body-1-letter-spacing);
}

:host::part(header) {
    border-radius: 0.25rem 0.25rem 0 0;
}

:host::part(title) {
    background: var(--color-background-surface-hover, #1c3851);
    color: var(--Light, #ededed);
    text-align: center;
    margin-block: 0;
    padding: var(--spacing-2);

    /* body/body-1-bold */
    font-family: var(--font-body-1-bold-font-family);
    font-size: var(--font-body-1-bold-font-size);
    font-style: normal;
    font-weight: var(--font-body-1-bold-font-weight);
    line-height: var(--font-body-1-bold-line-height);
    letter-spacing: var(--font-body-1-bold-letter-spacing);
}

:host::part(form) {
    background: var(--color-background-base-default);
    padding: var(--spacing-6) var(--spacing-4);
    color: var(--color-text-secondary);
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: stretch;
    flex: 1;
    overflow: hidden;

    /* body/body-2 */
    font-family: var(--font-body-2-font-family);
    font-size: var(--font-body-2-font-size);
    font-style: normal;
    font-weight: var(--font-body-2-font-weight);
    line-height: var(--font-body-2-line-height);
    letter-spacing: var(--font-body-2-letter-spacing);
}

:host::part(topic-group),
:host::part(sentiment-group) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-4);
}

:host::part(sentiment-group) {
    margin-bottom: unset;
    gap: var(--spacing-4);
    // align-self: flex-start;
}

.rux-form__topic-button {
    width: var(--topic-button-size);
    height: var(--topic-button-size);
    flex-shrink: 0;
    border-radius: 0.375rem;
    border: 1px solid #4dacff;
    background: var(--color-background-surface-default);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);
    color: var(--color-text-interactive-default);
    cursor: pointer;

    .topic-button__icon {
        color: var(--color-text-interactive-default);
    }

    &.active,
    &:hover {
        background: var(--color-background-surface-selected);
        color: var(--color-text-white);
        .topic-button__icon {
            color: var(--color-text-white);
        }
    }
}

.rux-form-topic__form-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.rux-form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-2);
    // margin-top: var(--spacing-4);
}

.rux-form__sentiment-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sentiment-button__emoji-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--sentiment-button-size);
        height: var(--sentiment-button-size);
        border-radius: 0.25rem;
        border: 1px solid var(--color-text-interactive-default);
        background: var(--color-background-surface-default);
    }

    &.active .sentiment-button__emoji-wrapper,
    &:hover .sentiment-button__emoji-wrapper {
        background: var(--color-background-surface-selected);
        border: 1px solid var(--color-text-white);
    }

    .sentiment-button__emoji {
        font-size: 1.5rem;
    }

    .sentiment-button__label {
        font-size: 0.75rem;
        line-height: 1.25rem; /* 166.667% */
        letter-spacing: 0.00375rem;
    }

    &.active .sentiment-button__label,
    &:hover .sentiment-button__label {
        color: var(--color-text-white, #ffffff);
    }
}
