:host {
    display: block;
}

.rux-timeline {
    position: relative;
    display: grid;
    // grid-gap: 1em;
    grid-template-columns:
        [header] 200px
        [time-0000] 4.2%
        [time-0100] 4.2%
        [time-0200] 4.2%
        [time-0300] 4.2%
        [time-0400] 4.2%
        [time-0500] 4.2%
        [time-0600] 4.2%
        [time-0700] 4.2%
        [time-0800] 4.2%
        [time-0900] 4.2%
        [time-1000] 4.2%
        [time-1100] 4.2%
        [time-1200] 4.2%
        [time-1300] 4.2%
        [time-1400] 4.2%
        [time-1500] 4.2%
        [time-1600] 4.2%
        [time-1700] 4.2%
        [time-1800] 4.2%
        [time-1900] 4.2%
        [time-2000] 4.2%
        [time-2100] 4.2%
        [time-2200] 4.2%
        [time-2300] 4.2%
        [time-2359];

    grid-template-rows: auto;
    // [track-1] 1fr
    // [track-2] 1fr
    // [ruler] 1fr;
    background: var(--color-surface);
}

.rux-playhead {
    width: 5px;
    //   grid-row: 1 / 5;
    //   grid-column: time-0000 / time-2359;

    background: red;
    z-index: 10;

    height: 100%;
    position: absolute;
    top: 0;
    left: 200px;
}
