:host {
    display: block;
    ::-webkit-scrollbar {
        width: 16px;
        height: 16px;
        margin-left: -20px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-active, rgb(43, 101, 155));
        border-radius: 8px;
        border: 3px solid transparent;
        background-clip: padding-box;
    }

    /* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
    ::-webkit-scrollbar-thumb:vertical {
        border-left-width: 4px;
    }

    ::-webkit-scrollbar-thumb:horizontal {
        border-top-width: 4px;
    }

    ::-webkit-scrollbar-thumb:active,
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-primary, rgb(58, 129, 191));
    }

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-corner {
        background-color: var(--color-surface, rgb(27, 45, 62));
    }

    ::-webkit-scrollbar-track:vertical {
        box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
    }

    ::-webkit-scrollbar-track:horizontal {
        box-shadow: inset 1px 3px 3px 0px rgba(0, 0, 0, 0.5);
    }
}

.rux-timeline {
    // scrollbar-color: var(--color-active);
    // overflow: auto;
    // position: relative;
    // display: grid;
    // grid-template-rows: auto;
    // background: var(--color-surface);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.rux-timeline-overlay {
    scrollbar-color: var(--color-active);

    overflow: auto;
    position: relative;
    display: grid;
    // grid-gap: 1em;
    // grid-template-columns: [header] 200px repeat(12, 120px);
    // [time-0000] 120px
    // [time-0100] 120px
    // [time-0200] 120px
    // [time-0300] 120px
    // [time-0400] 120px
    // [time-0500] 120px
    // [time-0600] 120px
    // [time-0700] 120px
    // [time-0800] 120px
    // [time-0900] 120px
    // [time-1000] 120px
    // [time-1100] 120px
    // [time-1200] 120px
    // [time-1300] 120px
    // [time-1400] 120px
    // [time-1500] 120px
    // [time-1600] 120px
    // [time-1700] 120px
    // [time-1800] 120px
    // [time-1900] 120px
    // [time-2000] 120px
    // [time-2100] 120px
    // [time-2200] 120px
    // [time-2300] 120px;
    // [time-2359];

    grid-template-rows: auto;
    background: var(--color-surface);
}

// .rux-playhead {
//     width: 5px;
//     //   grid-row: 1 / 5;
//     //   grid-column: time-0000 / time-2359;

//     background: var(--color-primary);
//     z-index: 10;

//     height: 100%;
//     position: absolute;
//     top: 0;
//     // left: 200px;
//     &:after {
//         width: 0;
//         height: 0;
//         border-left: 12px solid transparent;
//         border-right: 12px solid transparent;
//         border-top: 12px solid var(--color-primary);
//         content: '';
//         position: absolute;
//         left: -9.5px;
//     }
// }

.hidden {
    display: none;
}

.cell {
    // border: 1px solid blue;
    border-right: 0;
    border-top: 0;
    // grid-column: span 60;
    z-index: 9999;
    grid-column: span 1;
}
.cell:nth-child(10n) {
    // background: blue;
}

.cell:nth-child(odd) {
    // background: var(--color-background);
    background: red;
}

.cell:nth-child(even) {
    background: blue;
    // opacity: 10%;
}

.marker {
    background: blue;
}

.rux-playhead {
    width: 2px;
    //   grid-row: 1 / 5;
    //   grid-column: time-0000 / time-2359;

    background: var(--color-primary);
    z-index: 10;

    height: 100%;
    position: absolute;
    top: 0;
    // left: 200px;
    &:after {
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid var(--color-primary);
        content: '';
        position: absolute;
        left: -11.5px;
    }
}
