:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.status-wrapper {
    width: var(--spacing-3);
    font-size: var(--font-size-base); //fixes issue where parent element with larger font-size causes layout shift.
    line-height: var(--line-height-base); //fixes issue where parent element with larger line-height causes layout shift.
}
