:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.status-wrapper {
    height: var(--spacing-3);
    width: var(--spacing-3);
}
