:host {
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    display: inline-block;

    /** @prop --checkbox-label-color: Label text color*/
    --checkbox-label-color: var(--default-text);

    /** @prop --checkbox-background-color: Checkbox background color*/
    --checkbox-background-color: var(--background);

    /** @prop --checkbox-border-color: Checkbox border color*/
    --checkbox-border-color: var(--active);

    /** @prop --checkbox-checked-color: Checkmark color when checked*/
    --checkbox-checked-color: var(--primary);

    /** @prop --checkbox-hover-border-color: Hover border color*/
    --checkbox-hover-border-color: var(--hover);
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-form-field {
    display: flex;
    flex-direction: column;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--default-text);
}

.rux-checkbox {
    display: flex;
    position: relative;
    margin: 0 0 1rem 0;
    line-height: 1.2;

    &--indeterminate {
        input[type='checkbox'] + label::after {
            position: absolute;
            display: flex;
            content: '';
            top: 5px;
            width: 10px;
            height: 5px;
            transform: rotate(0deg);
            border-right: 0px;
            border-top: 0px;
            border-bottom: 2px solid var(--checkbox-checked-color);
            left: 4px;
        }
    }

    input[type='checkbox'] {
        -webkit-appearance: none;
        appearance: none;

        + label {
            position: relative;
            display: flex;

            align-items: center;
            justify-content: flex-start;

            color: var(--checkbox-label-color);
            letter-spacing: 0.5px;
            cursor: pointer;
            margin-left: -7px;

            // Box
            &:before {
                display: flex;
                content: '';

                align-self: start;

                height: 1.125rem;
                width: 1.125rem;

                margin: 0 0.625rem 0 0;

                background-color: var(--checkbox-background-color);
                border: 1px solid var(--checkbox-border-color);
            }
        }

        // checked
        &:checked {
            + label {
                &::after {
                    position: absolute;
                    display: flex;
                    content: '';

                    top: 5px;
                    height: 6px;
                    width: 12px;
                    left: 3px;
                    border-right: 2px solid var(--checkbox-checked-color);
                    border-top: 2px solid var(--checkbox-checked-color);
                    transform: rotate(125deg);
                }
                &::before {
                    border-color: var(--checkbox-border-color);
                }
            }
        }

        &:disabled {
            + label {
                cursor: not-allowed;
                opacity: var(--disabled-opacity);
            }
        }
    }

    input[type='checkbox']:not(:disabled):hover {
        + label {
            &::before {
                border-color: var(--checkbox-hover-border-color);
            }
        }
    }

    &--has-error {
        input[type='checkbox']:not(:disabled):hover + label::before {
            border-color: var(--color-critical);
        }

        input[type='checkbox'],
        input[type='checkbox']:checked {
            + label {
                &:after {
                    border-color: var(--color-critical);
                }
                &::before {
                    border-color: var(--color-critical);
                }
            }
        }
    }

    &--has-text {
        margin-bottom: 0px;
    }

    + .rux-help-text,
    + .rux-error-text {
        margin-bottom: 0.75rem;
    }
}

.rux-help-text {
    margin-top: 0.625rem;
    color: var(--secondary-text);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: normal;
    letter-spacing: 0.5px;
}

.rux-error-text {
    padding-left: 1.625rem;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20128%20128%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FF3030%22%20fill-rule%3D%22evenodd%22%20d%3D%22M64.031%205c8.461%200%2068.88%20107.243%2063.648%20114.184-5.232%206.942-120.805%205.477-127.212%200C-5.941%20113.708%2055.57%205%2064.03%205zm3.45%2075.894l1.822-34.893H56.946l1.82%2034.893h8.715zM56.803%2093.108c0%201.929.547%203.423%201.643%204.483%201.095%201.06%202.642%201.589%204.642%201.589%201.953%200%203.477-.542%204.572-1.625%201.095-1.084%201.643-2.566%201.643-4.447%200-1.952-.542-3.452-1.625-4.5-1.084-1.047-2.613-1.571-4.59-1.571-2.047%200-3.607.512-4.678%201.536-1.072%201.023-1.607%202.535-1.607%204.535z%22%2F%3E%0A%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center left 0rem;
    text-align: left;
    width: fit-content;
    -webkit-order: 3;
    order: 3;
    margin-top: 0.625rem;
    color: var(--color-critical);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: bold;
}
