:host {
    display: block;

    /**
      * @prop --selectMenuBackgroundColor: Background Color of the Select Input
      * @prop --selectMenuTextColor: Text Color of the Select Input
      * @prop --selectMenuBorderColor: Border Color of the Select Input
      * @prop --selectMenuBorderHoverColor: Border Hover Color of the Select Input
      * @prop --selectMenuBorderFocusColor: Border Focus Color of the Select Input
      * @prop --selectMenuInvalidBorder: Border Color of the Invalid Select Input
      * @prop --selectMenuOptHoverBackgroundColor: Background Hover Color of Select Menu Options
      * @prop --selectMenuOptGroupTextColor: Text Color of Select Menu Option Group
      * @prop --selectMenuOptTextHoverColor: Text Hover Color of the Select Menu Options
      * @prop --selecMenutInactiveCaret: Caret Shown When the Select Menu is Closed
      * @prop --selectMenuActiveCaret: Caret Shown When the Select Menu is Open
      * @prop --selectMenuBorderRadius: Border radius for Select Menu
      * @prop --selectMenuLabelColor: Text Color of the Label
      * @prop --selectMenuOptSelectedBackgroundColor: Background Color of the Selected Option
      * @prop --selectMenuOptSelectedTextColor: Text Color of the Selected Option
    */
}

:host([hidden]) {
    display: none;
}

.rux-error-text {
    display: inline-block;
    padding-left: 1.625rem;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20128%20128%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FF3030%22%20fill-rule%3D%22evenodd%22%20d%3D%22M64.031%205c8.461%200%2068.88%20107.243%2063.648%20114.184-5.232%206.942-120.805%205.477-127.212%200C-5.941%20113.708%2055.57%205%2064.03%205zm3.45%2075.894l1.822-34.893H56.946l1.82%2034.893h8.715zM56.803%2093.108c0%201.929.547%203.423%201.643%204.483%201.095%201.06%202.642%201.589%204.642%201.589%201.953%200%203.477-.542%204.572-1.625%201.095-1.084%201.643-2.566%201.643-4.447%200-1.952-.542-3.452-1.625-4.5-1.084-1.047-2.613-1.571-4.59-1.571-2.047%200-3.607.512-4.678%201.536-1.072%201.023-1.607%202.535-1.607%204.535z%22%2F%3E%0A%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center left 0rem;
    text-align: left;
    width: fit-content;
    -webkit-order: 3;
    order: 3;
    margin-top: 0.625rem;
    color: var(--colorCritical);
}

label {
    font-family: var(--fontFamily);
    display: inline-block;
    margin-bottom: 10px;
    color: var(--selectMenuLabelColor);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.rux-select {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 1px solid var(--selectMenuBorderColor);
    border-radius: var(--selectMenuBorderRadius);
    color: var(--selectMenuTextColor);
    font-family: var(--fontFamily);
    font-weight: normal;
    font-size: 1rem;
    padding: 0.438rem 3.125rem 0.438rem 0.5rem;
    background-image: var(--selectMenuInactiveCaret),
        var(--selectMenuBackgroundColor);
    background-position: center right 0.625rem, center left 0rem;
    background-repeat: no-repeat;
    user-select: none;

    &:hover {
        cursor: pointer;
        border: 1px solid var(--selectMenuBorderHoverColor);
    }

    &:active:not(:disabled) {
        background-image: var(--selectMenuActiveCaret),
            var(--selectMenuBackgroundColor);
    }

    &:focus {
        outline: none;
        border: 1px solid var(--selectMenuBorderFocusColor);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        &:hover {
            border: 1px solid var(--selectMenuBorderColor);
        }
    }

    &.rux-select-invalid {
        border: 1px solid var(--selectMenuInvalidBorder);
    }

    &::-ms-expand {
        display: none;
    }

    &:focus::-ms-value {
        background: transparent;
    }

    optgroup {
        color: var(--selectMenuOptGroupTextColor);
        background-color: var(--selectMenuBackgroundColor);
    }

    option {
        opacity: 1;
        color: var(--selectMenuTextColor);
        border-radius: 0px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);

        &:hover {
            color: var(--selectMenuOptTextHoverColor);
            background-color: var(--selectMenuOptHoverBackgroundColor);
        }

        &:focus {
            color: var(--selectMenuOptSelectedTextColor);
            background-color: var(--selectMenuOptSelectedBackgroundColor);
        }
    }
}
