:host {
    /**
  * @prop --input-background-color: the input background color
  */
    --input-background-color: var(--background);
    /**
    * @prop --input-border-color: the input border color
    */
    --input-border-color: var(--active);

    /**
    * @prop --input-text-color: the input text color
    */
    --input-text-color: var(--default-text);
    /**
    * @prop --input-focus-border-color: the input focus border color
    */

    --input-focus-border-color: var(--hover);

    /**
    * @prop --input-selection-background-color: the background color of highlighted text
    */
    --input-selection-background-color: var(--color-secondary-300);

    /**
    * @prop --input-invalid-border-color: the input invalid border color
    */
    --input-invalid-border-color: var(--color-critical);

    display: block;

    .rux-form-field {
        display: flex;
        flex-direction: column;

        font-family: var(--font-family);
        font-size: var(--font-size);
        color: var(--default-text);
    }
    .rux-input {
        box-sizing: border-box;
        order: 2;
        height: 2.125rem;
        width: 100%;
        padding: 0 0.625rem;
        border: 1px solid var(--input-border-color);
        border-radius: 3px;
        font-size: var(--font-size, 1rem);
        color: var(--input-text-color);
        background-color: var(--input-background-color);
        &--invalid {
            border: 1px solid var(--input-invalid-border-color);
        }
        &--disabled {
            opacity: 0.4;
            opacity: var(--disabled-opacity);
            cursor: not-allowed;
            cursor: not-allowed;
        }
        &--search {
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 0.5rem 0.5rem 0.5rem 2rem;
            background: var(--input-background-color)
                url("data:image/svg+xml,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.37 26.457a15.282 15.282 0 000-21.918c-6.176-6.052-16.187-6.052-22.361 0a15.274 15.274 0 00-1.541 20.166c-.367.147-.713.37-1.014.665L.926 34.709a3.056 3.056 0 000 4.383 3.208 3.208 0 004.472 0l9.528-9.339c.352-.345.604-.753.756-1.186 6.137 3.831 14.347 3.124 19.687-2.11zM24.193 4.043c6.454 0 11.686 5.129 11.686 11.455 0 6.326-5.232 11.455-11.686 11.455-6.455 0-11.687-5.129-11.687-11.455 0-6.326 5.232-11.455 11.687-11.455z' fill='%234dacff' fill-rule='evenodd'/%3E%3C/svg%3E")
                10px/0.975rem no-repeat;
        }
    }

    .rux-input {
        &:focus {
            border-color: var(--input-focus-border-color);
            outline: none;
        }
        &:hover {
            border-color: var(--input-focus-border-color);
            outline: none;
        }
        &--disabled:hover {
            border: 1px solid var(--input-border-color);
            color: var(--input-text-color);
        }
        &--invalid:hover {
            border: 1px solid var(--input-invalid-border-color);
        }
        &::placeholder {
            font-size: 1rem;
            font-weight: normal;
            font-family: var(--font-family);
            color: var(--default-text);
            opacity: 0.6;
        }
    }

    .rux-input-label {
        margin-bottom: 0.375rem;
        &__asterisk {
            margin-left: 4px;
        }
    }

    ::selection {
        background-color: var(--input-selection-background-color);
    }

    .rux-form-field--small {
        .rux-input-label {
            font-size: var(--font-size-md);
        }
        .rux-input {
            height: 1.625rem;
            padding: 0.3rem;
            font-size: var(--font-size-md);
        }

        .rux-input--search {
            padding: 0.3rem 0 0.3rem 2rem;
        }
    }
    .rux-help-text {
        margin-top: 0.625rem;
        color: var(--secondary-text);
        font-size: var(--font-size-md);
        font-family: var(--font-family);
        font-weight: normal;
        letter-spacing: 0.5px;
    }

    .rux-error-text {
        padding-left: 1.625rem;
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20128%20128%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FF3030%22%20fill-rule%3D%22evenodd%22%20d%3D%22M64.031%205c8.461%200%2068.88%20107.243%2063.648%20114.184-5.232%206.942-120.805%205.477-127.212%200C-5.941%20113.708%2055.57%205%2064.03%205zm3.45%2075.894l1.822-34.893H56.946l1.82%2034.893h8.715zM56.803%2093.108c0%201.929.547%203.423%201.643%204.483%201.095%201.06%202.642%201.589%204.642%201.589%201.953%200%203.477-.542%204.572-1.625%201.095-1.084%201.643-2.566%201.643-4.447%200-1.952-.542-3.452-1.625-4.5-1.084-1.047-2.613-1.571-4.59-1.571-2.047%200-3.607.512-4.678%201.536-1.072%201.023-1.607%202.535-1.607%204.535z%22%2F%3E%0A%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: center left 0rem;
        text-align: left;
        width: fit-content;
        -webkit-order: 3;
        order: 3;
        margin-top: 0.625rem;
        color: var(--color-critical);
        font-size: var(--font-size-md);
        font-family: var(--font-family);
        font-weight: bold;
    }
}

:host([hidden]) {
    display: none;
}
