/*
**
** 	ASTRO SEGMENTED BUTTON
** 	==========================================================================
**  3.0 Notes
**  Don‘t forget to update Sketch with outline border color

*/

.rux-segmented-button {
  display: inline-flex;
  height: 1.6875rem;

  overflow: hidden;

  padding: 0;
  margin: 0;

  list-style: none;

  border-radius: var(--controlBorderRadius, 3px);
  border: 1px solid var(--segmentedButtonBorderColor, rgb(30, 47, 66));
}

.rux-segmented-button__segment {
  height: 1.6875rem;
  width: auto;
  margin: 0;
  padding: 0;
}

.rux-segmented-button__segment label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 1.5625rem;

  margin: 0;
  padding: 0 0.75rem;

  border: none;
  border-right: 1px solid var(--segmentedButtonBorderColor, rgb(30, 47, 66));

  color: var(--segmentedButtonTextColor, rgb(255, 255, 255));
  background-color: var(--segmentedButtonBackgroundColor, rgb(0, 90, 143));

  font-size: 0.875rem;

  user-select: none;
}

.rux-segmented-button__segment:last-child label {
  border-right: none !important;
}

.rux-segmented-button__segment input {
  display: none !important;
}

.rux-segmented-button__segment label:hover {
  background-color: var(
    --segmentedButtonHoverBackgroundColor,
    rgb(58, 129, 191)
  );
  color: var(--segmentedButtonHoverTextColor, rgb(255, 255, 255));
  outline: none;
}

.rux-segmented-button__segment input:checked + label {
  background-color: var(
    --segmentedButtonSelectedBackgroundColor,
    rgb(58, 129, 191)
  );
  color: var(--segmentedButtonSelectedTextColor, rgb(255, 255, 255));
  box-shadow: var(
    --segmentedButtonSelectedBoxShadow,
    inset 0 2px 4px rgba(0, 0, 0, 0.14),
    inset 0 3px 4px rgba(0, 0, 0, 0.12),
    inset 0 1px 5px rgba(0, 0, 0, 0.2)
  );
  transition: box-shadow 0.067 ease-out;
}
