/*
**
** 	ASTRO SLIDER
** 	==========================================================================
**  3.0 Notes
**  Removed SVG dependancy for the thumb element
**  Updated to 3.0 look/feel
**  Added CSS Custom Property support for light/dark theming
**  2.1 Notes
**  - Added support for bifurcated range slider
**	1.4 Notes
**	- Added rux_ compatible classes to all satcom_ NOTE: satcom_ will be removed in a future version
**	- Removed prefixed linear gradients
**  - Removed focus ring from Chrome (probably need an actual focus solution)
**  - Updated SVG
*/

/* 
    Internal Variables 
    Because Chrome, Firefox and IE all require explicit declarations to style
    the slider/range component these minimize the need to add repeat values
    between the three
  */

:root {
  --thumbSize: var(--controlOptionSize, 1.25rem);

  --thumbShadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 1px 9px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.2);
  --thumbShadowHover: 0 6px 10px rgba(0, 0, 0, 0.14),
    0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2);
  --thumbShadowActive: inset 0 0 0 4px var(--colorPrimary, rgb(0, 90, 143)),
    0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 4px rgba(0, 0, 0, 0.12),
    0 1px 1px rgba(0, 0, 0, 0.2);

  --trackHeight: 2px;
  --trackCursor: pointer;
}

.rux-slider label input {
  margin-left: auto;
  margin-right: 0;
}

.rux-range,
.satcom-range {
  appearance: none;

  background: none;

  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

.rux-range::-webkit-slider-runnable-track,
.satcom-range::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;

  /* width: 100%; */
  height: var(--trackHeight);
  cursor: var(--trackCursor);

  background-color: var(--sliderTrackBackgroundColor, rgb(217, 217, 217));
  outline: 1px solid var(--sliderTrackBorderColor, transparent);

  background-image: linear-gradient(
    to right,
    var(--sliderSelectedTrackBackgroundColor, rgb(77, 172, 255)) 0%,
    var(--sliderSelectedTrackBackgroundColor, rgb(77, 172, 255))
      calc(1% * var(--value)),
    var(--sliderTrackBackgroundColor, rgb(217, 217, 217))
      calc(1% * var(--value)),
    var(--sliderTrackBackgroundColor, rgb(217, 217, 217)) 100%
  );
}

.rux-range::-moz-range-track {
  display: flex;
  align-items: center;

  /* width: 100%; */
  height: var(--trackHeight);
  cursor: var(--trackCursor);

  background-color: var(--sliderTrackBackgroundColor, rgb(217, 217, 217));
  outline: 1px solid var(--sliderTrackBorderColor, transparent);
}

.rux-range::-moz-range-progress {
  background-color: var(
    --sliderSelectedTrackBackgroundColor,
    rgb(77, 172, 255)
  );
}

.rux-range:disabled {
  opacity: var(--disabledOpacity, 0.4);
  cursor: var(--disabledCursor, not-allowed);
}

.rux-range::-ms-track {
  display: flex;
  align-items: center;

  /* width: 100%; */
  height: 1.25rem;
  padding: 2px 0;

  cursor: pointer;
  color: transparent;
  background-color: transparent;
  border: none;
  /* background-color: var(--sliderTrackBackgroundColor, rgb(217, 217, 217)); */
  outline: 1px solid transparent;
}

.rux-range::-ms-fill-lower {
  height: 2px;
  background-color: rgb(77, 172, 255);
}

.rux-range::-ms-fill-upper {
  height: 2px;
  background-color: var(--sliderTrackBackgroundColor, rgb(217, 217, 217));
}

.rux-range::-webkit-slider-thumb {
  -webkit-appearance: none;

  position: relative;

  height: var(--thumbSize);
  width: var(--thumbSize);

  border-radius: 100%;
  border: 1px solid var(--sliderThumbBorderColor, rgb(255, 255, 255));
  background-color: var(--sliderThumbBackgroundColor, rgb(0, 90, 143));

  cursor: pointer;
  box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.9), var(--thumbShadow);

  outline: none !important;
}

input:-moz-focusring {
  outline: none;
}

.rux-range::-moz-range-thumb {
  -moz-appearance: none;

  position: relative;

  height: var(--thumbSize);
  width: var(--thumbSize);

  border-radius: 100%;
  border: 1px solid var(--sliderThumbBorderColor, rgb(255, 255, 255));
  background-color: var(--sliderThumbBackgroundColor, rgb(0, 90, 143));

  cursor: pointer;
  box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.9), var(--thumbShadow);
}

.rux-range:disabled::-moz-range-thumb {
  cursor: var(--disabledCursor, not-allowed);
}

.rux-range::-ms-thumb {
  position: relative;

  height: 1.25rem;
  width: 1.25rem;

  border-radius: 100%;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 90, 143);

  cursor: pointer;
  box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.9),
    0 3px 5px rgba(0, 0, 0, 0.14), 0 1px 9px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.2);
}

.rux-range:disabled::-webkit-slider-runnable-track,
.satcom-range:disabled::-webkit-slider-runnable-track {
  opacity: var(--disabledOpacity, 0.4);
  cursor: var(--disabledCursor, not-allowed);
}

.rux-range:disabled::-webkit-slider-thumb,
.satcom-range:disabled::-webkit-slider-thumbtrack {
  cursor: var(--disabledCursor, not-allowed);
}

.rux-range:disabled::-ms-thumb {
  opacity: 0.4;
  cursor: not-allowed;
}

.rux-range:not(:disabled)::-webkit-slider-thumb:active,
.satcom-range:not(:disabled)::-webkit-slider-thumb:active {
  border-color: var(--colorSecondary, rgb(77, 172, 255));
  background-color: rgb(255, 255, 255);
  box-shadow: var(--thumbShadowActive);
}

.rux-range:not(:disabled)::-webkit-slider-thumb:focus,
.rux-range:not(:disabled)::-webkit-slider-thumb:hover:not(:active),
.satcom-range:not(:disabled)::-webkit-slider-thumb:focus,
.satcom-range:not(:disabled)::-webkit-slider-thumb:hover:not(:active) {
  background-color: var(--sliderHoverThumbBackgroundColor, rgb(58, 129, 191));
  box-shadow: var(--thumbShadowHover);
}
