/*
**
** 	ASTRO TOGGLE BUTTONS
** 	==========================================================================
**  3.0 Notes
**  - Breaking change to markup of toggle button
**  2.1 Notes
**	- Moved Pushbuttons to its own style sheet
**	1.4 Notes
**	- Added rux_ and BEM compatible classes to all satcom_ NOTE: satcom_ will be removed in a future version
**	- Removed prefixed linear gradients
**	- Removed prefixed transition
**  - Fixed added colon to checked pseudo class (e.g., checked became :checked)
**  - Alignment issue fixed on toggle button label
**  - Updated to WCAG colors
**  - Updated transition speed
*/

.rux-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  /* height: 1.175rem; */
  /* width: 2.3875rem; */
  height: 22px;
  width: 42px;

  user-select: none;
  overflow: hidden;
}

.rux-toggle__input {
  display: none !important;
}

.rux-toggle__button {
  display: flex;
  /* justify-content: center;
  align-content: center; */
  align-items: center;
}

.rux-toggle__button::before {
  position: relative;

  display: flex;
  content: "";

  border-radius: 5.5px;
  border: 1px solid var(--toggleTrackBorderColor, rgb(122, 122, 122));
  background-color: var(--toggleTrackBackgroundColor, rgb(204, 204, 204));

  height: 11px;
  width: 32px;

  transition: 0.167s background-color ease-in-out;
}

/* Track */
.rux-toggle__input:checked + .rux-toggle__button::before {
  background-color: var(
    --toggleSelectedTrackBackgroundColor,
    rgb(77, 172, 255)
  );
  border-color: var(--toggleSelectedTrackBorderColor, rgb(27, 122, 153));
}

.rux-toggle__button::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  z-index: 1;
  height: 19px;
  width: 19px;

  border-radius: 50%;
  border: 1px solid var(--toggleThumbBorderColor, rgb(255, 255, 255));
  background-color: var(--toggleThumbBackgroundColor, rgb(255, 255, 255));

  transition: 0.167s left ease-in-out, 0.167s border-color ease-in-out;
}

.rux-toggle__input:disabled + .rux-toggle__button::after {
  background-color: var(
    --toggleDisabledThumbBackgroundColor,
    rgb(163, 163, 163)
  );
  border-color: var(--toggleDisabledThumbBorderColor, rgb(163, 163, 163));
}

.rux-toggle__input:checked + .rux-toggle__button::after {
  left: calc(50% + 2px);
  border-color: var(--toggleSelectedThumbBorderColor, rgb(255, 255, 255));
}

.rux-toggle__input:checked:disabled + .rux-toggle__button::after {
  border-color: var(
    --toggleDisabledSelectedThumbBorderColor,
    rgb(163, 163, 163)
  );
  cursor: not-allowed;
}

.rux-toggle__input:disabled + .rux-toggle__button::before {
  opacity: var(--disabledOpacity, 0.4);
  cursor: not-allowed;
}
