/*
**
** 	ASTRO TOGGLE BUTTONS
** 	==========================================================================
**  3.0 Notes
**  - Breaking change to markup of toggle button
**  2.1 Notes
**	- Moved Pushbuttons to its own style sheet
**	1.4 Notes
**	- Added rux_ and BEM compatible classes to all satcom_ NOTE: satcom_ will be removed in a future version
**	- Removed prefixed linear gradients
**	- Removed prefixed transition
**  - Fixed added colon to checked pseudo class (e.g., checked became :checked)
**  - Alignment issue fixed on toggle button label
**  - Updated to WCAG colors
**  - Updated transition speed
*/

.rux-toggle--legacy,
.satcom-toggle--legacy {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  -webkit-font-smoothing: subpixel-antialiased;

  height: 1.3125rem;
  width: 4.375rem;
  border-radius: var(--defaultBorderRadius, 0.1875rem);
  border: 1px solid var(--toggleBaseBorderColor, rgb(0, 0, 0));
  /* box-shadow: inset 0 0 2px rgba(0, 0, 0, 1); */
  user-select: none;
  overflow: hidden;
}

.rux-toggle--legacy__input,
.satcom-toggle--legacy input {
  display: none !important;
}

.rux-toggle--legacy__button {
  position: absolute;
  display: flex;

  justify-content: space-around;
  align-content: center;
  align-items: center;

  top: 0;
  left: 0;

  font-size: 0.75rem !important;

  height: 100%;
  width: 100%;
}

.rux-toggle--legacy__button span {
  display: flex;

  align-content: center;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;
  z-index: 1;

  text-transform: uppercase;
}

.rux-toggle--legacy__button::before {
  position: absolute;
  content: "";
  display: block;

  height: 100%;
  width: 100%;

  border-radius: 0.1875rem;

  background: var(--toggleBaseBackgroundColor, rgb(0, 0, 0));
}

.rux-toggle--legacy__button::after {
  content: "";

  display: block;

  position: absolute;

  box-sizing: border-box;

  top: 0;
  left: 0;

  z-index: 10;

  transition: left 0.1s ease-out;

  width: 50%;
  height: 100%;

  border-radius: 0.125rem;

  background: var(--toggleButtonBackgroundColor, rgb(0, 90, 143))
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6'%3E %3Cdefs%3E %3ClinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3E %3Cstop offset='0%25' stop-color='%23000'/%3E %3Cstop offset='100%25' stop-color='%23023861' stop-opacity='0'/%3E %3C/linearGradient%3E %3C/defs%3E %3Ccircle cx='3' cy='3' r='3' fill='url(%23a)' fill-rule='evenodd'/%3E %3C/svg%3E")
    center center no-repeat;

  box-shadow: var(
    --toggleButtonBoxShadow,
    0 0 3px rgba(0, 0, 0, 0.5),
    1px 0 2px rgba(0, 0, 0, 0.6)
  );
}

.rux-toggle--legacy .on {
  font-weight: 600;
  color: var(--toggleBaseSelectedTextColor, rgb(91, 255, 0));
}

.rux-toggle--legacy .off {
  color: var(--toggleBaseTextColor, rgb(255, 255, 255));
}

.rux-toggle--legacy__input:disabled + .rux-toggle--legacy__button {
  opacity: var(--disabledOpacity, 0.4);
  cursor: not-allowed;
}

.rux-toggle--legacy__input:checked + .rux-toggle--legacy__button::after {
  left: 50%;
  box-shadow: var(
    --toggleButtonSelectedBoxShadow,
    0 0 3px rgba(0, 0, 0, 0.5),
    -1px 0 2px rgba(0, 0, 0, 0.6)
  );
}
