.rux-tree {
  display: inline-block;
  box-sizing: border-box;

  width: 100%;
  padding: 0;
  margin: 0;

  font-size: 1rem;

  background-color: var(--treeBackgroundColor, rgb(30, 47, 66));

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rux-tree--compact {
  font-size: 0.875rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.rux-tree ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rux-tree li:not(:first-child) {
  border-top: 1px solid var(--treeItemBorderColor, rgb(40, 63, 88));
}

/* Parent Elements */
.rux-tree__parent-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  padding: 0 0 0 1.25rem;
  margin: 0;
}

.rux-tree__label {
  flex-grow: 1;
  padding: 0.5rem;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 7px);
}

.rux-tree--compact .rux-tree__label {
  padding: 0.35rem;
}

.rux-tree__arrow {
  position: relative;
  cursor: pointer;
  width: 7px;
  visibility: hidden;
}

.rux-tree__arrow::after {
  content: "";

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent
    var(--treeAccentColor, rgb(77, 172, 255));
  display: inline-block;
}

.has-children .rux-tree__arrow {
  visibility: visible;
}

/* Child Elements */
.rux-tree__children {
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  height: 0;
}

.rux-tree__child {
  padding-left: 3rem;
}

/* Expanded */
.expanded .rux-tree__arrow::after {
  transform: rotate(90deg);
}

.expanded .rux-tree__children {
  display: block;
  height: auto;
}

.rux-tree .selected {
  background-color: var(--treeSelectedBackgroundColor, rgb(0, 68, 107));
  box-shadow: inset 5px 0 var(--treeSelectedAccentColor, rgb(77, 172, 255));

  color: var(--treeSelectedTextColor, rgb(255, 255, 255));
}

.rux-tree .selected .rux-tree__arrow::after {
  border-color: transparent transparent transparent
    var(--treeSelectedAccentColor, rgb(77, 172, 255));
}
