:host {
    display: table-header-group;
    box-shadow: var(--tableHeaderBoxShadow);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--tableHeaderBorderColor);
}

:host([hidden]) {
    display: none;
}
