:host {
    /**
  * @prop --inputBackgroundColor: the input background color
  */
    /**
    * @prop --inputBorderColor: the input border color
    */
    /**
    * @prop --inputTextColor: the input text color
    */
    /**
    * @prop --inputFocusBorderColor: the input focus border color
    */
    /**
    * @prop --inputFocusTextColor: the input focus text color
    */
    /**
    * @prop --inputSelectionBackgroundColor: the background color of highlighted text
    */
    /**
    * @prop --inputInvalidBorderColor: the input invalid border color
    */
    /**
    * @prop --inputSearchIcon: the input search icon
    */
    /**
    * @prop --inputSearchCancel: the input search cancel
    */

    display: block;

    .rux-form-field {
        display: flex;
        flex-direction: column;

        font-family: var(--fontFamily);
        font-size: var(--fontSize);
        color: var(--fontColor);
    }
    .rux-input {
        box-sizing: border-box;
        order: 2;
        height: 2.125rem;
        width: 100%;
        padding: 0 0.625rem;
        border: 1px solid var(--inputBorderColor);
        border-radius: 3px;
        font-size: var(--fontSize, 1rem);
        color: var(--inputTextColor);
        background-color: var(--inputBackgroundColor);
        &--invalid {
            border: 1px solid var(--inputInvalidBorderColor);
        }
        &--disabled {
            opacity: 0.4;
            opacity: var(--disabledOpacity);
            cursor: not-allowed;
            cursor: var(--disabledCursor);
        }
        &--search {
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 0.5rem 0.5rem 0.5rem 2rem;
            background: var(--inputBackgroundColor) var(--inputSearchIcon) 10px/0.975rem
                no-repeat;
        }
    }

    .rux-input {
        &:focus {
            border-color: var(--inputFocusBorderColor);
            outline: none;
            color: var(--inputFocusTextColor);
        }
        &:hover {
            border-color: var(--inputFocusBorderColor);
            outline: none;
            color: var(--inputFocusTextColor);
        }
        &--disabled:hover {
            border: 1px solid var(--inputBorderColor);
            color: var(--inputTextColor);
        }
        &--invalid:hover {
            border: 1px solid var(--inputInvalidBorderColor);
        }
        &::placeholder {
            font-size: 1rem;
            font-weight: normal;
            font-family: var(--fontFamily);
            color: var(--defaultText);
            opacity: 0.6;
        }
    }

    .rux-input-label {
        margin-bottom: 0.375rem;
        &__asterisk {
            margin-left: 4px;
        }
    }

    ::selection {
        background-color: var(--inputSelectionBackgroundColor);
    }

    .rux-form-field--small {
        .rux-input-label {
            font-size: var(--fontSizeMD);
        }
        .rux-input {
            height: 1.625rem;
            padding: 0.3rem;
            font-size: var(--fontSizeMD);
        }

        .rux-input--search {
            padding: 0.3rem 0 0.3rem 2rem;
        }
    }
    .rux-help-text {
        margin-top: 0.625rem;
        color: var(--secondaryText);
        font-size: 0.875rem;
        font-size: var(--fontSizeMD);
        font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
        font-family: var(--fontFamily);
        font-weight: normal;
        letter-spacing: 0.5px;
    }

    .rux-error-text {
        padding-left: 1.625rem;
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20128%20128%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FF3030%22%20fill-rule%3D%22evenodd%22%20d%3D%22M64.031%205c8.461%200%2068.88%20107.243%2063.648%20114.184-5.232%206.942-120.805%205.477-127.212%200C-5.941%20113.708%2055.57%205%2064.03%205zm3.45%2075.894l1.822-34.893H56.946l1.82%2034.893h8.715zM56.803%2093.108c0%201.929.547%203.423%201.643%204.483%201.095%201.06%202.642%201.589%204.642%201.589%201.953%200%203.477-.542%204.572-1.625%201.095-1.084%201.643-2.566%201.643-4.447%200-1.952-.542-3.452-1.625-4.5-1.084-1.047-2.613-1.571-4.59-1.571-2.047%200-3.607.512-4.678%201.536-1.072%201.023-1.607%202.535-1.607%204.535z%22%2F%3E%0A%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: center left 0rem;
        text-align: left;
        width: fit-content;
        -webkit-order: 3;
        order: 3;
        margin-top: 0.625rem;
        color: var(--colorCritical);
        font-size: 0.875rem;
        font-size: var(--fontSizeMD);
        font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
        font-family: var(--fontFamily);
        font-weight: bold;
    }
}
