:host {
}

.rux-track {
    background: var(--color-background-surface-default);
    width: fit-content;
    border-bottom: 2px solid var(--color-background-base-default);
}

.grid-line {
    grid-row: 1/-1;
    width: 1px;
    background-color: var(--color-background-base-default);
    opacity: 0.8;
    pointer-events: none;
}

.rux-track__header {
    box-sizing: border-box;
    padding: 11px 8px 13px 8px;
    background: var(--color-background-surface-default);
    border-right: 2px solid var(--color-background-base-default);
    display: flex;
    align-items: center;
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    position: sticky;
    left: 0;
    min-width: 184px;
    z-index: 2;
}

.rux-timeline {
    scrollbar-color: var(--color-border-interactive-muted);
    position: relative;
    display: grid;
    grid-template-rows: auto;
    background: var(--color-background-surface-default);
}

.rux-track__played {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: auto;
    background: var(--color-background-surface-selected);
}

.hidden {
    display: none;
}
