:host {
}

::slotted(rux-breadcrumb-item) {
    margin-inline-end: var(--spacing-2);
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    flex-wrap: wrap;

    & li {
        display: flex;
        align-items: center;
        &:after {
            content: '';
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.29 6.70978C8.9 7.09978 8.9 7.72978 9.29 8.11978L13.17 11.9998L9.29 15.8798C8.9 16.2698 8.9 16.8998 9.29 17.2898C9.68 17.6798 10.31 17.6798 10.7 17.2898L15.29 12.6998C15.68 12.3098 15.68 11.6798 15.29 11.2898L10.7 6.69978C10.32 6.31978 9.68 6.31978 9.29 6.70978Z' fill='%23A4ABB6'%3E%3C/path%3E%3C/svg%3E");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
            width: var(--spacing-4);
            height: var(--spacing-4);
            padding-inline-start: var(--spacing-2);
        }
        &:last-child::after {
            display: none;
        }
    }
}
