:host {
    display: block;
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-popup__content {
    position: absolute;
    color: white;
    padding: 12px;
    display: none;
    border-radius: var(--radius-base);
    background: var(--color-background-base-default);
    border: 1px solid var(--color-interactive-muted);
}

.rux-popup__trigger {
    display: contents;
}

.rux-popup__content--menu {
    padding: 0;
}

.rux-popup {
    // position: relative;
}

.rux-popup-arrow {
    position: absolute;
    background: #2b659b;
    // background: linear-gradient(315deg, #232629 50%, #101923 50%); works great for a top placed menu, not for others lol
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
}
