:host {
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    display: inline-block;

    /** @prop --checkbox-label-color: Label text color*/
    --checkbox-label-color: var(--default-text);

    /** @prop --checkbox-background-color: Checkbox background color*/
    --checkbox-background-color: var(--background);

    /** @prop --checkbox-border-color: Checkbox border color*/
    --checkbox-border-color: var(--active);

    /** @prop --checkbox-checked-color: Checkmark color when checked*/
    --checkbox-checked-color: var(--primary);

    /** @prop --checkbox-hover-border-color: Hover border color*/
    --checkbox-hover-border-color: var(--hover);
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-form-field {
    display: flex;
    flex-direction: column;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--default-text);
}

.rux-checkbox {
    display: flex;
    position: relative;
    line-height: 1.2;

    &--indeterminate {
        input[type='checkbox'] + label::after {
            position: absolute;
            display: flex;
            content: '';
            top: 5px;
            width: 10px;
            height: 5px;
            transform: rotate(0deg);
            border-right: 0px;
            border-top: 0px;
            border-bottom: 2px solid var(--checkbox-checked-color);
            left: 4px;
        }
    }

    input[type='checkbox'] {
        -webkit-appearance: none;
        appearance: none;

        + label {
            position: relative;
            display: flex;

            align-items: center;
            justify-content: flex-start;

            color: var(--checkbox-label-color);
            letter-spacing: 0.5px;
            cursor: pointer;
            margin-left: -7px;

            // Box
            &:before {
                display: flex;
                content: '';

                align-self: start;

                height: 1.125rem;
                width: 1.125rem;

                margin: 0 0.625rem 0 0;

                background-color: var(--checkbox-background-color);
                border: 1px solid var(--checkbox-border-color);
            }
        }

        // checked
        &:checked {
            + label {
                &::after {
                    position: absolute;
                    display: flex;
                    content: '';

                    top: 5px;
                    height: 6px;
                    width: 12px;
                    left: 3px;
                    border-right: 2px solid var(--checkbox-checked-color);
                    border-top: 2px solid var(--checkbox-checked-color);
                    transform: rotate(125deg);
                }
                &::before {
                    border-color: var(--checkbox-border-color);
                }
            }
        }

        &:disabled {
            + label {
                cursor: not-allowed;
                opacity: var(--disabled-opacity);
            }
        }
    }

    input[type='checkbox']:not(:disabled):hover {
        + label {
            &::before {
                border-color: var(--checkbox-hover-border-color);
            }
        }
    }

    &--has-text {
        margin-bottom: 0px;
    }

    + .rux-help-text {
        margin-bottom: 0.75rem;
    }
}

.rux-help-text {
    margin-top: 0.625rem;
    color: var(--default-text);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: normal;
    letter-spacing: 0.5px;
}
