:host {
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    display: inline-block;

    /** @prop --checkbox-label-color: [DEPRECATED] Label text color */
    --checkbox-label-color: var(--color-text-primary);

    /** @prop --checkbox-background-color: [DEPRECATED] Checkbox background color */
    --checkbox-background-color: var(--color-background-base-default);

    /** @prop --checkbox-border-color: [DEPRECATED] Checkbox border color */
    --checkbox-border-color: var(--color-border-interactive-muted);

    /** @prop --checkbox-checked-color: [DEPRECATED] Checkmark color when checked */
    --checkbox-checked-color: var(--color-background-interactive-default);

    /** @prop --checkbox-hover-border-color: [DEPRECATED] Hover border color */
    --checkbox-hover-border-color: var(--color-background-interactive-hover);

    // Internal CSS custom properties. Will become Component Design Tokens.
    --_checkbox-checkmark-color-fill: var(--color-border-interactive-default);
    --_checkbox-color-border: var(--color-border-interactive-muted);
    --_checkbox-color-background: var(--color-background-base-default);
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-form-field {
    display: flex;
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    letter-spacing: var(--font-body-1-letter-spacing);
    font-weight: var(--font-body-1-font-weight);
    color: var(--color-text-primary);
}

label {
    display: flex;
}
.rux-checkbox {
    display: flex;
    cursor: pointer;

    &--disabled {
        opacity: var(--disabled-opacity);
        cursor: not-allowed;
    }

    &__input {
        position: absolute;
        pointer-events: none;
        width: 18px;
        height: 18px;
        opacity: 0;
        margin: 0;

        &--no-label {
            margin-right: 0;
        }
    }
}

.rux-checkbox:not(.rux-checkbox--disabled) .rux-checkbox__control:hover {
    --_checkbox-color-border: var(--color-border-interactive-hover);
}

.rux-checkbox__label {
    margin-left: 0.625rem; //10px;
}

.rux-help-text {
    margin-top: 0.625rem;
    color: var(--color-text-primary);
    font-size: var(--font-body-2-font-size);
    font-family: var(--font-body-2-font-family);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);
}
