:host {
    display: inline-block;
}

.hidden,
:host([hidden]) {
    display: none;
}

.rux-form-field {
    display: flex;
    flex-direction: column;
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    letter-spacing: var(--font-body-1-letter-spacing);
    font-weight: var(--font-body-1-font-weight);
    color: var(--color-text-primary);
}

.rux-checkbox {
    display: flex;
    line-height: var(--line-height-base);

    &__input {
        appearance: none;
        -webkit-appearance: none;
        width: var(--spacing-6);
        height: var(--spacing-6);
        margin: var(--spacing-0);
        margin-right: var(--spacing-2);

        &--no-label {
            margin-right: var(--spacing-0);
        }

        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' fill='%23101923'/%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' stroke='%232B659B'/%3E%3C/svg%3E");

        &:checked {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' fill='%23101923'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9149 17.2712L12.0621 15.6329L12.0621 15.6329L17.7978 7.44138L16.1595 6.29423L10.4238 14.4857L7.14719 12.1915L6.00004 13.8298L9.27661 16.124L9.2766 16.1241L10.9149 17.2712L10.9149 17.2712L10.9149 17.2712Z' fill='%234DACFF'/%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' stroke='%232B659B'/%3E%3C/svg%3E");
        }

        &:indeterminate {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' fill='%23101923'/%3E%3Crect x='7' y='11' width='10' height='2' fill='%234DACFF'/%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' stroke='%232B659B'/%3E%3C/svg%3E");
        }

        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' fill='%23101923'/%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' stroke='%2392CBFF'/%3E%3C/svg%3E%0A");

            &:indeterminate {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' fill='%23101923'/%3E%3Crect x='7' y='11' width='10' height='2' fill='%234DACFF'/%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' stroke='%2392CBFF'/%3E%3C/svg%3E ");
            }

            &:checked {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' fill='%23101923'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9149 17.2712L12.0621 15.6329L12.0621 15.6329L17.7978 7.44138L16.1595 6.29423L10.4238 14.4857L7.14719 12.1915L6.00004 13.8298L9.27661 16.124L9.2766 16.1241L10.9149 17.2712L10.9149 17.2712L10.9149 17.2712Z' fill='%234DACFF'/%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' stroke='%2392CBFF'/%3E%3C/svg%3E");
            }
        }

        &:disabled {
            cursor: not-allowed;
            opacity: var(--opacity-disabled);

            + label {
                cursor: not-allowed;
                opacity: var(--opacity-disabled);
            }

            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' fill='%23101923'/%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' stroke='%232B659B'/%3E%3C/svg%3E");
            }

            &:checked {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' fill='%23101923'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9149 17.2712L12.0621 15.6329L12.0621 15.6329L17.7978 7.44138L16.1595 6.29423L10.4238 14.4857L7.14719 12.1915L6.00004 13.8298L9.27661 16.124L9.2766 16.1241L10.9149 17.2712L10.9149 17.2712L10.9149 17.2712Z' fill='%234DACFF'/%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' stroke='%232B659B'/%3E%3C/svg%3E");
            }

            &:indeterminate {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' fill='%23101923'/%3E%3Crect x='7' y='11' width='10' height='2' fill='%234DACFF'/%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='1.5' stroke='%232B659B'/%3E%3C/svg%3E");
            }
        }
    }
}

.rux-help-text {
    margin-top: calc(var(--spacing-2) + var(--spacing-050));
    color: var(--color-text-primary);
    font-size: var(--font-body-2-font-size);
    font-family: var(--font-body-2-font-family);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);
}
