@use '../../common/functional-components/FormFieldMessage/form-field-message.scss';

:host {
    /* reference */
    --border-color: var(--color-border-interactive-muted);

    /* display */
    display: block;
}

:host([invalid]) {
    /* reference */
    --border-color: var(--color-text-error);
}

:host([hidden]) {
    display: none;
}

::slotted(rux-radio) {
    /* display */
    display: block;
}

::slotted(rux-radio:not(:first-child)) {
    margin-block-start: 1rem;
}

[part='label'] {
    margin-bottom: var(--spacing-input-label-top);
}

[part='required']::after {
    content: ' *';
}

[part='options'] {
    padding: calc(4 * var(--scale));
    box-shadow: var(--border-color, CurrentColor) 0 0 0 1px inset;
    border-radius: calc(0.75 * var(--scale));
}
