@use '../../common/functional-components/FormFieldMessage/form-field-message.scss';

:host {
    /** @prop --radiogroup-border-color: the radio group border color */
    --radiogroup-border-color: var(--color-active);

    display: block;
}

.hidden,
:host([hidden]) {
    display: none;
}

::slotted(rux-radio) {
    display: block;
    margin-bottom: 0.625rem; //10px
}

::slotted(rux-radio:last-of-type) {
    margin-bottom: 0;
}

.rux-radio-group {
    padding: 1rem; // 16px
    border: 1px solid var(--radiogroup-border-color, rgb(43, 101, 155));
    border-radius: 3px;
}
.rux-radio-group--invalid {
    border: 1px solid var(--color-critical);
}

.rux-label {
    margin-bottom: var(--spacing-input-label-top);
}
