@use '../../common/functional-components/FormFieldMessage/form-field-message.scss';

:host {
    display: block;
}

.hidden,
:host([hidden]) {
    display: none;
}

::slotted(rux-radio) {
    display: block;
    margin-bottom: 0.625rem; //10px
}

::slotted(rux-radio:last-of-type) {
    margin-bottom: 0;
}

.rux-radio-group {
    padding: 1rem; // 16px
    border: 1px solid var(--color-border-interactive-muted);
    border-radius: var(--radius-base);
}
.rux-radio-group--invalid {
    border: 1px solid var(--color-text-error);
}

.rux-label {
    margin-bottom: var(--spacing-input-label-top);
    &__asterisk {
        margin-left: 4px;
    }
}
