:host {
    /**
    *   @prop --tab-border-color: Tab border color
    */
    --tab-border-color: transparent;

    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    min-height: 5.625rem;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    contain: content; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}
:host([hidden]) {
    display: none;
}

:host([small]) {
    min-height: 3.125rem;
    font-size: 1rem;
}
