:host {
    /** @prop() --log-header-background-color: the log header background color */
    --log-header-background-color: var(--color-gsb-global-status-bar);

    /** @prop() --log-filter-background-color: the log filter background color */
    --log-filter-background-color: var(--color-primary-alt);

    /** @prop() --log-filter-text-color: the log filter text color */
    --log-filter-text-color: var(--color-inverse-text);

    display: block;
    overflow: hidden;
}

:host([hidden]) {
    display: none;
}

rux-table {
    --table-header-background-color: var(--log-header-background-color);
}

.rux-log__header-event-cell {
    width: 80%;
}

.header-event-container {
    display: flex;
    align-items: center;
}

.rux-log__filter {
    margin-left: auto;
}

rux-table-header-cell {
    width: 1%;
}

.rux-log__notification {
    width: 2000%;
    align-content: center;
    color: var(--log-filter-text-color);
    background-color: var(--log-filter-background-color);
    padding: 0.5rem;
}
